@charset "utf-8";

html, body, div#wrapper {height: 100%;}

body > div#wrapper {height: auto; min-height: 100%;}

div#main {padding-bottom: 82px;}

div#footer {position: relative;
	margin-top: -82px;
	height: 82px;
	clear:both;} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */