@charset "utf-8";
/* CSS Document */

/* サイドナビ
-----------------------------------------*/
#side {
	float:right;
	width:184px;
	background:url(img/side_bg.gif) repeat-y left;
}
#side ul {
	background:url(img/side_foot.gif) no-repeat bottom;
	padding-bottom:22px;
	line-height:1.2;
}
#side ul li {
	padding-bottom:1px;
	background:url(img/side_border.gif) no-repeat bottom center;
}
#side ul li a {
	display:block;
	width:164px;
	margin-left:2px;
	background: url(img/side_icon_off.gif) no-repeat 6px 12px;
	padding:10px 0 10px 16px;
	color:#333;
	text-decoration:none;
}
#side ul li a:hover {
	background:#82C929 url(img/side_icon_on.gif) no-repeat 6px 12px;
	color:#FFF;
}


/* 現在ページハイライト
-----------------------------------------*/
body#dogmaster div#side ul li#nDogmaster a,
body#animalwelfare div#side ul li#nAnimalwelfare a,
body#animaltherapy div#side ul li#nAnimaltherapy a,
body#pettrimmer div#side ul li#nPettrimmer a,
body#petesthe div#side ul li#nPetesthe a,
body#dogcafe div#side ul li#nDogcafe a,
body#animalnurse div#side ul li#nAnimalnurse a,
body#dogtrainer div#side ul li#nDogtrainer a,
body#zookeeper div#side ul li#nZookeeper a,
body#dolphintrainer div#side ul li#nDolphintrainer a,
body#aquarist div#side ul li#nAquarist a,
body#wildanimal div#side ul li#nWildanimal a,
body#flowershop div#side ul li#nFlowershop	 a,
body#bridalflower div#side ul li#nBridalflower a,
body#florist div#side ul li#nFlorist a,
body#organicfood div#side ul li#nOrganicfood a,
body#brandingredient div#side ul li#nBrandingredient a,
body#farmcafe div#side ul li#nFarmcafe a,
body#gardeningcultivation div#side ul li#nGardeningcultivation a,
body#graduatecourse div#side ul li#nGraduatecourse a {
	background:#82C929 url(img/side_icon_on.gif) no-repeat 6px 12px;
	color:#FFF;
}

/* main
-----------------------------------------*/
div#main {
	clear:both;
	float:left;
	width:680px;
}


h2 {
	width:680px;
	height:52px;
	margin:0 0 12px 0;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:51px;
	text-indent:33px;
}


body#dogmaster h2,
body#animalwelfare h2,
body#animaltherapy h2{/*ワールドごとに背景変更が必要です:dog*/
	background-image:url(img/h2_dog.gif);
}
body#pettrimmer h2,
body#petesthe h2,
body#dogcafe h2,
body#animalnurse h2,
body#dogtrainer h2,
body#zookeeper h2,
body#wildanimal h2 {/*ワールドごとに背景変更が必要です:animal*/
	background-image:url(img/h2_animal.gif);
}
body#dolphintrainer h2,
body#aquarist h2 {/*ワールドごとに背景変更が必要です:marine*/
	background-image:url(img/h2_marine.gif);
}
body#flowershop h2,
body#bridalflower h2 {/*ワールドごとに背景変更が必要です:nature*/
	background-image:url(img/h2_nature.gif);
}
body#florist h2 {/*ワールドごとに背景変更が必要です:flower*/
	background-image:url(img/h2_flower.gif);
}
body#organicfood h2,
body#brandingredient h2,
body#farmcafe h2,
body#gardeningcultivation h2{/*ワールドごとに背景変更が必要です:flower*/
	background-image:url(img/h2_agriculture.gif);
}


h3#h3top {
	width:674px;
	height:35px;
	margin:0 auto 10px auto;
	line-height:35px;
	border-top:1px solid;
	border-bottom:1px solid;
	font-size:16px;
	text-align:center;
}

body#dogmaster h3#h3top,
body#animalwelfare h3#h3top,
body#animaltherapy h3#h3top {/*ワールドごとに背景変更が必要です:dog*/
	color:#FF4719;
	border-top-color:#FF4719;
	border-bottom-color:#FF4719;
}
body#pettrimmer h3#h3top,
body#petesthe h3#h3top,
body#dogcafe h3#h3top,
body#animalnurse h3#h3top,
body#dogtrainer h3#h3top,
body#zookeeper h3#h3top,
body#wildanimal h3#h3top {/*ワールドごとに背景変更が必要です:animal*/
	color:#F39839;
	border-top-color:#F39839;
	border-bottom-color:#F39839;
}
body#dolphintrainer h3#h3top,
body#aquarist h3#h3top {/*ワールドごとに背景変更が必要です:marine*/
	color:#118CCF;
	border-top-color:#118CCF;
	border-bottom-color:#118CCF;
}

body#flowershop h3#h3top,
body#bridalflower h3#h3top {/*ワールドごとに背景変更が必要です:nature*/
	color:#1B967B;
	border-top-color:#1B967B;
	border-bottom-color:#1B967B;
}
body#florist h3#h3top,
body#organicfood h3#h3top,
body#brandingredient h3#h3top,
body#farmcafe h3#h3top,
body#gardeningcultivation h3#h3top {/*ワールドごとに背景変更が必要です:flower*/
	color:#7FBE25;
	border-top-color:#7FBE25;
	border-bottom-color:#7FBE25;
}


/*目指せる*/
div.aim {
	width:675px;
	margin:10px auto;
	overflow:hidden;
}
div.aim div {
	width:220px;
	float:left;
	padding-left:5px;
	background:#FFF;
}
div.aim h4 {
	padding:3px 0;
	background:#FFF;
}
div.aim div ul {
	width:210px;
	border:1px solid;
	padding:1px;
}
div.aim div.office ul {
	border-color:#FD8922;
}
div.aim div.job ul {
	border-color:#E13A3A;
}
div.aim div.qualification ul {
	border-color:#2293FD;
}
div.aim div ul li {
	padding-left:13px;
	margin:0 5px;
}
div.aim div.office ul li {
	background:url(img/icon_office.jpg) no-repeat left center;
}
div.aim div.job ul li {
	background:url(img/icon_job.jpg) no-repeat left center;
}
div.aim div.qualification ul li {
	background:url(img/icon_qualification.jpg) no-repeat left center;
}
div.aim div ul li.smalltext{
}

/*専攻の説明文*/
div#textbox {
	clear:both;
	width:675px;
	margin:15px auto 15px auto;
	border:1px solid #CCC;
	background:url(img/textbox_bg.jpg) no-repeat bottom center;
	overflow:hidden;
}
div#textbox img.textimg {
	float:right;
	padding:5px 15px 5px 10px;
}
div#textbox p {
	padding:15px 10px 15px 15px;
}
div#textbox ul {
	clear:both;
	width:642px;
	margin:0 auto;
	padding-top:10px;
}
div#textbox li {
	float:left;
	padding-bottom:10px;
}
div#textbox li a {
	margin:5px;
}


/*５つのポイント*/
div#point {
	clear:both;
	width:680px;
	padding-top:40px;
}
div#point h3 {
	width:680px;
	padding-bottom:15px;
}

div#point div.pointbox {
	clear:both;
	width:644px;
	padding:8px;
	margin:0 auto 5px auto;
	border:1px solid #CCC;
	overflow:hidden;
	zoom:1;
}
div#point div.pointbox img.pointimg {
	float:right;
	padding-left:5px;
}
div#point div.pointbox strong {
	font-size:14px;
	margin:8px 0 5px 0;
	display:block;
}
body#dogmaster div#point div.pointbox strong,
body#animalwelfare div#point div.pointbox strong,
body#animaltherapy div#point div.pointbox strong { /*ワールドごとに色変更が必要です*/
	color:#F24D35;
}
body#pettrimmer div#point div.pointbox strong,
body#petesthe div#point div.pointbox strong,
body#dogcafe div#point div.pointbox strong,
body#animalnurse div#point div.pointbox strong,
body#dogtrainer div#point div.pointbox strong,
body#zookeeper div#point div.pointbox strong,
body#wildanimal div#point div.pointbox strong { /*ワールドごとに色変更が必要です:animal*/
	color:#F39839
}
body#dolphintrainer div#point div.pointbox strong,
body#aquarist  div#point div.pointbox strong { /*ワールドごとに色変更が必要です:marine*/
	color:#118CCF;
}
body#flowershop div#point div.pointbox strong,
body#bridalflower div#point div.pointbox strong { /*ワールドごとに色変更が必要です:nature*/
	color:#1B967B;
}
body#florist div#point div.pointbox strong { /*ワールドごとに色変更が必要です:flower*/
	color:#7FBE25;
}

/*主なカリキュラム*/
div#curriculum {
	clear:both;
	width:680px;
	padding-top:40px;
	overflow:hidden;
}
div#curriculum h3 {
	width:680px;
	padding-bottom:15px;
}
div#curriculumInner {
	margin-left:-10px;
	}
div#curriculum dl {
	width:150px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	}
div#curriculum dt {
	/*line-height:26px;*/
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#FFF;
	padding:3px 0;
	}
div#curriculum dd {
	padding:5px;
}
	div#curriculum dd p.firstChild {
		margin-bottom:10px;
	}
div#curriculum div.curribox {
	float:left;
	width:340px;
	margin-bottom:15px;
}
div#curriculum div.curribox h4 {
	display:block;
	margin:0 10px;
	padding:5px 8px 3px 8px;
	font-size:14px;
	color:#FFF;
}
body#dogmaster div#curriculum dt,
body#animalwelfare div#curriculum dt,
body#animaltherapy div#curriculum dt { /*ワールドごとに色変更が必要です;dog*/
	background-color:#FF4618;
}
	body#dogmaster div#curriculum dl,
	body#animalwelfare div#curriculum dl,
	body#animaltherapy div#curriculum dl { /*ワールドごとに色変更が必要です;dog*/
		background:#FFEBE5;
	}
	body#dogmaster div#curriculum  dl.even,
	body#animalwelfare div#curriculum dl.even,
	body#animaltherapy div#curriculum dl.even { /*ワールドごとに色変更が必要です;dog*/
		background:#FFCEBF;
	}

body#pettrimmer div#curriculum dt,
body#petesthe div#curriculum dt,
body#dogcafe div#curriculum dt,
body#animalnurse div#curriculum dt,
body#dogtrainer div#curriculum dt,
body#zookeeper div#curriculum dt,
body#wildanimal div#curriculum dt { /*ワールドごとに色変更が必要です:animal*/
	background-color:#F39839
}
	body#pettrimmer div#curriculum dl,
	body#petesthe div#curriculum dl,
	body#dogcafe div#curriculum dl,
	body#animalnurse div#curriculum dl,
	body#dogtrainer div#curriculum dl,
	body#zookeeper div#curriculum dl,
	body#wildanimal div#curriculum dl { /*ワールドごとに色変更が必要です:animal*/
		background-color:#FCE9D6;
	}
	body#pettrimmer div#curriculum dl.even,
	body#petesthe div#curriculum dl.even,
	body#dogcafe div#curriculum dl.even,
	body#animalnurse div#curriculum dl.even,
	body#dogtrainer div#curriculum dl.even,
	body#zookeeper div#curriculum dl.even,
	body#wildanimal div#curriculum dl.even { /*ワールドごとに色変更が必要です:animal*/
		background-color:#FACDA0;
	}
body#dolphintrainer div#curriculum dt,
body#aquarist div#curriculum dt { /*ワールドごとに色変更が必要です:marine*/
	background-color:#118CCF;
}
	body#dolphintrainer div#curriculum dl,
	body#aquarist div#curriculum dl { /*ワールドごとに色変更が必要です:marine*/
		background-color:#DFF2FD;
	}
	body#dolphintrainer div#curriculum dl.even,
	body#aquarist div#curriculum dl.even { /*ワールドごとに色変更が必要です:marine*/
		background-color:#ABDEFA;
	}
body#flowershop div#curriculum dt,
body#bridalflower div#curriculum dt { /*ワールドごとに色変更が必要です:nature*/
	background-color:#1B967B;
}
	body#flowershop div#curriculum dl,
	body#bridalflower div#curriculum dl { /*ワールドごとに色変更が必要です:nature*/
		background-color:#E6FBF5;
	}
	body#flowershop div#curriculum dl.even,
	body#bridalflower div#curriculum dl.even { /*ワールドごとに色変更が必要です:nature*/
		background-color:#ACEAD8;
	}



body#florist div#curriculum dt { /*ワールドごとに色変更が必要です:flower*/
	background-color:#7FBE25;
}

div#curriculum div.curribox dl,
div#curriculum div.curribox ul {
	margin:0 10px;
	padding: 0 0 10px 0;
}

body#dogmaster div#curriculum div.curribox dl,
body#animalwelfare div#curriculum div.curribox dl,
body#animaltherapy div#curriculum div.curribox dl,
body#dogmaster div#curriculum div.curribox ul,
body#animalwelfare div#curriculum div.curribox ul,
body#animaltherapy div#curriculum div.curribox ul { /*ワールドごとに色変更が必要です;dog*/
	border:1px solid #FF4618;
}
body#pettrimmer div#curriculum div.curribox dl,
body#petesthe div#curriculum div.curribox dl,
body#dogcafe div#curriculum div.curribox dl,
body#animalnurse div#curriculum div.curribox dl,
body#dogtrainer div#curriculum div.curribox dl,
body#zookeeper div#curriculum div.curribox dl,
body#wildanimal div#curriculum div.curribox dl,
body#pettrimmer div#curriculum div.curribox ul,
body#petesthe div#curriculum div.curribox ul,
body#dogcafe div#curriculum div.curribox ul,
body#animalnurse div#curriculum div.curribox ul,
body#dogtrainer div#curriculum div.curribox ul,
body#zookeeper div#curriculum div.curribox ul,
body#wildanimal div#curriculum div.curribox ul { /*ワールドごとに色変更が必要です:animal*/
	border:1px solid #F39839
}
body#dolphintrainer div#curriculum div.curribox dl,
body#aquarist div#curriculum div.curribox dl,
body#dolphintrainer div#curriculum div.curribox ul,
body#aquarist div#curriculum div.curribox ul { /*ワールドごとに色変更が必要です:marine*/
	border:1px solid #118CCF;
}
body#flowershop div#curriculum div.curribox dl,
body#bridalflower div#curriculum div.curribox dl,
body#flowershop div#curriculum div.curribox ul,
body#bridalflower div#curriculum div.curribox ul { /*ワールドごとに色変更が必要です:nature*/
	border:1px solid #1B967B;
}
body#florist div#curriculum div.curribox dl,
body#florist div#curriculum div.curribox ul { /*ワールドごとに色変更が必要です:flower*/
	border:1px solid #7FBE25;
}

div#curriculum div.curribox dt,
div#curriculum div.curribox li {
	padding:5px 8px 0 8px;
	font-weight:bold;
	text-indent:15px;
}
body#dogmaster div#curriculum div.curribox dt,
body#animalwelfare div#curriculum div.curribox dt,
body#animaltherapy div#curriculum div.curribox dt,
body#dogmaster div#curriculum div.curribox li,
body#animalwelfare div#curriculum div.curribox li,
body#animaltherapy div#curriculum div.curribox li { /*ワールドごとに色変更が必要です*/
	color:#FF4618;
	background:url(img/icon_curri_dog.jpg) no-repeat 8px 9px;
}
body#pettrimmer div#curriculum div.curribox dt,
body#petesthe div#curriculum div.curribox dt,
body#dogcafe div#curriculum div.curribox dt,
body#animalnurse div#curriculum div.curribox dt,
body#dogtrainer div#curriculum div.curribox dt,
body#zookeeper div#curriculum div.curribox dt,
body#wildanimal div#curriculum div.curribox dt,
body#pettrimmer div#curriculum div.curribox li,
body#petesthe div#curriculum div.curribox li,
body#dogcafe div#curriculum div.curribox li,
body#animalnurse div#curriculum div.curribox li,
body#dogtrainer div#curriculum div.curribox li,
body#zookeeper div#curriculum div.curribox li,
body#wildanimal div#curriculum div.curribox li { /*ワールドごとに色変更が必要です*/
	color:#F39839;
	background:url(img/icon_curri_animal.jpg) no-repeat 8px 9px;
} 
body#dolphintrainer div#curriculum div.curribox dt,
body#aquarist div#curriculum div.curribox dt,
body#dolphintrainer div#curriculum div.curribox li,
body#aquarist div#curriculum div.curribox li { /*ワールドごとに色変更が必要です:marine*/
	color:#118CCF;
	background:url(img/icon_curri_marine.jpg) no-repeat 8px 9px;
}
body#flowershop div#curriculum div.curribox dt,
body#bridalflower div#curriculum div.curribox dt,
body#flowershop div#curriculum div.curribox li,
body#bridalflower div#curriculum div.curribox li { /*ワールドごとに色変更が必要です:nature*/
	color:#1B967B;
	background:url(img/icon_curri_nature.jpg) no-repeat 8px 9px;
}
body#florist div#curriculum div.curribox dt,
body#florist div#curriculum div.curribox li { /*ワールドごとに色変更が必要です:flower*/
	color:#7FBE25;
	background:url(img/icon_curri_flower.jpg) no-repeat 8px 9px;
}

div#curriculum div.curribox dd {
	padding:0 8px 5px 8px;
	font-size:10px;
}

/*その他のカリキュラム*/
#otherCurriculum {
	padding-top:40px;
	}
#otherCurriculum > div {
	margin:10px;
	padding:10px 0 10px 10px;
}
	#otherCurriculum > div:after {
		display: block;
		visibility: hidden;
		content: ".";
		clear: both;
		height: 0;
		font-size: 0;
		line-height: 0;
	}
	* html #otherCurriculum > div {
		zoom: 1;
	} /* IE6 */
	*:first-child+html #otherCurriculum > div {
		zoom: 1;
	} /* IE7 */

body#dogmaster #otherCurriculum > div,
body#animalwelfare #otherCurriculum > div,
body#animaltherapy #otherCurriculum > div { /*ワールドごとに色変更が必要です;dog*/
	border:1px solid #FFCEBF;
}
body#pettrimmer #otherCurriculum > div,
body#petesthe #otherCurriculum > div,
body#dogcafe #otherCurriculum > div,
body#animalnurse #otherCurriculum > div,
body#dogtrainer #otherCurriculum > div,
body#zookeeper #otherCurriculum > div,
body#wildanimal #otherCurriculum > div { /*ワールドごとに色変更が必要です:animal*/
	border:1px solid #FFD6AE;
}
body#dolphintrainer #otherCurriculum > div,
body#aquarist #otherCurriculum > div { /*ワールドごとに色変更が必要です:marine*/
	border:1px solid #9AD1EC;
}
body#flowershop #otherCurriculum > div,
body#bridalflower #otherCurriculum > div { /*ワールドごとに色変更が必要です:nature*/
	border:1px solid #99D5CA;
}
body#florist #otherCurriculum > div { /*ワールドごとに色変更が必要です:flower*/
	border:1px solid #CBE4BD;
}

#otherCurriculum ul {
	width:200px;
	float:left;
	margin-left:10px;
	}

#otherCurriculum ul li {
	padding-left:10px;
	margin-bottom:6px;
	}

body#dogmaster #otherCurriculum ul li,
body#animalwelfare #otherCurriculum ul li,
body#animaltherapy #otherCurriculum ul li { /*ワールドごとに色変更が必要です;dog*/
	background:url(../common/img/ico_sq01.gif) left 0.4em no-repeat;
}
body#pettrimmer #otherCurriculum ul li,
body#petesthe #otherCurriculum ul li,
body#dogcafe #otherCurriculum ul li,
body#animalnurse #otherCurriculum ul li,
body#dogtrainer #otherCurriculum ul li,
body#zookeeper #otherCurriculum ul li,
body#wildanimal #otherCurriculum ul li { /*ワールドごとに色変更が必要です:animal*/
	background:url(../common/img/ico_sq02.gif) left 0.4em no-repeat;
}
body#dolphintrainer #otherCurriculum ul li,
body#aquarist #otherCurriculum ul li { /*ワールドごとに色変更が必要です:marine*/
	background:url(../common/img/ico_sq04.gif) left 0.4em no-repeat;
}
body#flowershop #otherCurriculum ul li,
body#bridalflower #otherCurriculum ul li { /*ワールドごとに色変更が必要です:nature*/
	background:url(../common/img/ico_sq05.gif) left 0.4em no-repeat;
}
body#florist #otherCurriculum ul li { /*ワールドごとに色変更が必要です:flower*/
	background:url(../common/img/ico_sq05.gif) left 0.4em no-repeat;
}

/*Ｗメジャー*/
div#wmajor {
	clear:both;
	width:630px;
	margin:15px auto;
	border:1px dashed #060;
	padding:10px;
	overflow:hidden;
}
div#wmajor div {
	float:left;
	width:224px;
	background-color:#2BA739;
	color:#FFF;
}
div#wmajor div p {
	padding:8px;
}
div#wmajor div p em {
	font-size:14px;
	font-weight:bold;
}
div#wmajor div p strong {
	font-size:18px;
	font-weight:bold;
}
div#wmajor div a {
	display:block;
	width:204px;
	margin:5px auto;
}
div#wmajor ul {
	width:200px;
	float:left;
}
div#wmajor ul li {
	list-style:disc;
	margin-left:30px;
	line-height:1.3;
	font-size:14px;
}


/*インデックスページ用*/

#course div#main {
	clear:both;
	float:left;
	width:886px;
}

#course h2{
	margin:0 0 10px 0;
	padding:0;
	width:886px;
	height:100px;
	line-height:0;
	text-indent:0;

}
	
	
#course div#coursebox{
	clear:both;
	margin-top:10px;

	width:886px;
	overflow:hidden;
}

#course div.index_dog{
	background-image:url(img/bg_index_dog.gif);
}

#course div.index_animal{
	background-image:url(img/bg_index_animal.gif);
}

#course div.index_marine{
	background-image:url(img/bg_index_marine.gif);
}

#course div.index_anture{
	background-image:url(img/bg_index_nature.gif);
}

#course div.index_agriculture{
	background-image:url(img/bg_index_agriculture.gif);
	margin-bottom:30px;
}

#course div#coursebox h3{
float:left;
width:246px;
}

#course div#coursebox h4{
float:right;
width:640px;
}

#course div#coursebox ul{
float:right;
width:620px;
display:block;
margin-right:10px;
}
#course div#coursebox li{
float:left;
display:block;
margin:0;
padding:0;
}
/* 健康農食科バナー */
#main #agri{
	display:block;
	margin:auto;}


/* Wメジャー */
.w_info {
	border: 1px solid #009933;
	padding: 15px 30px;
}
.w_info:after {
content: "";
display: block;
clear: both;
}
* html .w_info {
height: 1px;
}
*+html .w_info {
min-height: 1px;
}
.w_info p {
	float:left;
	width: 450px;
	margin: 0 10px 0 0;
}
.w_info a {
	float:left;
	display:block;
	margin: 0;
}
.w_info h3 {
	margin: 0 0 15px 0;
}

/* パンフレット・体験入学ボタン */
.plz_pamphlet_event {
	margin: 15px auto 30px auto;
}



