@charset "utf-8";

/*トップページ専用*/

/*------------------------------*/

#container div.petOpen{
background:url(img/petopen_bg.gif);
font-size:20px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
vertical-align:bottom;
border:#993300 1px solid;
margin:15px 0px;
padding:0px 20px 10px;
}
#container div.rightImage{
float:right;
padding:10px 0 0;
text-align:center;
}
#container p.photogallery{
font-size:12px;
line-height:200%;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#container div.boaderTop{
border-top:#CCCCCC dotted 2px;
margin-top:10px;
padding-top:10px;
}
#container div.petOpen .week{
font-size:12px;
}
#container div.petOpen .sun{
color:#FF0000;
}
#container div.petOpen .sat{
color:#0000FF;
}
#container div.petOpen .time{
font-size:14px;
}
#container div.petOpen .aside{
font-size:12px;
font-weight:normal;
}
#container div.petOpen .attention{
font-size:14px;
color:#FF0000;
}
#container div.petOpen .normalText{
font-size:14px;
font-weight:normal;
}
#container div.petOpen p.bigText{
width:460px;
padding:10px;
margin:5px 0 15px;
background-color:#FFFFFF;
font-size:16px;
color:#3366CC;
font-weight:normal;
font-family:"ＭＳ ゴシック", "Osaka－等幅";
}

#container div.entry a{
display:block;
padding:0px;
width:156px;
height:36px;
}
#container div.entry{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:10px 10px;
padding:0px;
width:156px;
height:36px;
}
#container div.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#container div.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#container div.entry a:hover{
background:none;
}
/* アニマルフェスタ */
.animalFesta{
margin:20px 0 0;
position:relative;
border:solid 1px #006600;
}
.animalFesta div{
position:absolute;
left: 672px;
top: 372px;
}

/* 50匹 */
div.dog50 {
margin:20px 0;
width:930px;
height:182px;
position:relative;
background:url(img/50dog_image.jpg) no-repeat left bottom;
}

div.dog50 img {
border:none;
vertical-align:bottom;
}

div.dog50 a {
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	width:215px;
	height:42px;
	margin:118px auto 0 20px;
	background:url(img/50dog_image.jpg) -20px bottom;
}

div.dog50 a:hover {
	background:url(img/50dog_image_on.jpg) -20px bottom;
}


