@charset "utf-8";

/*------------------------------*/

/*index専用*/
#myschool #eventTitle .myschoolMovie {
float:right;
margin:20px auto;
}
#myschool #eventTitle dd.heading {
margin-top:10px;
font-size:20px;
display:block;
float:none;
color:#003399;
}
#myschool #eventTitle dd.normalText {
display:block;
float:none;
}
#myschool #eventTitle dd.normalText2 {
font-size:12px;
font-weight:normal;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
display:block;
float:none;
}
#myschool #eventTitle dt.heading {
margin-top:10px;
border-top:#999999 dotted 1px;
margin-left:10px;
font-weight:bold;
font-size:18px;
color:#FF6600;
}

#myschool #myschoolMap {
margin:10px 0px 0px 0px;
float:right;
}
#myschool #container #myschoolMerit {
background-color:#FFFFCC;
border:solid #FF6600 1px;
padding:10px;
width:253px;
}
#myschool #container #myschoolMerit li {
font-size:12px;
margin:10px 0;
list-style:none;
}
#myschool #container #myschoolMerit h4 {
font-size:16px;
font-weight:bold;
color:#006600;
margin:10px 0px 20px 10px; 
}

/*------------------------------*/

h3{
display:block;
clear:both;
}

#myschoolMenuSmall{
margin:10px 0px 0px;
}
#myschoolMenuSmall p {
margin:0px;
padding:5px 10px;
font-size:12px;
color:#FFFFFF;
}
#myschoolMenuSmall p.special {
background-color:#9900FF;
}
#myschoolMenuSmall p.dog {
background-color:#FF9900;
}
#myschoolMenuSmall p.animal {
background-color:#FF0000;
}
#myschoolMenuSmall p.marine {
background-color:#0066FF;
}
#myschoolMenuSmall p.nature {
background-color:#009966;
}
#myschoolMenuSmall p.flower {
background-color:#FF6600;
}
#myschoolMenuSmall p.agriculture {
background-color:#99CC33;
}

#myschoolMenuSmall li a,
#myschoolMenuSmall ul{
display:block;
margin: 0px;
padding:0px;
height:97px;
}
#myschoolMenuSmall li{
display:block;
margin:0px 5px 0px 5px;
padding:0px;
height:97px;
float:left;
width:122px;
}
#myschoolMenuSmall li a{
overflow:hidden;
text-indent:-9999px;
}
#myschoolMenuSmall li#specialMenu{
background:url(img/special_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#specialMenu a{
background:url(img/special_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#dogMenu{
background:url(img/dog_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#dogMenu a{
background:url(img/dog_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#animalMenu{
background:url(img/animal_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#animalMenu a{
background:url(img/animal_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#marineMenu{
background:url(img/marine_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#marineMenu a{
background:url(img/marine_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#natureMenu{
background:url(img/nature_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#natureMenu a{
background:url(img/nature_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#flowerMenu{
background:url(img/flower_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#flowerMenu a{
background:url(img/flower_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#agricultureMenu{
background:url(img/agriculture_menu_small_on.gif) no-repeat;
}
#myschoolMenuSmall li#agricultureMenu a{
background:url(img/agriculture_menu_small.gif) no-repeat;
}
#myschoolMenuSmall li#specialMenu a:hover,
#myschoolMenuSmall li#dogMenu a:hover,
#myschoolMenuSmall li#animalMenu a:hover,
#myschoolMenuSmall li#marineMenu a:hover,
#myschoolMenuSmall li#natureMenu a:hover,
#myschoolMenuSmall li#flowerMenu a:hover,
#myschoolMenuSmall li#agricultureMenu a:hover,
#myschoolMenuSmall li#specialMenu .current,
#myschoolMenuSmall li#dogMenu .current,
#myschoolMenuSmall li#animalMenu .current,
#myschoolMenuSmall li#marineMenu .current,
#myschoolMenuSmall li#natureMenu .current,
#myschoolMenuSmall li#flowerMenu .current,
#myschoolMenuSmall li#agricultureMenu .current{
background:none;
}

/* 特別イベント */
#specialMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#specialMyschool #container td{
background:url(img_special/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#specialMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_special/table_title.gif) no-repeat left top;
color:#9900FF;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#specialMyschool #container table dd.entry,
#specialMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#specialMyschool #container table dd.entry{
background:url(../img_entryform/entry_special_on.gif) no-repeat;
}
#specialMyschool #container table dd.entry a{
background:url(../img_entryform/entry_special.gif) no-repeat;
}
#specialMyschool #container table dd.entry a:hover{
background:none;
}

#specialMyschool #container table dd.entryB,
#specialMyschool #container table dd.entryB a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:195px;
height:36px;
}
#specialMyschool #container table dd.entryB{
background:url(../img_entryform/entry_camp_on.gif) no-repeat;
}
#specialMyschool #container table dd.entryB a{
background:url(../img_entryform/entry_camp.gif) no-repeat;
}
#specialMyschool #container table dd.entryB a:hover{
background:none;
}
#specialMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #9900FF;
}

/* ドッグメニュー */
#dogMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#dogMyschool #container td{
background:url(img_dog/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#dogMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_dog/table_title.gif) no-repeat left top;
color:#FF9900;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#dogMyschool #container table dd.entry,
#dogMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#dogMyschool #container table dd.entry{
background:url(../img_entryform/entry_dog_on.gif) no-repeat;
}
#dogMyschool #container table dd.entry a{
background:url(../img_entryform/entry_dog.gif) no-repeat;
}
#dogMyschool #container table dd.entry a:hover{
background:none;
}

#dogMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #FF9900;
}


/* アニマルメニュー */
#animalMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#animalMyschool #container td{
background:url(img_animal/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#animalMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_animal/table_title.gif) no-repeat left top;
color:#FF0000;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#animalMyschool #container table dd.entry,
#animalMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#animalMyschool #container table dd.entry{
background:url(../img_entryform/entry_animal_on.gif) no-repeat;
}
#animalMyschool #container table dd.entry a{
background:url(../img_entryform/entry_animal.gif) no-repeat;
}
#animalMyschool #container table dd.entry a:hover{
background:none;
}

#animalMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #FF0000;
}

/* 海洋メニュー */
#marineMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#marineMyschool #container td{
background:url(img_marine/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#marineMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_marine/table_title.gif) no-repeat left top;
color:#0066FF;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#marineMyschool #container table dd.entry,
#marineMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#marineMyschool #container table dd.entry{
background:url(../img_entryform/entry_marine_on.gif) no-repeat;
}
#marineMyschool #container table dd.entry a{
background:url(../img_entryform/entry_marine.gif) no-repeat;
}
#marineMyschool #container table dd.entry a:hover{
background:none;
}

#marineMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #0066FF;
}

/* 自然環境メニュー */
#natureMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#natureMyschool #container td{
background:url(img_nature/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#natureMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_nature/table_title.gif) no-repeat left top;
color:#009966;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#natureMyschool #container table dd.entry,
#natureMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#natureMyschool #container table dd.entry{
background:url(../img_entryform/entry_nature_on.gif) no-repeat;
}
#natureMyschool #container table dd.entry a{
background:url(../img_entryform/entry_nature.gif) no-repeat;
}
#natureMyschool #container table dd.entry a:hover{
background:none;
}

#natureMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #009966;
}

/* フラワーメニュー */
#flowerMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#flowerMyschool #container td{
background:url(img_flower/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#flowerMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_flower/table_title.gif) no-repeat left top;
color:#FF6600;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#flowerMyschool #container table dd.entry,
#flowerMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#flowerMyschool #container table dd.entry{
background:url(../img_entryform/entry_flower_on.gif) no-repeat;
}
#flowerMyschool #container table dd.entry a{
background:url(../img_entryform/entry_flower.gif) no-repeat;
}
#flowerMyschool #container table dd.entry a:hover{
background:none;
}

#flowerMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #FF6600;
}

/* 農業メニュー */
#agricultureMyschool #container table{
margin: 10px 0px 0px;
padding: 0px;
border: none;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#agricultureMyschool #container td{
background:url(img_agriculture/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
}

#agricultureMyschool #container table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(img_agriculture/table_title.gif) no-repeat left top;
color:#99CC33;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:406px;
}

#agricultureMyschool #container table dd.entry,
#agricultureMyschool #container table dd.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#agricultureMyschool #container table dd.entry{
background:url(../img_entryform/entry_agriculture_on.gif) no-repeat;
}
#agricultureMyschool #container table dd.entry a{
background:url(../img_entryform/entry_agriculture.gif) no-repeat;
}
#agricultureMyschool #container table dd.entry a:hover{
background:none;
}

#agricultureMyschool #container table th{
background-color:#FFFFFF;
padding:15px;
font-size:14px;
height:3px;
margin:0;
border:1px solid #99CC33;
}


/* 共通フォント */
#container table dd.imageRight{
float:right;
}
#container table dd.normal{
font-size:12px;
}
#container table dd.date{
font-size:20px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
}
#container table dd.date .week{
font-size:12px;
}
#container table dd.date .sun{
color:#FF0000;
}
#container table dd.date .sat{
color:#0000FF;
}
#container table dd.date .time{
font-size:14px;
}
#container table dd.date .aside{
font-size:12px;
font-weight:normal;
}
#container table dd.date .normalText{
font-size:14px;
font-weight:normal;
}
#container table dt .titleS{
font-size:12px;
}
#container table dt .titleSS{
font-size:10px;
}
/* 共通仕様 */
/*#container div.tableMenu{
clear:both;
}*/
#container table td{
width:50%;
}
#container table dt{
margin:0;
padding-bottom:5px;
background: url(img/table_titlebar.gif) no-repeat left bottom;
}
#container table dd{
margin: 0px;
padding:5px 15px;
text-align:left;
}
#container table dd.entry{
clear:both;
}
#container table dt.joinTd{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar2.gif) repeat-x left bottom;
position:relative;
}





/*カテゴリ*/
#container table dd.dateS{
font-size:16px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
}
#container table dd.dateS .week{
font-size:12px;
}
#container table dd.dateS .sun{
color:#FF0000;
}
#container table dd.dateS .sat{
color:#0000FF;
}
#container table dd.dateS .time{
font-size:14px;
}
#container table dd.dateS .dogCategory{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:12px;
color:#FF6600;
}
#container table dd.dateS .animalCategory{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:12px;
color:#CC3300;
}
#container table dd.dateS .marineCategory{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:12px;
color:#0099CC;
}
#container table dd.dateS .natureCategory{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:12px;
color:#006666;
}
#container table dd.dateS .flowerCategory{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:12px;
color:#CC6600;
}
#container table dd.dateS .agricultureCategory{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:12px;
color:#999900;
}



/*スケジュール*/
div.schedule {
	text-align:center;
	margin:10px 0;
}

div.schedule img {
	vertical-align:bottom;
}



/*div.entry*/
#myschool #container div.entry,
#myschool #container div.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto 10px;
padding:0px;
width:156px;
height:36px;
}
#myschool #container div.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#myschool #container div.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#myschool #container div.entry a:hover{
background:none;
}

.fontSmall{
font-size:13px;
}

.strong{
	font-weight:bold;
	color:#939;
	font-size:110%;
	}
	
.left{
	float:left;
	}
	
.right{
	float:right;
	}
	
.cont01{
	width:160px;
	margin:10px 0;
	}
	
.dummy{
	width:140px;
	height:180px;
	background-color:#999;
	margin-bottom:15px;
	}


/*2011.05.05　追加*/
#myschool #container div.contents{
	margin:10px;
	width:910px;
}

#myschool #container div.box{
	margin-top:20px;
	padding:20px;
	border: 2px solid #d06c6c;
}

#myschool #container div.box2{
	margin-top:20px;
	padding:20px;
	border: 2px solid #09C;
}
#myschool #container div.box3{
	margin-top:20px;
	padding:20px;
	border: 2px solid #F96;
}

#myschool #container .animal{
	background-image:url(img/menu-ico-animal.gif);
	background-repeat: no-repeat;
	padding:5px 0px 5px 60px;
}

#myschool #container .animal span.kaisaibi{
	background-color:#F00;
	color:#FFF;
	padding:4px 10px 4px 15px;
	margin-right:10px;
	font-weight:bold;
}

#myschool #container .animal span.hinichi{
	font-weight:bold;
}

#myschool #container .animal p.menu-name{
	padding-top:6px;
	font-weight:bold;
	font-size:18px;
	color:#F00;
	margin-right:10px;
}


#myschool #container .dog{
	background-image:url(img/menu-ico-dog.gif);
	background-repeat: no-repeat;
	padding:5px 0px 5px 60px;
}
#myschool #container .dog span.kaisaibi{
	background-color:#fd9a00;
	color:#FFF;
	padding:4px 10px 4px 15px;
	margin-right:10px;
	font-weight:bold;
}
#myschool #container .dog span.hinichi{
	font-weight:bold;
}
#myschool #container .dog p.menu-name{
	padding-top:6px;
	font-weight:bold;
	font-size:18px;
	color:#fd9a00;
	margin-right:10px;
}

#myschool #container .marine{
	background-image:url(img/menu-ico-marine.gif);
	background-repeat: no-repeat;
	padding:5px 0px 5px 60px;
}
#myschool #container .marine span.kaisaibi{
	background-color:#0067ff;
	color:#FFF;
	padding:4px 10px 4px 15px;
	margin-right:10px;
	font-weight:bold;
}
#myschool #container .marine span.hinichi{
	font-weight:bold;
}
#myschool #container .marine p.menu-name{
	padding-top:6px;
	font-weight:bold;
	font-size:18px;
	color:#0067ff;
	margin-right:10px;
}



#myschool #container .flower{
	background-image:url(img/menu-ico-flower.gif);
	background-repeat: no-repeat;
	padding:5px 0px 5px 110px;
}
#myschool #container .flower span.kaisaibi{
	background-color:#A1D141;
	color:#FFF;
	padding:4px 10px 4px 15px;
	margin-right:10px;
	font-weight:bold;
}
#myschool #container .flower span.hinichi{
	font-weight:bold;
}
#myschool #container .flower p.menu-name{
	padding-top:6px;
	font-weight:bold;
	font-size:18px;
	color:#A1D141;
	margin-right:10px;
}


#myschool #container .ocean{
	background-image: url(img/menu-ico-marine.gif);
	background-repeat: no-repeat;
	padding:5px 0px 5px 60px;
}
#myschool #container .ocean span.kaisaibi{
	background-color:#0067ff;
	color:#FFF;
	padding:4px 10px 4px 15px;
	margin-right:10px;
	font-weight:bold;
}
#myschool #container .ocean span.hinichi{
	font-weight:bold;
}
#myschool #container .ocean p.menu-name{
	padding-top:6px;
	font-weight:bold;
	font-size:18px;
	color:#0067ff;
	margin-right:10px;
}


/*2011.08.30 menu追加*/
/*dog*/
div.dog-box{
	width:445px;
}
div.dog-box h3{
	background-image:url(img/dog_title_bg.gif);
	color:#FFF;
	height:25px;
	font-size:16px;
	padding:5px 0px 0px 12px;
	margin-bottom:5px;
}
div.dog-box dt{
	font-size:14px;
	background-image:url(img/dog_day_bg.gif);
	color:#FFF;
	font-weight:bold;
	width:87px;
	height:24px;
	padding:7px 0px 0px 0px;
	text-align:center;
	background-repeat: no-repeat;
	margin-bottom:2px;
	float:left;
}
div.dog-box dd{
	padding-left:5px;
	padding-top:8px;
	font-size:12px;
	height:25px;
}

/*animal*/
div.animal-box{
	width:445px;
}

div.animal-box h3{
	background-image:url(img/animal_title_bg.gif);
	color:#FFF;
	height:25px;
	font-size:16px;
	padding:5px 0px 0px 12px;
	margin-bottom:5px;
}

div.animal-box dt{
	font-size:14px;
	background-image:url(img/animal_day_bg.gif);
	color:#FFF;
	font-weight:bold;
	width:87px;
	height:24px;
	padding:7px 0px 0px 0px;
	text-align:center;
	background-repeat: no-repeat;
	margin-bottom:2px;
	float:left;
}

div.animal-box dd{
	padding-left:5px;
	padding-top:8px;
	font-size:12px;
	height:25px;
}

/*marine*/
div.marine-box{
	width:445px;
}
div.marine-box h3{
	background-image:url(img/marine_title_bg.gif);
	color:#FFF;
	height:25px;
	font-size:16px;
	padding:5px 0px 0px 12px;
	margin-bottom:5px;
}

div.marine-box dt{
	font-size:14px;
	background-image:url(img/marine_day_bg.gif);
	color:#FFF;
	font-weight:bold;
	width:87px;
	height:24px;
	padding:7px 0px 0px 0px;
	text-align:center;
	background-repeat: no-repeat;
	margin-bottom:2px;
	float:left;
}

div.marine-box dd{
	padding-left:5px;
	padding-top:8px;
	font-size:12px;
	height:25px;
}

/*natura*/
div.nature-box{
	width:445px;
}
div.nature-box h3{
	background-image:url(img/nature_title_bg.gif);
	color:#FFF;
	height:25px;
	font-size:16px;
	padding:5px 0px 0px 12px;
	margin-bottom:5px;
}

div.nature-box dt{
	font-size:14px;
	background-image:url(img/nature_day_bg.gif);
	color:#FFF;
	font-weight:bold;
	width:87px;
	height:24px;
	padding:7px 0px 0px 0px;
	text-align:center;
	background-repeat: no-repeat;
	margin-bottom:2px;
	float:left;
}

div.nature-box dd{
	padding-left:5px;
	padding-top:8px;
	font-size:12px;
	height:25px;
}

/*flower*/
div.flower-box{
	width:445px;
}
div.flower-box h3{
	background-image:url(img/flower_title_bg.gif);
	color:#FFF;
	height:25px;
	font-size:16px;
	padding:5px 0px 0px 12px;
	margin-bottom:5px;
}

div.flower-box dt{
	font-size:14px;
	background-image:url(img/flower_day_bg.gif);
	color:#FFF;
	font-weight:bold;
	width:87px;
	height:24px;
	padding:7px 0px 0px 0px;
	text-align:center;
	background-repeat: no-repeat;
	margin-bottom:2px;
	float:left;
}

div.flower-box dd{
	padding-left:5px;
	padding-top:8px;
	font-size:12px;
	height:25px;
}

/*agri*/
div.agri-box{
	width:445px;
}
div.agri-box h3{
	background-image:url(img/agri_title_bg.gif);
	color:#FFF;
	height:25px;
	font-size:16px;
	padding:5px 0px 0px 12px;
	margin-bottom:5px;
}

div.agri-box dt{
	font-size:14px;
	background-image:url(img/agri_day_bg.gif);
	color:#FFF;
	font-weight:bold;
	width:87px;
	height:24px;
	padding:7px 0px 0px 0px;
	text-align:center;
	background-repeat: no-repeat;
	margin-bottom:2px;
	float:left;
}

div.agri-box dd{
	padding-left:5px;
	padding-top:8px;
	font-size:12px;
	height:25px;
}

/*table＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿*/

#container table,
#container th,
#container td{
	margin:0;
	padding:0;
	border-collapse:collapse;
	border:none;
	border-spacing:0;
}

#container table{
	width:930px;
	border:1px solid #EEEEEE;
	background:#E6EFF9;
}
#container th{
	padding:0.8em 0.5em;
	border-color:#EEEEEE #8DB7E6 #EEEEEE #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	background: #85B1E2;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	width:25%;
}
#container td{
	padding:0.8em 0.5em;
	border-color:#EEEEEE #8DB7E6 #8DB7E6 #EEEEEE;
	border-style:solid;
	border-width:1px;
	font-size:14px;
	text-align:center;
}

#container table.attention caption{
	margin:0 auto;
	padding:20px 0 0 0;
	text-indent:20px;
	font-size:16px;
	font-weight:bold;
	color:#336600;
	text-align:left;
}
#container table.attention{
	padding:0;
	border-collapse:separate;
	border:none;
	border-spacing:0;
}
#container table.attention th,
#container table.attention td{
	margin:0;
	padding:0;
	border-collapse:separate;
	border:none;
	border-spacing:0;
}

#container table.attention{
	width:860px;
	border:1px solid #ECFFF0;
	background:#ECFFF0;
	margin: 0 auto;
}
#container table.attention th{
	width:20%;
	padding:0.8em 0.5em;
	border-color:#336600 #8DB7E6 #ECFFF0 #ECFFF0;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	background: #336600;
	font-weight:bold;
	text-align:center;
	font-size:12px;
}
#container table.attention td{
	padding:0.8em;
	line-height:1.5em;
	border-color:#ECFFF0 #339900 #339900 #ECFFF0;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	text-align:left;
}
#container table.attention span{
	color:#FF0000;
}
#container .busTitle{
	background:url(img/bus_title.gif) no-repeat;
	width:658px;
	height:78px;
	margin:10px 0 5px;
	text-indent:-9999px;
}

/* tabindex */

#container .tabbar {
	position:relative;
	z-index:10;
}
#container .tabbar li {
	float:left;
	margin-right:0.25em;
	list-style:none;
	text-decoration:none;
	color:#629CDD;
	font-weight:bold;
}
#container .tabbar li span {
	font-family: 'Acme',sans-serif,"メイリオ","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Georgia","Meiryo","ＭＳ Ｐゴシック";
	font-size:3em;
}


#container .tabbar li a {
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background-color:#A6DD4A;
	border:1px solid #CCCCCC;
	display:block;
	padding:0.3em 1.5em;
	text-decoration:none;
	/*color:#629CDD;*/
	color:#FFF;
}
#container .tabbar li a:hover {
	background-color:#F8F8F8;
	color:#629CDD;
}
#container .tabbar li.selected a {
	background-color:#629CDD;
	border-bottom:1px solid #629CDD;
	color:#FFFFFF;
}

/* tabindex */

#container .tabNav {
	position:relative;
	z-index:10;
}
#container .tabNav li {
	float:left;
	margin-right:0.25em;
	list-style:none;
	text-decoration:none;
	color:#629CDD;
	font-weight:bold;
}
#container .tabNav li span {
	font-family: 'Acme',sans-serif,"メイリオ","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Georgia","Meiryo","ＭＳ Ｐゴシック";
	font-size:3em;
}
#container .tabNav li a {
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background-color:#A6DD4A;;
	border:1px solid #CCCCCC;
	display:block;
	padding:0.3em 1.5em;
	text-decoration:none;
	/*color:#629CDD;*/
	color:#FFF;
}
#container .tabNav li a:hover {
	background-color:#F8F8F8;
	color:#629CDD;
}
#container .tabNav li a.active {
	background-color:#629CDD;
	border-bottom:1px solid #629CDD;
	color:#FFFFFF;
}

/*20160119追加*/
.nextBox {
    background: #ffe8ef none repeat scroll 0 0;
    border: 3px solid #c00;
    border-radius: 6px;
    color: #c00;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.8;
    padding: 10px;
    text-align: center;
}