@charset "utf-8";
/* CSS Document */

#container a:hover img {
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}
/* 検索エリア
---------------------------------------------------------------*/
label {
	cursor:pointer;
	}
#itemSearch {
	background:#EAF7DB;
	padding:20px 10px;
	position:relative;
	}
#itemSearch #kaede {
	position:absolute;
	top:-63px;
	right:-18px;
	}
#itemSearch h3 {
	margin-bottom:20px;
}
	#itemSearch h3:first-child {
		width:116px;
		float:left;
		margin-right:20px;
	}
#itemSearch #Category {
	width:600px;
	}
#itemSearch #Category li {
	float:left;
	font-size:1.2em;
	margin-right:18px;
	height:32px;
}
	.itemSearchReset:hover,
	#itemSearch li:hover {
			opacity: .55; /* Standard: FF gt 1.5, Opera, Safari */
			filter: alpha(opacity=55); /* IE lt 8 */
			-ms-filter: "alpha(opacity=55)"; /* IE 8 */
			-khtml-opacity: .55; /* Safari 1.x */
			-moz-opacity: .55; /* FF lt 1.5, Netscape */	
		}

#itemSearch li input {
	margin-right:3px;
}
#itemSearch #Category li label {
	/*padding-left:8px;*/
	padding-top:9px;
	display:block;
	}
	/*#itemSearch #Category li.catDog {
	width:88px;
	background:url(img/bgcatDog.png)
	}
	#itemSearch #Category li.catAnimal {
		width:88px;
		background:url(img/bgcatAnimal.png)
		}
	#itemSearch #Category li.CatOcean {
		width:98px;
		background:url(img/bgcatOcean.png)
		}
	#itemSearch #Category li.catNature {
		width:98px;
		background:url(img/bgcatNature.png)
		}
	#itemSearch #Category li.catFlower {
		width:88px;
		background:url(img/bgcatFlower.png)
		}
	#itemSearch #Category li.catArg {
		width:88px;
		background:url(img/bgcatArg.png)
		}*/
#itemSearch #Days {
	margin-left:-9px;
}
#itemSearch #Days li label {
	padding-left:5px;
	display:block;
	line-height:35px;
	padding-top:5px;
	}
#itemSearch #Days li {
	float:left;
	width:101px;/*101*/
	margin-left:9px;
	margin-bottom:20px;
	height:35px;
	background:url(img/bgdaysSun.png) left top no-repeat;
	text-align:center;
}
	#itemSearch #Days li.sat {
		background:url(img/bgdaysSat.png) left top no-repeat;
		}
	#itemSearch #Days li.normal {
		background:url(img/bgdays.png) left top no-repeat;
		}
	#itemSearch #Days li.SPLong {
		width:211px;
		font-size:12px;
		text-align:left;
		background:url(img/bgdaysLong.png) left top no-repeat;
		}
	#itemSearch #Days li.SPLong a {
		display:block;
		padding:5px;
		color:#292929;
	}
#itemSearch #Days li span {
	font-family:'Acme', sans-serif,"メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Georgia","Meiryo", "ＭＳ Ｐゴシック";
	font-size:1.8em;
	color:#292929;
	}

#itemSearch input:checked + label {
  background:#CCC;
  border-bottom:1px solid #f00;
}

/* 検索結果
---------------------------------------------------------------*/
#resurtArea {
	margin-top:20px;
}
#resurtArea h2 {
	float:left;
	width:130px;
	padding-top:8px;
	}
#resurtArea .itemStatus {
	width:300px;
	float:right;
	text-align:right;
	}
#resurtArea .itemStatus span {
	color:#F60;
	font-size:2em;
	font-weight:bold;
	}
.itemNavi {
	clear:right;
}	
	.itemNavi ul {
		float:right;
		margin-right:-5px;
	}
	.itemNavi li {
		width:23px;
		height:23px;
		text-align:center;
		float:left;
		margin-right:5px;
	}
	.itemNavi li a {
		display:block;
		width:23px;
		height:23px;
		text-decoration:none;
		background:url(img/nav.png) left top no-repeat;
		line-height:23px;
	}
	.itemNavi li a:hover {
		background:url(img/nav.png) left -23px no-repeat;
		color:#FFF;
		}
	.itemNavi li a.cur {
		background:url(img/navCurrent.png) left top no-repeat;
		color:#fff;
		}
	.itemNavi li a.off {
		opacity: .40; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=40); /* IE lt 8 */
		-ms-filter: "alpha(opacity=40)"; /* IE 8 */
		-khtml-opacity: .40; /* Safari 1.x */
		-moz-opacity: .40; /* FF lt 1.5, Netscape */
		}		
.itemList {
	margin:20px 0;
}
#NoResurt {
	text-align:center;
	margin-top:-80px;
	position:relative;
}
	#NoResurt img {
		margin-left:-100px;
		position:relative;
	}
.OneTrial {
	width:300px;
	float:left;
	margin-left:10px;
	margin-bottom:30px;
	height:330px;
	}
	.OneTrial h4 {
		height:69px;
		font-size:1.3em;
		}
	.OneTrial h4 img {
		margin-right:5px;
		}	
	.OneTrial h4 em {
		font-style:normal;
		/*display:block;*/
		display:table-cell;
		padding:5px 0 0 60px;
		vertical-align:middle;
		height:69px;
	}
		*:first-child+html .OneTrial h4 em {
			display:inline-block;
			zoom:1;
			vertical-align:middle;
			padding-top:10px;
			}
	.OneTrial h4 strong {
		font-size:1.6em;
	}
	.OneTrialInner {
		padding:10px;
		}
	.OneTrial li {
		display:table-cell;
		vertical-align:top;
	}
	.OneTrial li:first-child {
		width:160px;
		}
			/* for IE7 */
				*:first-child+html .OneTrial ul {
					height: 185px;
					}
				*:first-child+html .OneTrial li {
					/*display: inline;
					vertical-align: middle;
					zoom: 1;*/
					float:left;
					width:140px;					
				}
				*:first-child+html .OneTrial li.dummy {
					width: 0;
					height: 100%;
					vertical-align: middle;
					display: inline-block;
				}
	.OneTrial li strong {
		font-weight:normal;
		width:101px;
		height:71px;/*100*/
		padding-top:30px;
		display:block;
		background:#F00;
		text-align:center;
		background:url(img/bgdate.png) left top no-repeat;
		}
		.OneTrial li strong.sat {
			background:url(img/bgdate_sat.png) left top no-repeat;
			color:#0000FF;
			}
		.OneTrial li strong.sun {
			background:url(img/bgdate_sun.png) left top no-repeat;
			color:#DF040E;
			}
	.OneTrial li span {
		font-family:'Acme', sans-serif,"メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Georgia","Meiryo", "ＭＳ Ｐゴシック";
		font-size:3em;
		}
	.OneTrial p {
		text-align:center;
		margin-top:10px;
	}

/*ドッグ*/		
.OneTrial.dog {
		background:url(../img_dog/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.dog h4 {
		background:url(../img_dog/tit.png) left top no-repeat;
		color:#FF9900;
	}
	.OneTrial.dog .OneTrialInner {
		background:url(../img_dog/bgTop.png) left top repeat-x;
	}
/*アニマル*/		
.OneTrial.animal {
		background:url(../img_animal/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.animal h4 {
		background:url(../img_animal/tit.png) left top no-repeat;
		color:#FF0000;
	}
	.OneTrial.animal .OneTrialInner {
		background:url(../img_animal/bgTop.png) left top repeat-x;
	}
/*オーシャン*/		
.OneTrial.marine {
		background:url(../img_marine/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.marine h4 {
		background:url(../img_marine/tit.png) left top no-repeat;
		color:#0066FF;
	}
	.OneTrial.marine .OneTrialInner {
		background:url(../img_marine/bgTop.png) left top repeat-x;
	}
/*ナチュラル*/		
.OneTrial.nature {
		background:url(../img_nature/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.nature h4 {
		background:url(../img_nature/tit.png) left top no-repeat;
		color:#009966;
	}
	.OneTrial.nature .OneTrialInner {
		background:url(../img_nature/bgTop.png) left top repeat-x;
	}
/*フラワー*/		
.OneTrial.flower {
		background:url(../img_flower/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.flower h4 {
		background:url(../img_flower/tit.png) left top no-repeat;
		color:#FF6600;
	}
	.OneTrial.flower .OneTrialInner {
		background:url(../img_flower/bgTop.png) left top repeat-x;
	}
/*農業*/		
.OneTrial.agr {
		background:url(../img_agriculture/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.agr h4 {
		background:url(../img_agriculture/tit.png) left top no-repeat;
		color:#99CC33;
	}
	.OneTrial.agr .OneTrialInner {
		background:url(../img_agriculture/bgTop.png) left top repeat-x;
	}

/*ドッグトレーナー20130207追加*/		
.OneTrial.trainer {
		background:url(../img_trainer/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.trainer h4 {
		background:url(../img_trainer/tit.png) left top no-repeat;
		color:#FF6600;
	}
	.OneTrial.trainer .OneTrialInner {
		background:url(../img_trainer/bgTop.png) left top repeat-x;
	}
/*動物看護師20130207追加*/		
.OneTrial.nurse {
		background:url(../img_nurse/bgBottom.png) left bottom repeat-x;	
	}
	.OneTrial.nurse h4 {
		background:url(../img_nurse/tit.png) left top no-repeat;
		color:#FF6699;
	}
	.OneTrial.nurse .OneTrialInner {
		background:url(../img_nurse/bgTop.png) left top repeat-x;
	}


/* Box Height
------------------------- */
.itemNavi:after,
.itemNavi ul:after,
#resurtArea:after,
#itemSearch ul:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html .itemNavi,
* html .itemNavi ul,
* html #resurtArea,
* html #itemSearch ul {
	zoom: 1;
} /* IE6 */
*:first-child+html .itemNavi,
*:first-child+html .itemNavi ul,
*:first-child+html #resurtArea,
*:first-child+html #itemSearch ul {
	zoom: 1;
} /* IE7 */