@charset "utf-8";
/* CSS Document */

/* gmd.html
-----------------------------------------*/
div#gmdinfo h3 {
	margin-top:0;
}
div#gmdinfo h4 {
	width:584px;
	margin:8px auto 2px auto;
	padding:3px 8px;
	border:1px solid #339933;
	background-color:#ECFFEC;
	font-size:14px;
	color:#339933;
}

div#gmdinfo ul {
	margin:0 15px 10px 15px;
	overflow:hidden;
}

div#gmdinfo ul li {
	list-style-image:url(img/icon_li.gif);
	list-style-position:outside;
	margin:7px 10px 7px 30px;
	color:#333;
	line-height:1.5;
}

div#gmdinfo div {
	width:584px;
	margin:8px auto 2px auto;
	padding:3px 8px;
	border:#039 1px dotted;
}
div#gmdinfo div p{
	font-weight:bold;
	color:#039;
	font-size:16px;
	border-bottom:solid 1px #039;
}
div#gmdinfo div dl {
	margin:7px 10px 7px 30px;
}
div#gmdinfo div dl dt {
	font-size:14px;
	color:#06C;
}
div#gmdinfo div dl dd {
	font-size:14px;
}
div#gmdinfo div dl dd a{
	font-size:12px;
	text-decoration:none;
}
div#gmdinfo div dl dd em {
	font-size:12px;
	color:#C00;
}


div#gmdinfo em {
	font-weight:bold;
}
div#gmdinfo strong {
	padding:2px 3px;
	margin:0 2px;
	font-weight:bold;
	border:1px solid red;
	color:red;
}

div#gmdinfo p.merit1 {
	width:584px;
	margin:8px auto 2px auto;
	border-bottom:1px solid #70C00E;
	padding:0;
	font-weight:bold;
}

div#gmdinfo p.merit2 {
	width:584px;
	margin:8px auto 2px auto;
	border-bottom:1px solid #70C00E;
	padding:20px 0 0 0;
	font-weight:bold;
	background:url(img/arrow.gif) no-repeat top center;
}
div#gmdinfo img.dog {
	float:right;
	padding:10px 20px;
}

div#gmdinfo a.dogeco {
	display:block;
	float:left;
	margin:0 5px 0 0;
}






