@charset "utf-8";
/* CSS Document */

/* info.html
-----------------------------------------*/
body#info h3 {
	margin-top:0;
}

div#infolist ul {
	width:600px;
	margin:20px auto;
	border-top:1px solid #CCC;
}

div#infolist ul li {
	display:block;
	zoom:1;
}

div#infolist ul li a {
	display:block;
	padding:4px 5px;
	border-bottom:1px solid #CCC;
	text-decoration:none;
	color:#666;
	background:#FFF url(../img/news_bg.gif) no-repeat 580px center;
	font-weight:normal;
}
div#infolist ul li a:hover {
	background:#F2F2F2 url(../img/news_bg.gif) no-repeat 580px center;
}

div#infolist ul li p {
	padding:0;
	padding-left:80px;
	padding-right:30px;
	color:#333;
	font-weight:bold;
	line-height:1.5;
}

div#infolist ul li span {
	display:block;
	width:80px;
	float:left;
}














