@charset "utf-8";
/* CSS Document */

/* サイドナビ
-----------------------------------------*/
#side div.oca100 {
	background:#FFF;
	display:block;
	padding-top:10px;
}



/* 現在ページハイライト
-----------------------------------------*/
/*body#schedule div#side ul li#nSchedule a,
body#center div#side ul li#nCenter a,
body#corporate div#side ul li#nCorporate a,
body#field div#side ul li#nField a,
body#qualification div#side ul li#nQualification a,
body#support div#side ul li#nSupport a {
	background:#82C929 url(img/side_icon_on.gif) no-repeat 6px 12px;
	color:#FFF;
}
*/

/* main
-----------------------------------------*/

p.leadtext {
	clear:both;
	padding:5px;
}
p.leadtext strong {
	font-size:16px;
	font-weight:bold;
	color:#093;
}
p.normaltext {
	clear:both;
	padding:5px 10px;
	margin-bottom:25px;
}

h3{
	width:676px;
	height:38px;
	margin:0 auto 5px auto;
	color:#81C928;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:18px;
	background-image:url(img/h3_bg.gif);
}

h4 {
	width:670px;
	margin:5px auto;
	padding:0.4em 0;
	text-indent:0.8em;
	background:#81C928;
	color:#FFF;
	line-height:1;
	font-size:14px;
}

ul.jobresults {
	clear:both;
	width:678px;
	height:48px;
	margin:0 auto;
	padding:5px 0;
}
ul.jobresults li {
	float:left;
	width:226px;
	text-align:center;
	vertical-align:top;
}

div.jobtable {
	clear:both;
	width:680px;
	margin:0 0 0 0;
}

div.jobtable h3 {
	width:676px;
	height:38px;
	margin:0 auto 5px auto;
	color:#81C928;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:18px;
	background-image:url(img/h3_bg.gif);
}
div.jobtable table {
	width:662px;
	margin:0 auto 12px auto;
	font-size:10px;
}
div.jobtable table td {
	width:25%;
	padding:7px 6px;
	border:1px solid #D6D6D6;
	border-collapse:collapse;
}
div.jobtable table tr.odd td {
	background-color:#FFF1F1;
}
div.jobtable table tr.even td {
	background-color:#FFF;
}


/* career_center.html
-----------------------------------*/
#center p.leadtext img {
	float:right;
	margin-left:10px;
}

div.ccImg {
	clear:both;
	width:630px;
	margin:10px auto;
	text-align:center;
}

dl.ccDl {
	display:inline;
	float:left;
	width:295px;
	margin:10px 5px;
	border:5px #DEF solid;
}
dl.ccDl dt {
	padding:5px 5px 2px 5px;
	margin:5px 5px 0 5px;
	background-color:#FFF;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #06C;
}
dl.ccDl dd {
	padding:5px;
	margin:0px 5px 5px 5px;
	background-color:#FFF;
	text-align:left;
	height:95px;
}
dl.ccDl dd img {
	float:right;
	margin-left:2px;
}

dl.ccDlb {
	clear:both;
	width:610px;
	margin:auto;
	border:5px #DEF solid;
}
dl.ccDlb dt {
	padding:5px 5px 2px 5px;
	margin:5px 5px 0 5px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #06C;
}
dl.ccDlb dd {
	padding:5px;
	margin:0px 5px 5px 5px;
	background-color:#FFF;
	text-align:left;
	overflow:hidden;
}
dl.ccDlb dd img {
	float:right;
	margin-left:2px;
}

/* #job */
#job #main ul#menu{
	margin:10px auto 0;
	}
#job #main ul#menu li{
	float:left;
	margin-top:14px;
	padding:0 7px 0 6px;
	width:213px;	
	}


/* corporate_results.html
-----------------------------------*/
div.companyPickup {
	width:630px;
	margin:0 auto;
	border-bottom:1px solid #CCC;
	overflow:hidden;
}
div.companyPickup div.cpBox {
	float:left;
	width:301px;
	padding:7px;
	border-top:1px solid #CCC;
}
div.companyPickup div.cpBox h3 {
	width:301px;
	height:auto;
	background:none;
	font-size:14px;
	font-weight:bold;
	color:#06C;
	margin:0;
	padding:0;
	text-indent:0;
	line-height:1.4;
}
div.companyPickup div.cpBox p {
	font-size:10px;
	clear:both;
}
div.companyPickup div.cpBox p.profiletext img {
	float:left;
	margin-right:3px;
}
div.companyPickup div.cpBox p.profiletext strong {
	font-size:12px;
}

#corporate div.voicebox {
	width:630px;
	margin:10px auto;
	overflow:hidden;
}
#corporate div.voicebox p {
	font-size:10px;
	margin-top:5px;
}
#corporate div.voicebox p.profiletext img {
	float:left;
	margin-right:5px;
}
#corporate div.voicebox p.profiletext {
	font-size:12px;
	font-weight:bold;
}

table.companyList {
	width:630px;
	margin:10px auto;
	font-size:10px;
}
table.companyList td {
	width:25%;
	padding:7px 6px;
	border:1px solid #D6D6D6;
	border-collapse:collapse;
}
table.companyList tr.odd td {
	background-color:#FFF1F1;
}
table.companyList tr.even td {
	background-color:#FFF;
}





/* job_schedule.html
-----------------------------------*/
#schedule p.normaltext img {
	float:left;
	margin-right:5px;
}
#schedule p.normaltext {
	overflow:hidden;
}

/* field.html,area.html,schoolhtml
-----------------------------------*/
#field #main caption{
	color:#F90;
	font-size:12px;
	}
#field #main .page_navi{
	clear:both;
	display:block;
	width:670px;
	height:25px;
	margin:0 0 1px 5px;
	background:#CCC;
}
#field #main .page_navi a,
#field #main .page_navi a:visited{
	color:#FFF;
	text-decoration:none;
	padding-left:9px;
	margin-left:15px;
	background:url("img_field/pagenavi_arrow.gif") no-repeat 0 50%;

}
#field #main .page_navi a:hover{
	color:#81C928;
	text-decoration:underline;
	background:url("img_field/pagenavi_arrow_on.gif") no-repeat 0 50%;
	}
#field #main .page_navi li{
	display:inline;
	float:left;
	height:25px;
	color:#FFF;
	font-size:12px;
	line-height:25px;
	margin-right:-5px;
}
#field #main #pageLink{
	margin:10px 0 15px;
	}
#field #main .pagetop{
	}
#field #main dl{
	width:214px;
	padding:0 0 10px 10px;
	margin-bottom:5px;
}
#field #main dl dt{
	color:#F90;
	font-size:12px;
	}
#field #main dl dd{
	margin-bottom:-1px;
	padding:7px 6px;
	border:1px solid #D6D6D6;
	background-color:#FFF1F1;
	font-size:10px;
	}
#field #main dl dd.lastChild{
	border-bottom:1px solid #D6D6D6;
	}


/* qualification
-----------------------------------------*/

#qualification div#textbox{
	width:678px;
	margin:10px auto;
}

#qualification div#textbox strong{
	display:block;
	margin:0 0 15px 10px;
	font-size:14px;
	font-weight:bold;
	color:#009933;
}

#qualification div#textbox p{
	margin:0 0 15px 10px;
}

#qualification #qualificationbox{
	width:660px;
	margin: 0 0 25px 10px;
	border:#82C929 1px solid;
}

#qualification #qualificationbox h3{
	clear:both;
	width:660px;
	height:37px;
	margin:0 0 10px 0;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-indent:10px;
	line-height:37px;
	background-color:#82C929;
	background-image:none;
}

#qualification #qualificationbox h4{
	clear:both;
	width:640px;
	height:27px;
	margin:10px;
	padding:0;
	font-size:12px;
	color:#FFF;
	text-indent:10px;
	line-height:27px;
	background-color:#82C929;
}

#qualification #qualificationbox .rightimg{
	_display:inline;
	float:right;
	margin: 0 10px 10px 5px;
}

#qualification #qualificationbox strong{
	display:block;
	font-size:14px;
	color:#CC0000;
	margin: 0px 10px 10px 10px;
}

#qualification #qualificationbox strong span{
	font-size:16px;
}

#qualification #qualificationbox p{
	margin:0 10px;
}

#qualification #qualificationbox .voicebox{
	clear:both;
	margin:10px;
	padding:10px;
	background-color:#FFFFD2;
}

#qualification #qualificationbox .voicebox .leftbox{
	float:left;
	width:175px;
}

#qualification #qualificationbox .voicebox .rightbox{
	float:right;
	width:435px;
}

#qualification #qualificationbox .voicebox strong{
	margin:0px;
	font-size:12px;
	color:#000;
}

#qualification #qualificationbox .voicebox strong span{
	font-size:14px;
}

#qualification #qualificationbox .voicebox .rightbox strong{
	margin-bottom:10px;
	color:#009933;
}

#qualification #qualificationbox .voicebox .rightbox p{
	margin:0px
}

#qualification #main h3.listtext{
	clear:both;
	width:678px;
	height:38px;
	margin:0 0 10px 0;
	font-size:14px;
	font-weight:bold;
	color:#82C929;
	line-height:38px;
	text-indent:25px;
	background-image:url(img/h3_bg.gif);
}

#qualification .qalifiationlist{
	width:680px;
}

#qualification .qalifiation2{
	display:inline;
	float:left;
	width:325px;
	margin: 0 0 25px 10px;
	border:#82C929 1px solid;
}

#qualification .qalifiation2 h4{
	width:100%;
	height:27px;
	margin:0 0 10px 0;
	padding:0;
	font-size:14px;
	color:#FFF;
	text-indent:10px;
	line-height:27px;
	background-color:#82C929;
}

#qualification .qalifiation2 h4.secondline{
	height:45px;
	line-height:20px;
}

#qualification .qalifiation2 p{
	margin:0 10px;
}

#qualification .qalifiation2 .voicebox2{
	clear:both;
	width:285px;
	margin:10px;
	padding:10px;
	background-color:#CEEAF2;
	overflow:auto;
}

#qualification .qalifiation2 .voicebox2 h5{
	color:#1479AD;
	background:#FFFFFF;
	border:#157AAE 1px solid;
	margin-bottom:5px;
	padding:5px;
}

#qualification .qalifiation2 .voicebox2 strong{
	color:#1479AD;
}

#qualification .qalifiation2 .voicebox2 img{
	float:right;
}

#qualification .qalifiation2 .voicebox2 p{
	margin:0px;
}

#qualification .otherlist{
	clear:both;
	margin-top:20px;
}

#qualification .otherlist h4{
	width:100%;
	height:27px;
	margin:0 0 0 10px;
	padding:0;
	font-size:14px;
	color:#FFF;
	text-indent:10px;
	line-height:27px;
	background-color:#82C929;
}

#qualification .otherlist ul{
	float:left;
	color:#FF6600;
	margin:10px 20px 10px 10px;
}



