@charset "utf-8";
/* CSS Document */

/* サイドナビ
-----------------------------------------*/
#side div.results {
	background:#FFF;
	display:block;
	padding-top:10px;
}

#side div.oca100 {
	background:#FFF;
	display:block;
	padding-top:10px;
}

/* 現在ページハイライト
-----------------------------------------*/
body#schedule div#side ul li#nSchedule a,
body#center div#side ul li#nCenter a,
body#corporate div#side ul li#nCorporate a,
body#field div#side ul li#nField a,
body#qualification div#side ul li#nQualification a,
body#graduateVoice div#side ul li#nGraduateVoice a,
body#graduate div#side ul li#nGraduate a,
body#jobday div#side ul li#nJobday a,
body#support div#side ul li#nSupport a,
body#talk div#side ul li#nTalk a {
	background:#E7F5D8 url(../common/img02/ico_sub_arrow.png) no-repeat 5px 13px;
	color:#F90;
}


/* main
-----------------------------------------*/
/*div#main {
	clear:both;
	float:left;
	width:680px;
}*/

/*h2 {
	width:680px;
	height:52px;
	margin:0 0 12px 0;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:51px;
	text-indent:33px;
	background-image:url(img/h2_bg.gif);
}
h2 span {
	font-size:12px;
}
*/
#graduateVoice {
	background:#fbf0d3;
	border-radius:4px;
	padding:10px;
	}
	#graduateVoice h3 {
		background:none;
		color:#251C03;
		font-size:18px;
		}
p.leadtext {
	clear:both;
	padding:5px;
}
p.leadtext strong {
	font-size:16px;
	font-weight:bold;
	color:#093;
}
p.normaltext {
	clear:both;
	padding:5px 10px;
	margin-bottom:25px;
}

h3{
	width:676px;
	height:38px;
	margin:0 auto 5px auto;
	color:#81C928;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:18px;
	background-image:url(img/h3_bg.gif);
}

h4 {
	width:670px;
	margin:5px auto;
	padding:0.4em 0;
	text-indent:0.8em;
	background:#81C928;
	color:#FFF;
	line-height:1;
	font-size:14px;
}

ul.jobresults {
	clear:both;
	width:678px;
	height:48px;
	margin:0 auto;
	padding:5px 0;
}
ul.jobresults li {
	float:left;
	width:226px;
	text-align:center;
	vertical-align:top;
}

div.jobtable {
	clear:both;
	width:680px;
	margin:0 0 0 0;
}

div.jobtable h3 {
	width:676px;
	height:38px;
	margin:0 auto 5px auto;
	color:#81C928;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:18px;
	background-image:url(img/h3_bg.gif);
}
div.jobtable table {
	width:662px;
	margin:0 auto 12px auto;
	font-size:10px;
}
div.jobtable table td {
	width:25%;
	padding:7px 6px;
	border:1px solid #D6D6D6;
	border-collapse:collapse;
}
div.jobtable table tr.odd td {
	background-color:#FFF1F1;
}
div.jobtable table tr.even td {
	background-color:#FFF;
}

/* career_center.html
-----------------------------------*/
#center p.leadtext img {
	float:right;
	margin-left:10px;
}

div.ccImg {
	clear:both;
	width:630px;
	margin:10px auto;
	text-align:center;
}

dl.ccDl {
	display:inline;
	float:left;
	width:295px;
	margin:10px 5px;
	border:5px #DEF solid;
}
dl.ccDl dt {
	padding:5px 5px 2px 5px;
	margin:5px 5px 0 5px;
	background-color:#FFF;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #06C;
}
dl.ccDl dd {
	padding:5px;
	margin:0px 5px 5px 5px;
	background-color:#FFF;
	text-align:left;
	height:95px;
}
dl.ccDl dd img {
	float:right;
	margin-left:2px;
}

dl.ccDlb {
	clear:both;
	width:610px;
	margin:auto;
	border:5px #DEF solid;
}
dl.ccDlb dt {
	padding:5px 5px 2px 5px;
	margin:5px 5px 0 5px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #06C;
}
dl.ccDlb dd {
	padding:5px;
	margin:0px 5px 5px 5px;
	background-color:#FFF;
	text-align:left;
	overflow:hidden;
}
dl.ccDlb dd img {
	float:right;
	margin-left:2px;
}

/* #job */
#job #main ul#menu{
	margin:10px auto 0;
	}
#job #main ul#menu li{
	float:left;
	margin-top:14px;
	padding:0 7px 0 6px;
	width:213px;	
	}


/* corporate_results.html
-----------------------------------*/
div.companyPickup {
	width:630px;
	margin:0 auto;
	border-bottom:1px solid #CCC;
	overflow:hidden;
}
div.companyPickup div.cpBox {
	float:left;
	width:301px;
	padding:7px;
	border-top:1px solid #CCC;
}
div.companyPickup div.cpBox h3 {
	width:301px;
	height:auto;
	background:none;
	font-size:14px;
	font-weight:bold;
	color:#06C;
	margin:0;
	padding:0;
	text-indent:0;
	line-height:1.4;
}
div.companyPickup div.cpBox p {
	font-size:10px;
	clear:both;
}
div.companyPickup div.cpBox p.profiletext img {
	float:left;
	margin-right:3px;
}
div.companyPickup div.cpBox p.profiletext strong {
	font-size:12px;
}

#corporate div.voicebox {
	width:630px;
	margin:10px auto;
	overflow:hidden;
}
#corporate div.voicebox p {
	font-size:10px;
	margin-top:5px;
}
#corporate div.voicebox p.profiletext img {
	float:left;
	margin-right:5px;
}
#corporate div.voicebox p.profiletext {
	font-size:12px;
	font-weight:bold;
}


#corporate div#box{
	margin:20px 0px 20px 3px;
	padding:0px;
}

#corporate div.cell20{
	margin:0px 0px 20px 0px;
	padding:0px;
}

#corporate div.wd519{
	width:519px;
}


#corporate div.left{
	float:left;
}

#corporate div.right{
	float:right;
}
table.companyList {
	width:630px;
	margin:10px auto;
	font-size:10px;
}
table.companyList td {
	width:25%;
	padding:7px 6px;
	border:1px solid #D6D6D6;
	border-collapse:collapse;
}
table.companyList tr.odd td {
	background-color:#FFF1F1;
}
table.companyList tr.even td {
	background-color:#FFF;
}

/* job_schedule.html
-----------------------------------*/
#schedule p.normaltext img {
	float:left;
	margin-right:5px;
}
#schedule p.normaltext {
	overflow:hidden;
}
#YearTable th {
	width:5em;
	padding:4px 0;
	font-family:DagnyWeb-Bold,Arial,sans-serif;
	}

#YearTable .Year1 th,
#YearTable .Year1 td {
	color:#666;
	}
#YearTable .Year2 th,
#YearTable .Year2 td {
	color:#F2984F;
	}
#YearTable th,
#YearTable td {
	border-bottom:1px dotted #dfdfdf;
}
#Year1 {
	background:url(img_job_schedule/bg1.gif) left top repeat-y;
}
	#Year2 {
		background:url(img_job_schedule/bg2.gif) left top repeat-y;
	}
	#Year2-2 {
		background:url(img_job_schedule/bg3.gif) left top repeat-y;
	}
#Year1 div,
#Year2 div,
#Year2-2 div {
	position:relative;
	width:70px;
	height:100%;
}
#Year1 img:first-child,
#Year2 img:first-child {
	margin-top:60px;
}
	.yaji {
		position:absolute;
		left:0;
		bottom:0;
		}
.Sotugyo {
	font-size:1.8em;
	color:#F60;
}
#yearWrapper {
	position:relative;
	margin-left:20px;
	margin-bottom:50px;
	}
#yearWrapper #catch01 {
	position:absolute;
	top:0;
	left:220px;
	}
#yearWrapper #catch02 {
	position:absolute;
	top:130px;
	left:320px;
	}
#yearWrapper #catch03 {
	position:absolute;
	top:260px;
	left:220px;
	}
#yearWrapper #catch04 {
	position:absolute;
	top:390px;
	left:280px;
	}
#yearWrapper #catch05 {
	position:absolute;
	top:520px;
	left:220px;
	}
#yearWrapper #catch06 {
	position:absolute;
	top:650px;
	left:280px;
	}
#yearWrapper #sotugyo {
	position:absolute;
	top:830px;
	left:280px;
	}
/* field.html,area.html,schoolhtml
-----------------------------------*/
#field #main caption{
	color:#F90;
	font-size:12px;
	}
#field #main .page_navi{
	clear:both;
	display:block;
	width:670px;
	height:25px;
	margin:0 0 1px 5px;
	background:#CCC;
}
#field #main .page_navi a,
#field #main .page_navi a:visited{
	color:#FFF;
	text-decoration:none;
	padding-left:9px;
	margin-left:15px;
	background:url("img_field/pagenavi_arrow.gif") no-repeat 0 50%;

}
#field #main .page_navi a:hover{
	color:#81C928;
	text-decoration:underline;
	background:url("img_field/pagenavi_arrow_on.gif") no-repeat 0 50%;
	}
#field #main .page_navi li{
	display:inline;
	float:left;
	height:25px;
	color:#FFF;
	font-size:12px;
	line-height:25px;
}
#field #main #pageLink{
	margin:10px 0 15px;
	}
#field #main .pagetop{
	}
#field #main dl{
	float:left;
	width:214px;
	padding:0 0 10px 10px;
	margin-bottom:10px;
	border-bottom:#EEE solid 1px;
}
#field #main dl dt{
	color:#F90;
	font-size:12px;
	}
#field #main dl dd{
	padding:7px 6px;
	border-top:1px solid #D6D6D6;
	border-left:1px solid #D6D6D6;
	border-right:1px solid #D6D6D6;
	background-color:#FFF1F1;
	font-size:10px;
	}
#field #main dl dd.lastChild{
	border-bottom:1px solid #D6D6D6;
	}


/* qualification
-----------------------------------------*/

#qualification div#textbox{
	width:678px;
	margin:10px auto;
}

#qualification div#textbox strong{
	display:block;
	margin:0 0 15px 10px;
	font-size:14px;
	font-weight:bold;
	color:#009933;
}

#qualification div#textbox p{
	margin:0 0 15px 10px;
}

#qualification #qualificationbox{
	width:660px;
	margin: 0 0 25px 10px;
	border:#82C929 1px solid;
}

#qualification #qualificationbox h3{
	clear:both;
	width:660px;
	height:37px;
	margin:0 0 10px 0;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-indent:10px;
	line-height:37px;
	background-color:#82C929;
	background-image:none;
}

#qualification #qualificationbox h4{
	clear:both;
	width:640px;
	height:27px;
	margin:10px;
	padding:0;
	font-size:12px;
	color:#FFF;
	text-indent:10px;
	line-height:27px;
	background-color:#82C929;
}

#qualification #qualificationbox .rightimg{
	_display:inline;
	float:right;
	margin: 0 10px 10px 5px;
}

#qualification #qualificationbox strong{
	display:block;
	font-size:14px;
	color:#CC0000;
	margin: 0px 10px 10px 10px;
}

#qualification #qualificationbox strong span{
	font-size:16px;
}

#qualification #qualificationbox p{
	margin:0 10px;
}

#qualification #qualificationbox .voicebox{
	clear:both;
	margin:10px;
	padding:10px;
	background-color:#FFFFD2;
}

#qualification #qualificationbox .voicebox .leftbox{
	float:left;
	width:175px;
}

#qualification #qualificationbox .voicebox .rightbox{
	float:right;
	width:435px;
}

#qualification #qualificationbox .voicebox strong{
	margin:0px;
	font-size:12px;
	color:#000;
}

#qualification #qualificationbox .voicebox strong span{
	font-size:14px;
}

#qualification #qualificationbox .voicebox .rightbox strong{
	margin-bottom:10px;
	color:#009933;
}

#qualification #qualificationbox .voicebox .rightbox p{
	margin:0px
}

#qualification #main h3.listtext{
	clear:both;
	width:678px;
	height:38px;
	margin:0 0 10px 0;
	font-size:14px;
	font-weight:bold;
	color:#82C929;
	line-height:38px;
	text-indent:25px;
	background-image:url(img/h3_bg.gif);
}

#qualification .qalifiationlist{
	width:680px;
}

#qualification .qalifiation2{
	display:inline;
	float:left;
	width:325px;
	margin: 0 0 25px 10px;
	/*border:#82C929 1px solid;*/
}

#qualification .qalifiation2 h5 {
	width:100%;
	height:27px;
	margin:0 0 10px 0;
	padding:0;
	font-size:14px;
	color:#FFF;
	text-indent:10px;
	line-height:27px;
	/*background-color:#82C929;*/
}

/*2013.03追加--*/
#qualification .forExam{
	border:#82C929 1px solid;
}
#qualification h4#Shikaku01,
#qualification .forExam h5 {
	background-color:#82C929;
}
#qualification .forWork{
	border:#388ACA 1px solid;
}
#qualification h4#Shikaku02,
#qualification .forWork h5 {
	background-color:#388ACA;
}
#qualification .forLevel{
	border:#F26662 1px solid;
}
#qualification h4#Shikaku03,
#qualification .forLevel h5 {
	background-color:#F26662;
}
/*2013.03追加--*/

#qualification .qalifiation2 h4.secondline{
	height:45px;
	line-height:20px;
}

#qualification .qalifiation2 p{
	margin:0 10px;
}

#qualification .qalifiation2 .voicebox2{
	clear:both;
	width:285px;
	margin:10px;
	padding:10px;
	background-color:#CEEAF2;
	overflow:auto;
}

#qualification .qalifiation2 .voicebox2 h6 {
	color:#1479AD;
	background:#FFFFFF;
	border:#157AAE 1px solid;
	margin-bottom:5px;
	padding:5px;
}

#qualification .qalifiation2 .voicebox2 strong{
	color:#1479AD;
}

#qualification .qalifiation2 .voicebox2 img{
	float:right;
}

#qualification .qalifiation2 .voicebox2 p{
	margin:0px;
}

#qualification .qalifiation2 dl {
	margin:5px 10px;
	font-size:0.8em;
	}
	#qualification .qalifiation2 dt {
		width:50px;
		float:left;
	}
	#qualification .qalifiation2 dd {
		width:255px;
		float:left;
	}

#qualification .otherlist{
	clear:both;
	margin-top:20px;
}

#qualification .otherlist h4{
	width:100%;
	height:27px;
	margin:0 0 0 10px;
	padding:0;
	font-size:14px;
	color:#FFF;
	text-indent:10px;
	line-height:27px;
	background-color:#82C929;
}

#qualification .otherlist li {
    background: url("../common/img/ico_sq01.gif") no-repeat scroll left 0.4em;
	padding-left:10px;
    float: left;
    margin-left: 10px;
	margin-bottom:8px;
    width: 200px;
}

#ShikakuNavi li {
	text-align:center;
	display:inline;
	margin-left:7px;
	}
/* graduate
-----------------------------------------*/
#graduateWrapper h2.indexh2Dog3{
	background-color:#EB5A6B;
}
#graduateWrapper h2.indexh2Dog2{
	background-color:#EF8595;
}
#graduateWrapper h2.indexh2Animal{
	background-color:#F39700;
}
#graduateWrapper h2.indexh2Ocean{
	background-color:#00A8E4;
}
#graduateWrapper h2.indexh2Flower{
	background-color:#8DC63F;
}
#graduateWrapper h2.indexh2Agri{
	background-color:#21AB38;
}
#graduateWrapper h3 strong {
	font-weight:normal;
	font-size:12px;
	color:#333;
	background:#FFB806;
	padding:3px;
	margin-left:5px;
}

.GraduateBase {
	padding:20px;
}

.GraduateBase dl {
	background:#F8F3D3;
	padding:8px 6px;
	display:inline-table;
	box-sizing:border-box;
	width:340px;
	}
	/*IE7ハック*/
	*+html .GraduateBase dl {
		display:inline-block;
		zoom:1;
		}
.GraduateBase dt {
	border-bottom:1px dashed #CBAC75;
	padding-bottom:3px;
	margin-bottom:3px;
	}
.GraduateBase p {
	line-height:1.8;
}
.GraduateBase h4 {
	color:#009933;
	background:none;
	text-indent:0;
	line-height:1.5;
	}
	/*IE7ハック*/
	*+html .GraduateBase h4,
	*+html .GraduateBase p {
		display:inline;
	}
/*BoxHeight*/
#qualification .qalifiation2 dl:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html #qualification .qalifiation2 dl {
	zoom: 1;
} /* IE6 */

*:first-child+html #qualification .qalifiation2 dl {
	zoom: 1;
} /* IE7 */

/* talk
-----------------------------------------*/
#talk h3{
	box-sizing:border-box;
	width:790px;
	line-height:30px;
	margin:0 0 20px 0;
	padding:5px 20px;
	font-size:14px;
	background-color:#009933;
	background-image: none;
	color:#FFF;
	font-family:UD Shin Go NT Bold;
	border-radius:4px;
	}
#talk h4 {
	margin:0 0 20px 0;
	padding:0;
	background:none !important;
	font-weight:normal;
	position:relative;
	font-family:UD Shin Go NT Bold;
	border: none !important;
	text-indent:0;
}
#talk h4 p {
	width: 770px;
	box-sizing:border-box;
	position: absolute;
	left: 10px;
	top: 90px;
	color: #000;
	background:rgba(255,255,255,0.8);
	padding:5px;
	line-height:1.1;
	border-radius:4px;
	}
#talk h5 {
	background:#82C929;
	color:#FFF;
	font-size:1.4em;
	padding:0 10px;
	margin-bottom:35px;
	line-height:26px;
	font-family:UD Shin Go NT Bold;
	}
#talk #main dt {
	/*font-weight:bold;*/
	font-family: UD Shin Go NT Regular;
}

#talk .person {
	margin-bottom:20px;	
	}
#talk .person dt,
#talk .person dd {
	display:inline;
	}

#talk .prof p.profname_r{
	width:300px;
	text-align:right;
}

#talk .prof dl {
	margin-top:5px;
}
#talk .prof dt {
	/*color:#7FC926;*/
}
#talk .prof dd {
	font-size:0.8em;
}

#talk .person.t_teacher dt,
#talk p.t_teacher,
#talk .prof.t_teacher dt{
	color:#82C929;
}
#talk .person.g_orange dt,
#talk .prof.g_orange dt{
	color:#f29417;
}
#talk .person.g_lblue dt,
#talk .prof.g_lblue dt{
	color:#00a2df;
}
#talk .person.g_green dt,
#talk .prof.g_green dt{
	color:#090;
}
#talk .person.g_dblue dt,
#talk .prof.g_dblue dt{
	color:#0081bf;
}
#talk .person.g_red dt,
#talk .prof.g_red dt{
	color:#cf0c3b;
}
#talk .person.g_pink dt,
#talk .prof.g_pink dt{
	color:#F69;
}

#talk #talkNav li {
	/*width:155px;*/
	width:263px;
	float:left;
	margin-bottom:20px;
	font-size:11px;
	box-sizing:border-box;
	padding-right:5px;
	}
#talk #talkNav li a {
	display:block;
}
#talk #talkNav li img {
	float:left;
	margin-right:2px;
}

#talk #talkNav li span{
	font-weight:bold;
	font-size:13px;
}

#talk .footnote{
	font-size:x-small;
}
/*高田松原を守る会*/
#talk div.episode{
	border:2px solid #82C929;
	width:690px;
	margin:20px;
	padding:20px;
}
#talk div.episode p strong{
	color:#82C929;
	font-size:16px;
}
#talk div.episode p span{
	font-size:14px;
	font-weight:bold;
}
/*talk 現在のインデックスを非表示*/
#talk_1 li#nav_01,
#talk_2 li#nav_02,
#talk_3 li#nav_03,
#talk_4 li#nav_04,
#talk_5 li#nav_05,
#talk_6 li#nav_06,
#talk_7 li#nav_07,
#talk_8 li#nav_08 {
	display:none;
}
