@charset "utf-8";
/* CSS Document */

/* サイドナビ
-----------------------------------------*/


/* 現在ページハイライト
-----------------------------------------*/


/*  */

h2 {
	clear:both;
	width:886px;
	height:52px;
	margin:0 0 12px 0;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:51px;
	text-indent:33px;
	background-image:url(img/h2_bg.gif);
}
#sitemap #content02 div.fixHeightNAuto{
	padding:0 5px;
	width:876px;
	margin:auto;
	}
#sitemap #content02 div.fixHeightNAuto ul{
	width:193px;
	float:left;
	padding:10px 5px 10px 5px;
	margin:0 10px 10px 5px;
	border-right:1px #CCC solid;
	border-bottom:1px #EEE solid;
	} 
#sitemap #content02 div.fixHeightNAuto ul li{
	list-style-type:disc;
	list-style-position:inside;
	padding-left:15px;
	margin:10px 0;
	line-height:1.3;
	} 
#sitemap #content02 div.fixHeightNAuto ul li a,
#sitemap #content02 div.fixHeightNAuto ul li a:visited{
	color:#666;
	text-decoration:none;
	}
#sitemap #content02 div.fixHeightNAuto ul li a:hover{
	color:#F90;
	text-decoration:underline;
	}
#sitemap #content02 div.fixHeightNAuto ul li.firstChild {
	list-style-type:none;
	list-style-position:outside;
	font-size:14px;
	font-weight:bold;
	border-left:#090 3px solid;
	margin:0;
	padding:3px 0 3px 10px;
	}
#sitemap #content02 div.fixHeightNAuto ul li.firstChild a,
#sitemap #content02 div.fixHeightNAuto ul li.firstChild a:visited{
	color:#333;
	text-decoration:none;
	}
#sitemap #content02 div.fixHeightNAuto ul li.firstChild a:hover{
	color:#F90;
	text-decoration:underline;
	}


