/* 基本レイアウト
---------------------------------------------- */

/* ================= 目次 =======================

　1.page
　2.header
　3.contents
		4.navi
　5.footer

============================================== */


/* 1. page
---------------------------------------------- */
#page{
margin:0px auto;
padding:0px;
width:840px;
}

#page img{
border:none;
}


/* 2. header
---------------------------------------------- */
#header{
clear:both;
margin:0px;
padding:0px;
}


/* 3. contents
---------------------------------------------- */
#contents{
clear:both;
margin:0px;
padding:0px;
}


/* 4. navi
---------------------------------------------- */
#navi{
clear:both;
margin:0px;
padding:0px;
}

#navi dl{
margin:0px;
padding:0px;
}

#navi dt{
	font-size:80%;
	line-height:2.0;
	height:21px;
	margin-bottom:1px;
	background-color:#f2f2f2;
	background-image: url(../../../career/results//common/arrow.gif);
	background-repeat: no-repeat;
	background-position: 12px;
	list-style-type: none;
	padding-left: 24px;
}

#navi dt a{
	display:block;
}


#navi dd{
margin:0px;
padding:0px;
font-size:80%;
}

#navi ul{
margin-top:5px;
margin-bottom:20px;
}

#navi li{
	line-height:2.0;
	height:21px;
	background-image: url(../../../career/results//common/arrow.gif);
	background-repeat: no-repeat;
	background-position: 20px;
	list-style-type: none;
	padding-left: 32px;
}



/* 5. footer
---------------------------------------------- */
#footer{
	clear:both;
	margin:0px;
	padding:0px;
	background-color: #83c92a;
}

#footer-in{
	margin:auto;
	width:840px;
	text-align:right;
}
