/* 中面共通パーツ
---------------------------------------------- */

/* ================= 目次 =======================

　1.pan
　2.title
　3.article-area
　4.page-top
　5.table
　6.etc

============================================== */


/* 1. pan
---------------------------------------------- */
.pan{
margin:0px;
padding-top:10px;
padding-bottom:10px;
font-size:80%;
}


/* 2. title
---------------------------------------------- */

h1{
	color:#b1377f;
	background-image: url(../../../career/results//common/title-bg.gif);
	background-repeat: no-repeat;
	font-size: 120%;
	line-height: normal;
	padding-left: 20px;
}

h2{
	color:#333333;
	font-size: 100%;
	background-color: #f2f2f2;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-bottom: 10px;
}

/*h2.title{
margin-bottom:20px;
padding-top:13px;
padding-left:24px;
background:url(../common/title-bg.gif) no-repeat;
height:31px;
font-size:16px;
color:#FFFFFF;
font-weight:bold;
}

h3.sub-title{
margin-bottom:8px;
padding-left:12px;
background:url(../common/sub-title-bg.gif) no-repeat 0 0.1em;
height:16px;
font-size:14px;
font-weight:bold;
}

h4.text{
margin-bottom:8px;
padding-top:2px;
padding-left:12px;
background:url(../common/text-bg.gif) no-repeat;
height:20px;
font-size:14px;
}

.title-bg-w{
padding-right:8px;
background-color:#FFFFFF;
}
*/

/* 3. article-area
---------------------------------------------- */
#article-area{
margin:0px;
padding:0px;
}


/* 4. page-top
---------------------------------------------- */
.page-top{
margin:0px;
padding-top:40px;
text-align:right;
}

.page-top02{
margin:0px;
padding-top:20px;
text-align:right;
}


/* 5. table
---------------------------------------------- */
table.default {
	font-family:Verdana;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 80%;
	width: 630px;
	text-align: left;
}

table.default thead tr th, table.default tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 100%;
	padding: 4px;
	text-align:left;
}

table.default tbody td{
color: #3D3D3D;
padding: 4px;
background-color: #FFF;
vertical-align: top;
}

table.default tbody td.td-header {
 width:180px;
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
}



/* 6. etc
---------------------------------------------- */
.etc{
margin:0px;
padding:0px;
}

.etc dt{
margin:0px;
margin-right:-13em;
padding:0px;
float:left;
clear:left;
}

.etc dd{
margin:0px;
padding-left:68px;
}
