@media print{

body{
background-image:none;
}

#header{
display:none;
}

#navi{
display:none;
}

.right{
margin:0px;
padding:0px;
float:none;
}

#footer{
display:none;
}

}

