@charset "utf-8";
/* CSS Document */

/* 現在ページハイライト
-----------------------------------------*/
body#equipment div#side ul li#nEquipment a,
body#aroundschool div#side ul li#nAround a,
body#tumbler div#side ul li#nTumbler a,
body#dormitory div#side ul li#nDormitory a,
body#support div#side ul li#nSupport a,
body#circle div#side ul li#nCircle a,
body#calender div#side ul li#nCalender a {
	background:#E7F5D8 url(../common/img02/ico_sub_arrow.png) no-repeat 5px 13px;
	color:#F90;
}

/* main
-----------------------------------------*/
/*#main h2 {
	width:680px;
	height:52px;
	margin:0 0 12px 0;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:51px;
	text-indent:33px;
	background-image:url("img/h2_bg.gif");
}*/


div#textbox{
	width:678px;
	margin:10px auto;
}

div#textbox strong{
	display:block;
	margin:0 0 15px 10px;
	font-size:14px;
	font-weight:bold;
	color:#009933;
}

div#textbox p{
	margin:0 0 15px 10px;
}

#main h3{
	clear:both;
	width:680px;
	height:38px;
	margin:0 0 10px 0;
	font-size:14px;
	font-weight:bold;
	color:#82C929;
	line-height:38px;
	text-indent:25px;
	background-image:url(img/h3_bg.gif);
}


#oo h4{
	clear:both;
	width:660px;
	margin:10px;
	font-size:14px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#80C728;
}
p.leadtext {
	clear:both;
	padding:5px;
}
p.leadtext strong {
	font-size:16px;
	font-weight:bold;
	color:#093;
}
p.normaltext {
	clear:both;
	padding:5px 10px;
	margin-bottom:25px;
}
p.normaltext em{
	font-size:14px;
	color:#F60;
	font-weight:bold;
}

/* campus
-----------------------------------------*/
#campus #main ul#menu{
	margin:10px auto 0;
	}
#campus #main ul#menu li{
	float:left;
	margin-top:14px;
	padding:0 7px 20px 6px;
	width:213px;	
	}


/* equipment
-----------------------------------------*/

#equipment .equipmentbox{
	clear:both;
	overflow:auto;
	width:655px;
	margin:10px 0 10px 10px;
	border: 5px solid #EEEEEE;
}

#equipment .equipmentbox h4{
	clear:both;
	padding:1px;
	height:41px;
	font-size:14px;
	line-height:41px;
	text-indent:10px;
	color:#009933;
	background-image:url(img_equipment/img_equipment_h4_bg.gif);
}

#equipment .equipmentbox .equipmenttext{
	width:625px;
	padding:10px;
	margin-left:5px;
	border-top: 2px solid #EEEEEE;
}
#equipment .equipmentbox .equipmenttext2{
	width:625px;
	margin-left:15px;
}

#equipment .equipmentbox .leftbox{
	display:inline;
	width:390px;
	height:320px;
	float:left;
	padding:0 0 5px 15px;
}

#equipment .equipmentbox .rightbox{
	float:right;
	width:215px;
	margin-right:15px;
	_margin-right:8px;
}

#equipment .equipmentbox .caption{
	/*height:19px;*/
	padding-top:2px;
	font-size:10px;
	border:none;
}

#equipment .equipmentbox .voicebox{
	clear:both;
	width:610px;
	margin:15px;
	background-color:#CEEAF2;
	padding:5px;
	overflow:auto;
}

#equipment .equipmentbox .voicebox .leftimg{
	display:inline;
	float:left;
	margin-right:5px;
}

#equipment .equipmentbox .voicebox strong{
	margin:5px 0;
}

#equipment .equipmentbox .voicebox span{
	color:#1479AD;
	font-weight:normal;
}

#equipment .equipmentbox .equipmentstrong{
	clear:both;
	display:block;
	width:620px;
	color:#996600;
	padding-top:-10px;
	margin:0px 0px 5px 15px;
	border-bottom: 1px solid #996600;
}

#equipment .equipmenttext3{
	width:625px;
	margin-left:10px
}

#equipment .equipmentbox2{
	height:200px;
	margin:0 0 10px 12px;
	padding-bottom:10px;
}

#equipment .equipmentbox2 div{
	float:left;
	padding:4px;
	font-size:10px;
}


/* aroundschool
-----------------------------------------*/

#aroundschool .aroundschoolbox{
	clear:both;
	overflow: hidden;
	width:670px;
	margin:0 0 10px 10px;
}

#aroundschool .aroundschoolbox .leftbox{
	float:left;
	width:398px;
	height:500px;
}

#aroundschool .aroundschoolbox .rightbox{
	float:right;
	width:260px;
}

.voicebox{
	clear:both;
	background-color:#CEEAF2;
	overflow:auto;
	padding:4px;
}

.voicebox .leftimg{
	display:inline;
	float:left;
	margin-right:5px;
}

.voicebox span{
	color:#1479AD;
	font-weight:normal;
}

.voicebox .caption{
	padding-top:2px;
	font-size:10px;
	border:none;
}


#aroundschool #main h4{
	clear:both;
	margin:20px 0px 10px 0;
	font-size:14px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#80C728;
}


#aroundschool .aroundschoolbox2{
	clear:both;
	width:670px;
	margin:15px 0 0 10px;
	overflow:auto;
}


#aroundschool .aroundschooltext{
	color:#009933;
	margin: 0 0 10px 10px;
}

#aroundschool .aroundbox{
	float:left;
	_display:inline;
	width:187px;
	margin:0 5px;
	padding:10px;
	border: 1px solid #EEEEEE;
}

#aroundschool .aroundbox strong{
	font-size:14px;
	color:#009933;
}

/* タンブラーデザイン　追加 */

.left{
	float:left;
}

.right{
	float:right;
}

.cell{
	margin:0px;
	padding:0px;
}

.tumbler-dl-text{
	margin-top:10px;
	text-align:center;
}

/* dormitory
-----------------------------------------*/

#dormitory .btn_movie{
	margin-bottom:10px;
}

#dormitory #dormitoryinfo{
	width:630px;
	margin-left:20px;
}

#dormitory #dormitoryinfo .leftbox{
	float:left;
	width:385px;
}

#dormitory #dormitoryinfo .rightbox{
	float:right;
	width:240px;
}
/*
#dormitory #dormitoryinfo .leftbox dl {
	margin:10px 0;
	}
	#dormitory #dormitoryinfo .leftbox dt {
		font-weight:bold;
		color:#009933;
		border-bottom:1px solid #009933;
	}
	#dormitory #dormitoryinfo .leftbox dd {
		margin-bottom:15px;
	}*/
#dormitory #dormitoryinfo .qa {
	clear:both;
}

	#dormitory #dormitoryinfo .qa dt {
		font-weight:bold;
		color:#009933;
		border-bottom:1px solid #009933;
		margin-bottom:5px;
	}
	#dormitory #dormitoryinfo .qa dd {
		margin:0 0 15px 20px;
	}




#dormitory #dormitoryinfo .imgroom,
#dormitory #dormitoryinfo .imgfood{
	padding-bottom:5px;
}

#dormitory #dormitoryinfo .rightbox .comment{
	width:219px;
	background-color:#CEE7FF;
}

#dormitory #dormitoryinfo .rightbox .comment p,
#dormitory #dormitoryinfo .rightbox .comment img{
	padding: 5px 7px 0px 7px;
	font-size:10px;
	color:#0066CC;
}

#dormitory #main h4 {
	clear:both;
	width:660px;
	margin:10px 10px;
	font-size:14px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#FF6699;
}

#dormitory #main h4.dormitoryboy{
	background-color:#0066CC;
}

#dormitory .dormitorylist{
clear:both;
width:670px;
margin-left:5px;
margin-bottom:10px;
}

#dormitory .dormitorybox{
	_display:inline;
	float:left;
	width:315px;
	margin:0 0 5px 5px ;
	padding:5px;
	border: 1px solid #CCCCCC;
}
#dormitory .boxlast{
margin-bottom:15px;
}

#dormitory .dormitorybox .imgdormitory {
	float:left;
	margin-right:10px;
}

#dormitory .dormitorybox dl{
	padding:15px 0 5px 0;
	font-size:10px;
}
#dormitory .dormitorybox dt{
	color:#FF6699;
}
#dormitory .dormitorybox .listboy dt{
	color:#118CCD;
}

#dormitory .dormitorybox p{
	color:#61971E;
}

#dormitory .servicebox{
	clear:both;
	margin-bottom:20px;
}

#dormitory .serviceleft {
	float:left;
	width:305px;
	padding:10px 15px;
	border-right: 1px solid #80C728;
}
#dormitory .serviceright {
	float:left;
	width:305px;
	padding:10px 0 15px 15px;
}
#dormitory .serviceright img.imgR,
#dormitory .serviceleft img.imgR{
	float:right;
}


#dormitory .mansioninfo{
clear:both;
width:660px;
margin-left:5px;
padding:5px;
background-color:#80C728;
}

#dormitory .mansioninfo strong {
float:left;
display:box;
width:140px;
padding:3px;
margin-right:5px;
font-size:12px;
color:#FFFFFF;
background-color:#80C728;
}

#dormitory .mansioninfo p {
display:box;
padding:5px;
font-size:11px;
background-color:#FFFFFF;
}
#dormitory .mansioninfo span {
	color:##FF6600;
}

#dormitory .mansioninfo2{
	clear:both;
	width:670px;
	margin:20px 0 0 5px;
	padding-top:10px;
	border-top: 1px solid #80C728;
}

#dormitory .colorBlue{
	color:#388FD2;
}

#dormitory .mansioninfo2 a,
#dormitory .mansioninfo2 a:visited{
	color:#80C728;
	font-size:14px;
}
#dormitory .mansioninfo2 a:hover{
	color:#F90;
}

#dormitory .mansioninfolast{
	display:box;
	padding:10px 0;
	border-bottom: 1px solid #80C728;
}

/* support
-----------------------------------------*/
#support .textbox01{
	width:660px;
	height:128px;
	margin:0 0 10px 10px;
}
#support .textbox01 .clinicimg{
float:right;
}
#supportinfo{
	clear:both;
	margin-top:10px;
}

#support h4{
	clear:both;
	padding:3px;
	margin-bottom:10px;
	font-size:12px;
	text-indent:5px;
	color:#FFFFFF;
	background-color:#80C728;
}
#support #supportinfo{
	width:660px;
	margin-left:10px;
}

#support #supportinfo .leftbox{
	float:left;
	width:345px;
}

#support #supportinfo .clinicroom{
	float:left;
	margin:0 5px 10px 0;
}

#support #supportinfo .rightbox{
	float:right;
	width:308px;
	overflow:hidden;
	padding-bottom:10px;
}

#mentalbox{
	clear:both;
	width:660px;
	height:110px;
	margin-left:10px;
}
#mentallefbox{
	float:left;
}

#mentalbox .mentalleft{
	display:box;
	float:left;
	margin-top:20px;
	width:250px;
}

#mentalbox #mentalright{
	float:right;
	width:340px;
	background-color:#FFFFCC;
	padding:5px;
}

#mentalbox .mentalarrow{
	margin-top:20px;
	margin-left:10px;
}

#mentalbox #mentalright ul{
	display:box;
	float:left;
	font-size:10px;
	margin:5px 10px 0 0;
}

#support #consultbox{
	margin:10px 10px 50px 50px;
}

#support #docterbox{
	clear:both;
	width:660px;
	height:100px;
	margin-left:10px;
	font-size:10px;
	border-top: 1px solid #80C728;
}
#support #docterbox img{
	float:left;
	margin-right:5px;
}
#support #docterbox strong{
	font-size:12px;
	padding:5px;
}
#support #docterbox p{
	font-size:10px;
	padding:5px 0 0 5px;
}

#support .docterleft {
	float:left;
	width:295px;
	margin:10px 5px;
	padding-right:10px;
	border-right: 1px solid #80C728;
}
#support .docterright {
	float:left;
	width:320px;
	padding:10px 0 10px 10px;
}

#support #clinicinfo{
	clear:both;
	width:660px;
	margin-left:10px;
	margin:10px 0px 50px 10px;
	padding-top:15px;
	border-top: 1px solid #80C728;
}

#support #clinicinfo .leftbox{
	float:left;
	width:280px;
	margin-left:10px;
}

#support  #clinicinfo p{
	margin:5px 0;
}

#support  #clinicinfo span{
	color:#FF6600;
}

#support #clinicinfo .rightbox{
	float:right;
	width:335px;
}
#support #clinicinfo tr,
#support #clinicinfo td {
	border-collapse: separate;
	border: 1px #FFFFFF solid;
}

#support .teacherimg{
	float:right;
	margin: 0 0 20px 5px;
}

/* circle
-----------------------------------------*/

#circle #boxset{
	width:680px;
	margin:10px 0px 50px 0px;
}

#circle #boxset .left{
	float:left;
}

#circle #boxset .right{
	float:right;
}

#circle #boxset .wd330{
	width:330px;
}

#circle #boxset h4{
	margin:0px;
	padding:5px 0px 5px 0px;
	border-bottom:#CCCCCC 1px solid;
	font-size:14px;
	color:#009933;
}

#circle #boxset p{
	margin:0px;
	padding:5px 0px 10px 0px;
	font-size:12px;
}






#circle .voicebox{
	width:325px;
}

#circle .voicebox h4{
	width:100%;
	margin:5px 0 5px 0;
	font-size:12px;
	text-align:center;
	text-indent:10px;
	letter-spacing:1em;
	color:#FFFFFF;
	background-color:#0066cc;
}

#circle .voicebox .leftbox{
	float:left;
	width:90px;
}

#circle #circle .voicebox strong{
	font-size:12px;
	padding-bottom:8px;
}

#circle #circleboxset{
	width:670px;
	clear:both;
	margin:10px;
	overflow:auto;
}

#circle .circlebox {
	display:inline;
	float:left; 
	width:160px;
	margin:5px 5px 10px 0;
	font-size:10px;
}

#circle .circlebox2 {
	float:left; 
	width:320px;
	margin:5px 5px 10px 5px;
	font-size:10px;
}

#circle .circlebox h4,
#circle .circlebox2 h4{
	display:block;
	margin:0 3px;
	padding:5px;
	border-bottom:#CCCCCC 1px solid;
	font-size:12px;
	color:#009933;
}

#circle .circlebox img,
#circle .circlebox2 img{
	float:right;
	padding:5px;
}

#circle .circletext{
	display:block;
	padding:5px;
	border-bottom:#CCCCCC 1px solid;
	font-size:14px;
	color:#009933;
	}

/* eventcalender
-----------------------------------------*/
#claenderTable {
	width:100%;
	border:5px solid #88cd3e;
	}
	#claenderTable th {
		width:20%;
		background:	#88cd3e;
		font-family: 'Bowlby One', "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Georgia", "Meiryo", "ＭＳ Ｐゴシック";
		color:#FFF;
		font-size:6em;
		text-align:center;
		border-bottom:1px solid rgba(255,255,255,0.5);
		}
	#claenderTable td {
		background:#E7F5D8;
		border-bottom:1px solid #88cd3e;
		}
	#claenderTable th,
	#claenderTable td {
		padding:5px;
	}
		#claenderTable tr:last-child th,
		#claenderTable tr:last-child td {
			border:none!important;
		}
	#claenderTable td dl {
		margin-top:30px;
		}
	#claenderTable td dt {
		font-size:2em;
		color:#88cd3e;
		}