/* 20111103イベント */

.event113{
	margin:15px auto;
	width:532px;
	border:1px solid #EEE;
	background:url(img/event_back.jpg) repeat-x left top;
}

.event113 h4{
	margin:5px;
	color:#339933;
}

.event113 ul{
margin:10px;
padding:0;
list-style-type:circle;
}

.event113 li{
margin-top:10px;
margin-left:20px;
padding:0;
list-style-type:circle;
}

.event113 p.kometxt{
margin-left:20px;
}

.event113 dl{
margin:10px;
width:370px;
}
.event113 dt{
	padding:3px;
	background-color:#d2f7a8;
}
.event113 dd{
	padding:3px;
}
.event113 dd.comp{
	text-align:right;;
}

.event113_note{
	margin:10px auto;
	width:532px;
}
.event113_note ul{
margin-top:20px;
padding:0;
list-style-type:circle;
}
.event113_note li{
margin-top:5px;
margin-left:20px;
padding:0;
list-style-type:circle;
}

.event113 .txtarea{
float:left;

}
.event113 .imgarea{
float:right;
}

img.event_btn {
	float:right;
}

/* 20111103イベント end */
