@charset "utf-8";
#osaka{
	width:620px;
	height:400px;
	}
#text{
	font-size:14px;
	width:198px;
	height:378px;
	border:#039 1px solid;
	float:left;
	padding:10px;
	line-height:1.3;
	}
#text p.title{
	font-size:14px;
	color:#039;
	font-weight:bold;
	margin-bottom:10px;
	line-height:1.5;
	}
#osaka #map{
	float:left;
	}


