@charset "utf-8";
/* CSS Document */

/* 現在ページハイライト
-----------------------------------------*/
body#equipment div#side ul li#nEquipment a,
body#aroundschool div#side ul li#nAround a,
body#tumbler div#side ul li#nTumbler a{
	background:#E7F5D8 url(../common/img02/ico_sub_arrow.png) no-repeat 5px 13px;
	color:#F90;
}
/* main
-----------------------------------------*/

#main h3 {
	clear:both;
	margin:0 auto 5px;
	color:#81C928;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:18px;
	background-image:url(../common/img02/h3_bg.gif);
}
#StudentBox {
	margin-left:-22px;
	margin-top:30px;
	}
.oneStudentBox {
	width:384px;
	float:left;
	margin:0 0 22px 22px;
	background:url(img/bg_kakuBottom.png) left bottom no-repeat;
	}
.oneStudentBox > div {
	background:url(img/bg_kakuTop.png) left top no-repeat;
	padding:15px;
	}
.oneStudentBox p img {
	border:1px solid #FFF;
	}
.oneStudentBox p a {
	display:inline-block;
	border:1px solid #DFDFDF;
	}
.oneStudentBox dt {
	font-weight:bold;
	font-size:1.4em;
	}
.oneStudentBox dt a {
	background:url(../common/img02/ico_sub_arrow.png) left center no-repeat;
	padding-left:20px;
	}

#CatCalender li {
	width:100px;
	float:left;
	margin-right:10px;
}
#CatCalender li a {
	display:block;
	color:#FFF;
	text-align:center;
	padding:10px;
	border-radius:5px;
	
	height:3em;
	background-image:url(img/bg_dot.png);
}
	#CatCalender li a:hover {
		text-decoration:none;
	}
#CatCalender li.pet a {
	background-color:#E67399;
	}
  #CatCalender li.pet a:hover {
		background-color:#F0ABC2;
		}
#CatCalender li.ocaean a {
	background-color:#536CA6;
	}
	#CatCalender li.ocaean a:hover {
		background-color:#98A7CA;
		}
#CatCalender li.animal a {
	background-color:#D47F1E;
	}
	#CatCalender li.animal a:hover {
		background-color:#E5B278;
		}
#CatCalender li.nature a {
	background-color:#A7B828;
	}
	#CatCalender li.nature a:hover {
		background-color:#CAD47E;
		}
#CatCalender li.career a {
	background-color:#AD2D2D;
	}
	#CatCalender li.career a:hover {
		background-color:#CE8181;
		}

table tr.table-green1 {
	border-collapse:collapse;
	border:1px solid #039A03;
	background-color:#80C729;
	padding: 2px;
	font-size:12px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
}

table.table-green2 {
	width:100%;
	margin:auto;
	border-collapse:collapse;
	border:1px solid #039A03;
	background-color:#FFFFCC;
	padding: 3px;
	font-size:12px;
	text-align:center;
}
table.table-green2 td {
	border-collapse:collapse;
	border:1px solid #039A03;
	padding: 5px;

}
table.table-green2 th {
	border-collapse:collapse;
	border:1px solid #039A03;
/*	background-color:#EDEDED;*/
	padding: 2px;
	text-align:left;
	color:#333333;
}

table.table-green2 tr.even td,
table.table-green2 tr.even th {
	background:#FFFFDD;
}


/* student/index.html
-----------------------------------------*/
#entryIndex h4 {
	background:#D0EAB9;
	font-size:123%;
	line-height:25px;
	padding:0 8px;
	margin:0 0 15px 0;
	}
#entryIndex {
	margin-left:-20px;
}
#entryIndex .relatedBox {
	width:385px;
	float:left;
	margin:0 0 20px 20px;
	}
	#entryIndex li {
		margin-bottom:10px;
	}
	#entryIndex a {
	padding-left: 15px;
	background:	url(../common/img/crumbs_bg.gif) left center no-repeat;
	}
	#entryIndex ul {
		padding-left:5px;
		}
