@charset "utf-8";
/*トップページ専用*/

/*------------------------------*/

#trialMenu {
	width: 930px;
	margin: 5px auto 15px;
}
#trialMenu ul {
	display: block;
	margin: 0px;
	padding: 0px;
}
#trialMenu li a {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 231px;
}
#trialMenu li {
	display: inline;
	margin: 2px;
	padding: 0px;
	height: 231px;
	float: left;
	width: 306px;
}
#trialMenu li a {
	overflow: hidden;
	text-indent: -9999px;
}
#trialMenu li#selectMenu {
	background: url(img/select_menu_on.jpg) no-repeat;
	display: block;
	margin: 2px;
	padding: 0px;
	height: 99px;
	float: left;
	width: 926px;
}
#trialMenu li#selectMenu a {
	background: url(img/select_menu.jpg) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 99px;
	overflow: hidden;
	text-indent: -9999px;
}
#trialMenu li#dogMenu {
	background: url(img/dog_menu_on.jpg) no-repeat;
}
#trialMenu li#dogMenu a {
	background: url(img/dog_menu.jpg) no-repeat;
}
#trialMenu li#animalMenu {
	background: url(img/animal_menu_on.jpg) no-repeat;
}
#trialMenu li#animalMenu a {
	background: url(img/animal_menu.jpg) no-repeat;
}
#trialMenu li#marineMenu {
	background: url(img/marine_menu_on.jpg) no-repeat;
}
#trialMenu li#marineMenu a {
	background: url(img/marine_menu.jpg) no-repeat;
}
#trialMenu li#natureMenu {
	background: url(img/nature_menu_on.jpg) no-repeat;
}
#trialMenu li#natureMenu a {
	background: url(img/nature_menu.jpg) no-repeat;
}
#trialMenu li#flowerMenu {
	background: url(img/flower_menu_on.jpg) no-repeat;
}
#trialMenu li#flowerMenu a {
	background: url(img/flower_menu.jpg) no-repeat;
}
#trialMenu li#agricultureMenu {
	background: url(img/agriculture_menu_on.jpg) no-repeat;
}
#trialMenu li#agricultureMenu a {
	background: url(img/agriculture_menu.jpg) no-repeat;
}
#trialMenu li#selectMenu a:hover, #trialMenu li#dogMenu a:hover, #trialMenu li#animalMenu a:hover, #trialMenu li#marineMenu a:hover, #trialMenu li#natureMenu a:hover, #trialMenu li#flowerMenu a:hover, #trialMenu li#agricultureMenu a:hover {
	background: none;
}
#trialBox {
	margin: 10px 0px;
	width: 930px;
}
#trialBox .trialMovie {
	float: right;
	margin: auto;
}
#trialBox .movieText {
	text-align: center;
	font-size: 10px;
}
#trialMenuSmall li a, #trialMenuSmall ul {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 97px;
}
#trialMenuSmall li {
	display: block;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	height: 97px;
	float: left;
	width: 130px;
}
#trialMenuSmall li a {
	overflow: hidden;
	text-indent: -9999px;
}
#trialMenuSmall li#selectMenulist {
	background: url(img/select_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#selectMenulist a {
	background: url(img/select_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#dogMenulist {
	background: url(img/dog_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#dogMenulist a {
	background: url(img/dog_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#animalMenulist {
	background: url(img/animal_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#animalMenulist a {
	background: url(img/animal_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#marineMenulist {
	background: url(img/marine_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#marineMenulist a {
	background: url(img/marine_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#natureMenulist {
	background: url(img/nature_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#natureMenulist a {
	background: url(img/nature_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#flowerMenulist {
	background: url(img/flower_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#flowerMenulist a {
	background: url(img/flower_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#agricultureMenulist {
	background: url(img/agriculture_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#agricultureMenulist a {
	background: url(img/agriculture_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#openMenulist {
	background: url(img/open_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#openMenulist a {
	background: url(img/open_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#selectMenulist a:hover, #trialMenuSmall li#dogMenulist a:hover, #trialMenuSmall li#animalMenulist a:hover, #trialMenuSmall li#marineMenulist a:hover, #trialMenuSmall li#natureMenulist a:hover, #trialMenuSmall li#flowerMenulist a:hover, #trialMenuSmall li#agricultureMenulist a:hover, #trialMenuSmall li#dogMenulist .current, #trialMenuSmall li#selectMenulist .current, #trialMenuSmall li#animalMenulist .current, #trialMenuSmall li#marineMenulist .current, #trialMenuSmall li#natureMenulist .current, #trialMenuSmall li#flowerMenulist .current, #trialMenuSmall li#agricultureMenulist .current, #trialMenuSmall li#openMenulist .current {
	background: none;
}
/* セレクトメニュー */
#selectMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#selectMenu #container tbody td {
	background: url(img_select/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: top;
}
#selectMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_select/table_title.gif) no-repeat left top;
	color: #E4295E;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 408px;
}
#selectMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_select/table_title.gif) no-repeat left top;
	color: #E4295E;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#selectMenu #container table dd.entry, #selectMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#selectMenu #container table dd.entry {
	background: url(../img_entryform/entry_select_on.gif) no-repeat;
}
#selectMenu #container table dd.entry a {
	background: url(../img_entryform/entry_select.gif) no-repeat;
}
#selectMenu #container table dd.entry a:hover {
	background: none;
}
#selectMenu #container table thead th {
	background-color: #E4295E;
	height: 3px;
	margin: 0;
}
#selectMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#selectMenu #container caption {
	overflow: hidden;
	background-color: #E4295E;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
#selectMenu #container .topFiller {
	background: url(img_select/partner.jpg) no-repeat center top;
	width: 930px;
	height: 289px;
	margin: 0 auto;/*text-indent:-9999px;
position:relative;*/
}
#selectMenu #container .topFiller {
	position: relative;
}
#selectMenu #container .topFiller img {
	position: absolute;
	display: block;
	left: 49px;
	top: 219px;
}
/* ドッグメニュー */
#dogMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;/*font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
*/}
#dogMenu #container tbody td {
	background: url(img_dog/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	/*font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
*/vertical-align: top;
}
#dogMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_dog/table_title.gif) no-repeat left top;
	color: #FF9900;
	font-size: 16px;
	/*font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
*/font-weight: bold;
	text-align: left;
	width: 408px;
}
#dogMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_dog/table_title.gif) no-repeat left top;
	color: #FF9900;
	font-size: 16px;
	/*font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";*/
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#col table {
	width: 900px !important;
	margin-left: 10px !important;
}
#col tr td {
	border: none !important;
}
#col td {
	width: 33% !important;
	background: none !important;
}
.box3 {
	padding-top: 10px;
	width: 280px;
}
.subtitle {
	font-size: 14px;
	font-weight: bold;
	color: #F90;
}
#dogMenu #container table dd.entry, #dogMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#dogMenu #container table dd.entry {
	background: url(../img_entryform/entry_dog_on.gif) no-repeat;
}
#dogMenu #container table dd.entry a {
	background: url(../img_entryform/entry_dog.gif) no-repeat;
}
#dogMenu #container table dd.entry a:hover {
	background: none;
}
#dogMenu #container table thead th {
	background-color: #FF9900;
	height: 3px;
	margin: 0;
}
#dogMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#dogMenu #container caption {
	overflow: hidden;
	background-color: #FF9900;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
#dogMenu #container table th.topFiller {
	background: url(img_dog/partner_new.jpg) no-repeat #FFFFFF;
	width: 930px;
	height: 275px;
	text-indent: -9999px;
	position: relative;
}
#dogMenu #container table th.topFiller div img {
	position: absolute;
	top: 50px;
	left: 785px;
}
/* アニマルメニュー */
#animalMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#animalMenu #container td {
	background: url(img_animal/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: top;
}
#animalMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_animal/table_title.gif) no-repeat left top;
	color: #FF0000;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 408px;
}
#animalMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_animal/table_title.gif) no-repeat left top;
	color: #FF0000;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#animalMenu #container table dd.entry, #animalMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#animalMenu #container table dd.entry {
	background: url(../img_entryform/entry_animal_on.gif) no-repeat;
}
#animalMenu #container table dd.entry a {
	background: url(../img_entryform/entry_animal.gif) no-repeat;
}
#animalMenu #container table dd.entry a:hover {
	background: none;
}
#animalMenu #container table th {
	background-color: #FF0000;
	height: 3px;
	margin: 0;
}
#animalMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#animalMenu #container caption {
	overflow: hidden;
	background-color: #FF0000;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
#animalMenu .banner {
	margin: 15px auto 0;
	width: 652px;
}
/* 海洋メニュー */
#marineMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#marineMenu #container td {
	background: url(img_marine/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: top;
}
#marineMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_marine/table_title.gif) no-repeat left top;
	color: #0066FF;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 408px;
}
#marineMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_marine/table_title.gif) no-repeat left top;
	color: #0066FF;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#marineMenu #container table dd.entry, #marineMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#marineMenu #container table dd.entry {
	background: url(../img_entryform/entry_marine_on.gif) no-repeat;
}
#marineMenu #container table dd.entry a {
	background: url(../img_entryform/entry_marine.gif) no-repeat;
}
#marineMenu #container table dd.entry a:hover {
	background: none;
}
#marineMenu #container table th {
	background-color: #0066FF;
	height: 3px;
	margin: 0;
}
#marineMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#marineMenu #container caption {
	overflow: hidden;
	background-color: #0066FF;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
/* 自然環境メニュー */
#natureMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#natureMenu #container td {
	background: url(img_nature/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: top;
}
#natureMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_nature/table_title.gif) no-repeat left top;
	color: #009966;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 408px;
}
#natureMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_nature/table_title.gif) no-repeat left top;
	color: #009966;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#natureMenu #container table dd.entry, #natureMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#natureMenu #container table dd.entry {
	background: url(../img_entryform/entry_nature_on.gif) no-repeat;
}
#natureMenu #container table dd.entry a {
	background: url(../img_entryform/entry_nature.gif) no-repeat;
}
#natureMenu #container table dd.entry a:hover {
	background: none;
}
#natureMenu #container table th {
	background-color: #009966;
	height: 3px;
	margin: 0;
}
#natureMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#natureMenu #container caption {
	overflow: hidden;
	background-color: #009966;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
/* フラワーメニュー */
#flowerMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#flowerMenu #container td {
	background: url(img_flower/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: top;
}
#flowerMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_flower/table_title.gif) no-repeat left top;
	color: #FF6600;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 408px;
}
#flowerMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_flower/table_title.gif) no-repeat left top;
	color: #FF6600;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#flowerMenu #container table dd.entry, #flowerMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#flowerMenu #container table dd.entry {
	background: url(../img_entryform/entry_flower_on.gif) no-repeat;
}
#flowerMenu #container table dd.entry a {
	background: url(../img_entryform/entry_flower.gif) no-repeat;
}
#flowerMenu #container table dd.entry a:hover {
	background: none;
}
#flowerMenu #container table th {
	background-color: #FF6600;
	height: 3px;
	margin: 0;
}
#flowerMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#flowerMenu #container caption {
	overflow: hidden;
	background-color: #FF6600;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
/* 農業メニュー */
#agricultureMenu #container table {
	margin: 10px 0px 20px;
	padding: 0px;
	border: none;
	width: 930px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#agricultureMenu #container td {
	background: url(img_agriculture/table_bg.gif) repeat-x left bottom;
	margin: 0px;
	padding: 0px;
	border: #CCCCCC solid 1px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: top;
}
#agricultureMenu #container table h4 {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_agriculture/table_title.gif) no-repeat left top;
	color: #99CC33;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 408px;
}
#agricultureMenu #container table h4.join {
	margin: 0px;
	padding: 17px 5px 10px 50px;
	background: url(img_agriculture/table_title.gif) no-repeat left top;
	color: #99CC33;
	font-size: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	text-align: left;
	width: 800px;
}
#agricultureMenu #container table dd.entry, #agricultureMenu #container table dd.entry a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#agricultureMenu #container table dd.entry {
	background: url(../img_entryform/entry_agriculture_on.gif) no-repeat;
}
#agricultureMenu #container table dd.entry a {
	background: url(../img_entryform/entry_agriculture.gif) no-repeat;
}
#agricultureMenu #container table dd.entry a:hover {
	background: none;
}
#agricultureMenu #container table th {
	background-color: #99CC33;
	height: 3px;
	margin: 0;
}
#agricultureMenu #container table th.filler {
	padding: 10px 0;
	background: #E8E8E8;
}
#agricultureMenu #container caption {
	overflow: hidden;
	background-color: #99CC33;
	height: 3px;
	font-size: 2px;
	margin: 0;
	text-indent: -9999px;
}
/* 共通フォント */
#container table dd.imageRight {
	float: right;
}
#container table dd.normal {
	font-size: 12px;
}
#container table dd.date {
	font-size: 20px;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	font-weight: bold;
}
#container table dd.date .week {
	font-size: 12px;
}
#container table dd.date .sun {
	color: #FF0000;
}
#container table dd.date .sat {
	color: #0000FF;
}
#container table dd.date .time {
	font-size: 14px;
}
#container table dd.date .aside {
	font-size: 12px;
	font-weight: normal;
}
#container table dd.date .small {
	font-size: 10px;
	font-weight: normal;
}
#container table dd.date .normalText {
	font-size: 14px;
	font-weight: normal;
}
#container table dt .titleS {
	font-size: 12px;
}
#container table dt .titleSS {
	font-size: 10px;
}
/* 共通仕様 */
#container h3 {
	margin: 0;
	padding: 0;
}
#container table.tableMenu {
	clear: both;
}
#container table.tableMenu td {
	width: 50%;
}
#container table dt {
	margin: 0;
	padding-bottom: 5px;
	background: url(img/table_titlebar.gif) no-repeat left bottom;
}
#container table dt.joinTd {
	margin: 0;
	padding-bottom: 5px;
	background: url(../img_common/table_titlebar2.gif) repeat-x left bottom;
	position: relative;
}
#container table dt .fontSmall {
	font-size: 13px;
}
#container table dd.date {
	font-size: 16px;
}
#container table dd.date .selectCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #E49;
}
#container table dd.date .dogCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #FF6600;
}
#container table dd.date .animalCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #CC3300;
}
#container table dd.date .marineCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #0099CC;
}
#container table dd.date .natureCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #006666;
}
#container table dd.date .flowerCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #CC6600;
}
#container table dd.date .agricultureCategory {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	color: #999900;
}
#container table dd {
	margin: 0px;
	padding: 5px 15px 0;
	text-align: left;
}
#container table dd.entry {
	clear: both;
}
#container td dt div {
	position: relative;
}
#container td dt div img {
	position: absolute;
	top: -8px;
	right: 3px;
}
#container td dt div img.ballot {
	position: absolute;
	top: -20px;
	right: -5px;
}
#container td dt div a img {
	position: absolute;
	top: 10px;
	right: 100px;
}
#ainiikou {
	background-color: #F90;
	width: 245px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	font-size: 100%;
	color: #FFF;
	border: 3px dotted #FFF;
	font-weight: bold;
	margin-bottom: 5px;
}
/* 2010年11月の体験入学のみ用日程を過ぎたら削除可
---------------------------------------------------------------*/
.select-menu01-background-img {
	background-image: url(img_select/201011-wanwan01.jpg);
	background-repeat: no-repeat;
	width: 437px;
	height: 184px;
	margin-bottom: 20px;
}
#trial #container div.form, #trial #container div.form a {
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	margin: 0px auto 10px;
	padding: 0px;
	width: 156px;
	height: 36px;
}
#trial #container div.form {
	background: url(../img_entryform/entry_animal_on.gif) no-repeat;
}
#trial #container div.form a {
	background: url(../img_entryform/entry_animal.gif) no-repeat;
}
#trial #container div.form a:hover {
	background: none;
}
/* 2012年2月田邉追加
---------------------------------------------------------------*/
.cell {
	margin-bottom: 20px;
}
.left {
	float: left;
}
.margin-right20 {
	margin-right: 20px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------
2012NEW
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
#PageTit {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	height: 100px;
}
ul#PageCat {
	/*position:absolute;
			top:0;
			right:0;*/
	margin-top: -15px;
	margin-bottom: 20px;
}
#PageCat li {
	display: inline-block;
	margin-bottom: 8px;
	padding-left: 10px;
}
*+html #PageCat li {
	display: inline;
}
#PageCat li a {
	color: #666;
	text-decoration: none;
}
#PageCat li a:hover {
	text-decoration: underline;
}
#TrialContens {
	margin-left: -30px;
}
#TrialContens a:hover img {
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}
.OneTrial {
	width: 450px;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
}
.OneTrial .icoSP {
	position: absolute;
	right: 0;
	top: -10px;
}
.OneTrial h4 {
	height: 69px;
}
.OneTrial h4 img {
	margin-right: 5px;
}
.OneTrial h4 p,  .OneTrial p.marginal {
	display: inline-block;
	padding: 3px;
	background: #EEE;
	color: #292929;
	font-weight: normal;
}
.OneTrial h4 p img {
	vertical-align: middle;
}
.OneTrial h4 p span,  .OneTrial p.marginal span {
	background: url(images/icoTime.png) left center no-repeat;
	padding-left: 20px;
}
.OneTrial .marginalNote {
	margin-bottom: 10px;
}
.OneTrial .marginalNote img {
	margin-right: 5px;
	vertical-align: middle;
}
.OneTrial h4 em {
	font-style: normal;
	/*display:block;*/
	display: table-cell;
	padding: 5px 0 0 60px;
	vertical-align: middle;
	height: 69px;
}
*:first-child+html .OneTrial h4 em {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	padding-top: 5px;
}
.OneTrial h4 strong {
	font-size: 1.6em;
}
.OneTrialInner {
	padding: 10px;
}
.ImgCal img {
	float: left;
}
.OneTrial dl {
	float: right;
	width: 233px;
}
.OneTrial dl ul {
	margin-bottom: 10px;
}
.OneTrial dl li {
	display: inline-block;
	padding: 2px;
	margin-bottom: 5px;
}
*:first-child+html .OneTrial dl li {
	display: inline;
	zoom: 1;
	margin-right: 5px;
}
.OneTrial p.entry {
	text-align: center;
	margin-top: 20px;
}
.ImgCal {
	margin-top: 15px;
}
.ImgCal dt {
	line-height: 35px;
	font-weight: bold;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
}
.ImgCal dt strong {
	font-family: 'Bowlby One', "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Georgia", "Meiryo", "ＭＳ Ｐゴシック";
	font-size: 28px;
	font-weight: normal;
}
.ImgCal li span {
	font-size: 0.85em;
	color: #CC0000;
}
.ImgCal li span.sat {
	color: #0000FF;
}
.ImgCal li span.normal {
	color: #000;
}
.OneTrial dd h5 {
	background: #EEEEEE;
	line-height: 25px;
	margin-bottom: 10px;
	padding-left: 10px;
}
/*LongBox*/
.OneTrial.Long {
	width: 930px;
	float: none;
	clear: both;
}
.OneTrial.Long dl {
	width: 710px;
}
.OneTrial.Long dd > div {
	width: 170px;
	float: left;
	margin-right: 10px;
}
.OneTrial.Long dd > div.lastChild {
	margin-right: 0;
}
/* ドッグメニュー */
#dogMenu #PageTit ul {
	width: 320px;
}
#dogMenu #PageCat li {
	background: url(img_dog/ico.png) left center no-repeat;
}
#dogMenu .OneTrial {
	background: url(img_dog/bgBottom.png) left bottom repeat-x;
}
#dogMenu .OneTrial h4 {
	background: url(img_dog/tit.png) left top no-repeat;
	color: #FF9900;
}
#dogMenu .OneTrialInner {
	background: url(img_dog/bgTop.png) left top repeat-x;
}
#dogMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #D98302;
}
#dogMenu .ImgCal dl.Month1 dt {
	background: url(img_dog/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#dogMenu .ImgCal dl.Month1 li {
	background: #FFE077 url(images/bg_dot.png);
}
#dogMenu .ImgCal dl.Month2 dt {
	background: url(img_dog/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#dogMenu .ImgCal dl.Month2 li {
	background: #FFFFAA url(images/bg_dot.png);
}
#dogMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_dog/bgMonth1_l.png) no-repeat;
}
#dogMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_dog/bgMonth2_l.png) no-repeat;
}
/* ナースメニュー */
#nurseMenu #PageTit ul {
	width: 320px;
}
#nurseMenu #PageCat li {
	background: url(img_nurse/ico.png) left center no-repeat;
}
#nurseMenu .OneTrial {
	background: url(img_nurse/bgBottom.png) left bottom repeat-x;
}
#nurseMenu .OneTrial h4 {
	background: url(img_nurse/tit.png) left top no-repeat;
	color: #FF6699;
}
#nurseMenu .OneTrialInner {
	background: url(img_nurse/bgTop.png) left top repeat-x;
}
#nurseMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #FF4473;
}
#nurseMenu .ImgCal dl.Month1 dt {
	background: url(img_nurse/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#nurseMenu .ImgCal dl.Month1 li {
	background: #FFDFEB url(images/bg_dot.png);
}
#nurseMenu .ImgCal dl.Month2 dt {
	background: url(img_nurse/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#nurseMenu .ImgCal dl.Month2 li {
	background: #FFD0DF url(images/bg_dot.png);
}
#nurseMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_nurse/bgMonth1_l.png) no-repeat;
}
#nurseMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_nurse/bgMonth2_l.png) no-repeat;
}
/* トレーナーメニュー */
#trainerMenu #PageTit ul {
	width: 380px;
}
#trainerMenu #PageCat li {
	background: url(img_trainer/ico.png) left center no-repeat;
}
#trainerMenu .OneTrial {
	background: url(img_trainer/bgBottom.png) left bottom repeat-x;
}
#trainerMenu .OneTrial h4 {
	background: url(img_trainer/tit.png) left top no-repeat;
	color: #FF6600;
}
#trainerMenu .OneTrialInner {
	background: url(img_trainer/bgTop.png) left top repeat-x;
}
#trainerMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #D98302;
}
#trainerMenu .ImgCal dl.Month1 dt {
	background: url(img_trainer/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#trainerMenu .ImgCal dl.Month1 li {
	background: #FFE077 url(images/bg_dot.png);
}
#trainerMenu .ImgCal dl.Month2 dt {
	background: url(img_trainer/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#trainerMenu .ImgCal dl.Month2 li {
	background: #FFFFAA url(images/bg_dot.png);
}
#trainerMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_trainer/bgMonth1_l.png) no-repeat;
}
#trainerMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_trainer/bgMonth2_l.png) no-repeat;
}
/* アニマルメニュー */
#animalMenu #PageTit ul {
	width: 280px;
}
#animalMenu #PageCat li {
	background: url(img_animal/ico.png) left center no-repeat;
}
#animalMenu .OneTrial {
	background: url(img_animal/bgBottom.png) left bottom repeat-x;
}
#animalMenu .OneTrial h4 {
	background: url(img_animal/tit.png) left top no-repeat;
	color: #FF0000;
}
#animalMenu .OneTrialInner {
	background: url(img_animal/bgTop.png) left top repeat-x;
}
#animalMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #FE4601;
}
#animalMenu .ImgCal dl.Month1 dt {
	background: url(img_animal/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#animalMenu .ImgCal dl.Month1 li {
	background: #FFE8D7 url(images/bg_dot.png);
}
#animalMenu .ImgCal dl.Month2 dt {
	background: url(img_animal/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#animalMenu .ImgCal dl.Month2 li {
	background: #FFD5D4 url(images/bg_dot.png);
}
#animalMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_animal/bgMonth1_l.png) no-repeat;
}
#animalMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_animal/bgMonth2_l.png) no-repeat;
}
/* 海洋メニュー */
#marineMenu #PageTit ul {
	width: 280px;
}
#marineMenu #PageCat li {
	background: url(img_marine/ico.png) left center no-repeat;
}
#marineMenu .OneTrial {
	background: url(img_marine/bgBottom.png) left bottom repeat-x;
}
#marineMenu .OneTrial h4 {
	background: url(img_marine/tit.png) left top no-repeat;
	color: #0066FF;
}
#marineMenu .OneTrialInner {
	background: url(img_marine/bgTop.png) left top repeat-x;
}
#marineMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #0064FB;
}
#marineMenu .ImgCal dl.Month1 dt {
	background: url(img_marine/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#marineMenu .ImgCal dl.Month1 li {
	background: #D3FAD3 url(images/bg_dot.png);
}
#marineMenu .ImgCal dl.Month2 dt {
	background: url(img_marine/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#marineMenu .ImgCal dl.Month2 li {
	background: #D2E9FB url(images/bg_dot.png);
}
#marineMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_marine/bgMonth1_l.png) no-repeat;
}
#marineMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_marine/bgMonth2_l.png) no-repeat;
}
/* 自然メニュー */
#natureMenu #PageTit ul {
	width: 380px;
}
#natureMenu #PageCat li {
	background: url(img_nature/ico.png) left center no-repeat;
}
#natureMenu .OneTrial {
	background: url(img_nature/bgBottom.png) left bottom repeat-x;
}
#natureMenu .OneTrial h4 {
	background: url(img_nature/tit.png) left top no-repeat;
	color: #009966;
}
#natureMenu .OneTrialInner {
	background: url(img_nature/bgTop.png) left top repeat-x;
}
#natureMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #337A2C;
}
#natureMenu .ImgCal dl.Month1 dt {
	background: url(img_nature/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#natureMenu .ImgCal dl.Month1 li {
	background: #E0F8DB url(images/bg_dot.png);
}
#natureMenu .ImgCal dl.Month2 dt {
	background: url(img_nature/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#natureMenu .ImgCal dl.Month2 li {
	background: #EAFBF3 url(images/bg_dot.png);
}
#natureMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_nature/bgMonth1_l.png) no-repeat;
}
#natureMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_nature/bgMonth2_l.png) no-repeat;
}
/* フラワーメニュー */
#flowerMenu #PageTit ul {
	width: 380px;
}
#flowerMenu #PageCat li {
	background: url(img_flower/ico.png) left center no-repeat;
}
#flowerMenu .OneTrial {
	background: url(img_flower/bgBottom.png) left bottom repeat-x;
}
#flowerMenu .OneTrial h4 {
	background: url(img_flower/tit.png) left top no-repeat;
	color: #FF6600;
}
#flowerMenu .OneTrialInner {
	background: url(img_flower/bgTop.png) left top repeat-x;
}
#flowerMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #D98302;
}
#flowerMenu .ImgCal dl.Month1 dt {
	background: url(img_flower/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#flowerMenu .ImgCal dl.Month1 li {
	background: #FFE077 url(images/bg_dot.png);
}
#flowerMenu .ImgCal dl.Month2 dt {
	background: url(img_flower/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#flowerMenu .ImgCal dl.Month2 li {
	background: #FFFFAA url(images/bg_dot.png);
}
#flowerMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_flower/bgMonth1_l.png) no-repeat;
}
#flowerMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_flower/bgMonth2_l.png) no-repeat;
}
/* 農業メニュー */
#agricultureMenu #PageTit ul {
	width: 330px;
}
#agricultureMenu #PageCat li {
	background: url(img_agriculture/ico.png) left center no-repeat;
}
#agricultureMenu .OneTrial {
	background: url(img_agriculture/bgBottom.png) left bottom repeat-x;
}
#agricultureMenu .OneTrial h4 {
	background: url(img_agriculture/tit.png) left top no-repeat;
	color: #99CC33;
}
#agricultureMenu .OneTrialInner {
	background: url(img_agriculture/bgTop.png) left top repeat-x;
}
#agricultureMenu .ImgCal dt {
	text-shadow: 1px 1px 0 #8FB52D;
}
#agricultureMenu .ImgCal dl.Month1 dt {
	background: url(img_agriculture/bgMonth1.png) no-repeat;
	line-height: 35px;
}
#agricultureMenu .ImgCal dl.Month1 li {
	background: #F5FED3 url(images/bg_dot.png);
}
#agricultureMenu .ImgCal dl.Month2 dt {
	background: url(img_agriculture/bgMonth2.png) no-repeat;
	line-height: 35px;
}
#agricultureMenu .ImgCal dl.Month2 li {
	background: #E3F6E2 url(images/bg_dot.png);
}
#agricultureMenu .OneTrial.Long dl.Month1 dt {
	background: url(img_agriculture/bgMonth1_l.png) no-repeat;
}
#agricultureMenu .OneTrial.Long dl.Month2 dt {
	background: url(img_agriculture/bgMonth2_l.png) no-repeat;
}
		
		
/* General Classes
------------------------- */
.ImgCal dd:after, #TrialContens:after, #PageTit:after, .ImgCal:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html .ImgCal dd, * html #TrialContens, * html #PageTit, * html .ImgCal {
	zoom: 1;
} /* IE6 */
*:first-child+html .ImgCal dd, *:first-child+html #TrialContens, *:first-child+html #PageTit ul, *:first-child+html .ImgCal {
	zoom: 1;
} /* IE7 */
