@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	font-size:12px;
	line-height:18px;
}

p{
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
	color:#F60;
}

p.blog_title{
	font-weight:bold;
	color:#F60;
}
