@charset "utf-8";
/* CSS Document */

div#main {
	width:886px;
	float:none;
	margin:0 auto;
}
div#blog{
	margin:10px 5px 0px 5px;
}

div.cell{
	margin:0px;
	padding:0px;
}

div.left{
	float:left;
}

div.right{
	float:right;
}

div.blog{
	width:431px;
	background:url(img/blog-bg.gif) repeat-y;
}

div.blog_body{
	font-size:12px;
	line-height:18px;
	padding:0 25px 10px 25px;
}

div.blog_body iframe{
	width:380px;
	height:90px;
}

div.blog_btn{
	text-align:right;
	padding:0 25px 0px 25px;
}

p.blog_title{
	font-weight:bold;
	color:#F60;
}

