

/* Twitter */
#tweet ul{
	margin:0;
	padding:0;
}

#tweet li{
	margin:5px;
	padding:0;
	padding-bottom:15px;
	line-height:150%;
	list-style-type:none;
	font-size:10px;
	background:url(../img/tweet_line.gif) no-repeat left bottom;
}

#content{
	margin:0px;
	padding:0px;
}