@charset "utf-8";
/* CSS Document */

/* certificate.html
-----------------------------------------*/
body#certificate h3 {
	margin-top:0;
}

p.att {
	font-size:10px;
}

span.red {
	color:#CC0000;
}

table.outlinebox {
	width:452px;
	margin-bottom:20px;
}

table.outlinebox caption {
	font-size:14px;
	font-weight:bold;
	color:#339933;
}

table.outlinebox th {
	width:25%;
	background-color:#CAFFCA;
}

table.outlinebox .noboder {
	border:none;
}

div.borderbox{
	margin:0 5px 20px 5px;
	padding:3px 20px;
	border-top:1px dashed #CCC;
	border-bottom:1px dashed #CCC;
}
p.PDF{
	display:table-cell;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	padding-left:0px !important;
	text-indent:0em !important;
}

div.borderboxB {
	margin:0 80px;
	padding:10px 0 10px 15px;
	border-top:1px dashed #CCC;
}

div.borderboxB p {
	margin:0;
	padding:0;
	text-indent:-1em;
}

.borderend {
	border-bottom:1px dashed #CCC;
}





