#featured{ 
	width:884px; 
	padding:0; 
	position:relative; 
	border:none; 
	height:298px;
	overflow:hidden;
	background:url(img/fla_bg.jpg);
	margin:0;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:5px;
	left:628px; 
	list-style:none; 
	padding:0; margin:0; 
	width:251px;
	margin-top:-48px;
	z-index:100;
}
#featured ul.ui-tabs-nav li{ 
	padding:0; 
	float:left;
}
#featured ul.ui-tabs-nav li img{ 
}
#featured ul.ui-tabs-nav li span{ 
}
#featured li.ui-tabs-nav-item a{
	display:block;
	width:251px;
	height:48px;
	text-indent:-9999px;
	overflow:hidden;
}
#featured li.ui-tabs-nav-item a:hover{
}
#featured li#nav-fragment-2.ui-tabs-nav-item a {
	background:url(img/fla_btn_job_off.gif);
}
#featured li#nav-fragment-2.ui-tabs-nav-item a:hover, 
#featured ul.ui-tabs-nav li#nav-fragment-2.ui-tabs-nav-item.ui-tabs-selected,
#featured ul.ui-tabs-nav li#nav-fragment-2.ui-tabs-nav-item.ui-tabs-selected a{ 
	background:url(img/fla_btn_job_on.gif); 
}
#featured li#nav-fragment-3.ui-tabs-nav-item a {
	background:url(img/fla_btn_toppro_off.gif);
}
#featured li#nav-fragment-3.ui-tabs-nav-item a:hover, 
#featured ul.ui-tabs-nav li#nav-fragment-3.ui-tabs-nav-item.ui-tabs-selected,
#featured ul.ui-tabs-nav li#nav-fragment-3.ui-tabs-nav-item.ui-tabs-selected a{ 
	background:url(img/fla_btn_toppro_on.gif); 
}
#featured li#nav-fragment-4.ui-tabs-nav-item a {
	background:url(img/fla_btn_project_off.gif);
}
#featured li#nav-fragment-4.ui-tabs-nav-item a:hover, 
#featured ul.ui-tabs-nav li#nav-fragment-4.ui-tabs-nav-item.ui-tabs-selected,
#featured ul.ui-tabs-nav li#nav-fragment-4.ui-tabs-nav-item.ui-tabs-selected a{ 
	background:url(img/fla_btn_project_on.gif); 
}
#featured li#nav-fragment-5.ui-tabs-nav-item a {
	background:url(img/fla_btn_intern_off.gif);
}
#featured li#nav-fragment-5.ui-tabs-nav-item a:hover, 
#featured ul.ui-tabs-nav li#nav-fragment-5.ui-tabs-nav-item.ui-tabs-selected,
#featured ul.ui-tabs-nav li#nav-fragment-5.ui-tabs-nav-item.ui-tabs-selected a{ 
	background:url(img/fla_btn_intern_on.gif); 
}
#featured li#nav-fragment-6.ui-tabs-nav-item a {
	background:url(img/fla_btn_oversea_off.gif);
}
#featured li#nav-fragment-6.ui-tabs-nav-item a:hover,
#featured ul.ui-tabs-nav li#nav-fragment-6.ui-tabs-nav-item.ui-tabs-selected,
#featured ul.ui-tabs-nav li#nav-fragment-6.ui-tabs-nav-item.ui-tabs-selected a{ 
	background:url(img/fla_btn_oversea_on.gif); 
}
#featured li#nav-fragment-7.ui-tabs-nav-item a {
	background:url(img/fla_btn_event_off.gif);
}
#featured li#nav-fragment-7.ui-tabs-nav-item a:hover, 
#featured ul.ui-tabs-nav li#nav-fragment-7.ui-tabs-nav-item.ui-tabs-selected,
#featured ul.ui-tabs-nav li#nav-fragment-7.ui-tabs-nav-item.ui-tabs-selected a{ 
	background:url(img/fla_btn_event_on.gif); 
}
#featured li.ui-tabs-selected{ 
}


#featured .ui-tabs-panel{ 
	width:642px; height:298px; 
	background:; position:relative;
	z-index:0;
}

/*↓テキストボックスの設定↓*/
#featured .ui-tabs-panel .info{ 
	width:632px;
	position:absolute; 
	top:200px; left:5px; 
	height:93px; 
	background: url('img/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px;
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
/*↑テキストボックスの設定↑*/


#featured .ui-tabs-hide{ 
	display:none; 
}