@charset "UTF-8";
/* -----------------------------------------------------------------------
## initialize ############################################################
----------------------------------------------------------------------- */
div#Petcontents {
  float: none;
  width: 886px;
  margin: 10px auto 0;
}

div#Petcontents h2 {
  padding: 0;
  background: transparent;
}

div#Petcontents h2 img {
  width: 100%;
}

div#Petcontents .dogsBnr {
  text-align: center;
}

div#Petcontents a:hover {
  opacity: .75;
}

.navigation {
  display: none;
}

/* -----------------------------------------------------------------------
## contentsHeader ########################################################
----------------------------------------------------------------------- */
.contentsHeader {
  position: relative;
  /*background: #F7FED3 url(../img/title_bg.png) no-repeat left top;*/
}

.contentsHeader .animalphotobnr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 460px;
  width: 358px;
  height: 100px;
  margin: auto;
}

/* -----------------------------------------------------------------------
## DogPhotos #############################################################
----------------------------------------------------------------------- */
/* ひとカラムの幅と、左右のマージンはscript.jsで調整 */
.AnimalPhotos {
  position: relative;
  margin-top: 20px;
}

.AnimalPhotos li {
  overflow: hidden;
  width: 282px;
  margin: 0 0 20px 0;
  border-radius: 10px;
  border: 5px solid #dadada;
  background: #fff;
  box-sizing: border-box;
}

.AnimalPhotos .thumb {
  display: block;
  overflow: hidden;
}

.AnimalPhotos .thumb img {
  width: 100%;
}

.AnimalPhotos .caption {
  padding: 10px;
}

.AnimalPhotos .image-title {
  line-height: 1;
  padding: 0 0 4px 40px;
  border-bottom: 2px solid #108BCE;
  background: url(../img/icoFish.gif) no-repeat top left;
  font-size: 22px;
  font-weight: bold;
}

.AnimalPhotos .image-desc {
  margin-top: 10px;
}

.AnimalPhotos .image-desc dl {
  margin-bottom: 8px;
  overflow: hidden;
}

.AnimalPhotos .image-desc dt {
  position: relative;
  display: inline-block;
  width: 4em;
  float: left;
  padding: 4px 0;
  background: #009900;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.AnimalPhotos .image-desc dd {
  display: inline-block;
  line-height: 1.2;
  width: 200px;
  float: right;
  padding: 4px 0 4px 4px;
  color: #009900;
  font-weight: bold;
  font-size: 14px;
}

.infinitBtn {
  margin-top: 20px;
}

.infinitBtn a {
  display: block;
  width: 100%;
  background: -moz-linear-gradient(top, #2DAAEE 0%, #108BCE);
  background: -webkit-gradient(linear, left top, left bottom, from(#2DAAEE), to(#108BCE));
  border: 2px solid #FFF;
  color: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'メイリオ';
  color: #fff;
}

#infscr-loading {
  text-align: center;
}

.taikenbnr {
  margin-top: 15px;
  text-align: center;
}

.btn_photo {
	margin-top:20px;
	display:flex;
	justify-content:space-around;
	/*justify-content:center;*/
}

.btn_photo a {
	display:block;
	width:49%;
}
.btn_photo a img {
	width:100%;
}
