@charset "utf-8";

/*
 * slider
 */
#slider{
	position: relative;
	width:100%;
	height: 280px;
	overflow: hidden;
	background: url(../img/loading.gif) no-repeat center center;
	margin: 0 auto;
	border-left: #000 solid 1px;
	border-right: #000 solid 1px;
}
#slider ul{
	position: absolute;
	top: 0;
	left: 0;
}
#slider li{
	float: left;
	width: 755px;
	list-style: none;
}
#slider #prev,
#slider #next{
	position: absolute;
	top:90px;
	cursor: pointer;
}
#slider #prev img:hover ,
#slider #next img:hover {
	opacity:0;
filter: alpha(opacity=0);
-ms-filter: "alpha( opacity=0 )";
background: #fff;
}
#slider #prev{ left:90px;}
#slider #next{ right:90px;}

/* for script */
#slider ul,
#slider #next,
#slider #prev{
	visibility: hidden;
}
#slider #next {
	background:url(img_slider/btn_next_on.gif) left top no-repeat;
}
#slider #prev {
	background:url(img_slider/btn_prev_on.gif) left top no-repeat;
}
#slider .layer{
	width: 755px;
	height: 280px;
	position: absolute;
	top: 0;
	left: 0;
	background: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
}



