@charset "utf-8";
/* CSS Document */


/*インデックスページ用*/

#naitei div#main {
	clear:both;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	width:864px;
}
#naitei h2{
	padding:0;
	line-height:0;
	text-indent:0;
}
.naiteiBox {
	background: url(img/bg_section.gif) left top repeat;
	padding: 5px;
	margin-top: 10px;
}
.naiteiBoxIn {
	background-color: #fff;
	padding: 8px 20px 0px 20px;
}
div.sectionWrap {
	overflow: hidden;
	zoom: 1;
	padding-top: 1em;
}

/**/
ul.naitei_index{
	margin:0;
	padding:0;
}

ul.naitei_index li{
	margin:0;
	padding:25px 20px 20px 0;
	width:397px;
	float:left;
	background:url(img/ico_naitei.gif) no-repeat 145px top;
}

ul.naitei_index li img{
	float:left;
	border:0;
	margin-right:15px;
	margin-top:-25px;
}

ul.naitei_index li span.shamei{
	font-weight:bold;
	color:#390;
}

.txt_titlesub{
	margin:10px 0 0 25px;
	font-weight:bold;
	color:#390;
	font-size:110%;
	line-height:110%;
}

.txt_end{
	margin:10px 10px;
	font-weight:bold;
	color:#390;
	font-size:120%;
}

div.sectionWrapLft {
	width:255px;
	float:left;
}

div.sectionWrapRit {
	width:570px;
	float:right;
}

div.sectionWrapRit strong,
div.sectionWrapRit p strong {
		color: #5fa900;
}

div.sectionWrapRit p {
		margin-top:15px;
}

div.sectionWrapRit p.top {
		margin-top:0px;
}

div.sectionWrapLft ul{
	margin:10px 0 0 0;
	padding:0;
}
div.sectionWrapLft li.shamei{
	margin:0;
	padding:0 0 0 85px;
	background:url(img/ico_naitei.gif) no-repeat 5px top;
}
div.sectionWrapLft li.name{
	margin:0;
	padding:5px 0 0 85px;
	font-weight:bold;
}

.naiteiBoxIn div.back{
	margin-top:15px;
	text-align:center;
}

#footBanner {
	margin-left: 90px !important;
}


