@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Bowlby+One);
@import url(http://fonts.googleapis.com/css?family=Acme);

li {
	list-style-type:none!important;
}

/*------------------------------*/
html {
	font-size:62.5%;
	background:url(../../common/img/bg.gif) repeat-x top;
}
body{
/*margin:0;
padding:0;*/
font-family:"メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Georgia","Meiryo", "ＭＳ Ｐゴシック";
}

/*img {
   behavior: url(js/fx-iepngfix.htc);
}*/

* {
line-height:1.2em;
margin:0;
padding:0;
}
a:link,
a:visited{
color:#009900;
text-decoration:underline;
}
/*
a:visited {
color:#999999;
text-decoration:underline;
}
*/
a:hover {
color:#FF6600;
text-decoration:underline;
}
img{
border:0;
}
.clear{
clear:both;
}
/* ヘッダー */
/*#header {
position:relative;
height:180px;
}

#headerSky {
background:url(../img_common/header_sky.gif) repeat-x 120% 0;
position:absolute;
width:100%;
height:180px;
}

#headerTree {
background:url(../img_common/header_tree.gif) repeat-x 200% 0;
position:absolute;
width:100%;
height:180px;
}

#headerLink {
background:url(../img_common/header_title_id.png) no-repeat;
width:1000px;
height:180px;
margin:0 auto;
position:relative;
}

h1{
background:url(../img_common/header_title_text.png) no-repeat;
width:323px;
padding-top:180px;
height:0px;
position:absolute;
left:45px;
cursor:pointer;
overflow:hidden;
}

#headerLink div.formLink{
background:url(../img_common/header_title_form.png) no-repeat;
width:256px;
padding-top:125px;
height:0px;
position:absolute;
top:55px;
left:699px;
cursor:pointer;
overflow:hidden;
}

#headerGrass {
background:url(../img_common/header_grass.png) repeat-x 200% 0;
position:absolute;
top:133px;
width:100%;
height:48px;
}

#headerTurtle {
background:url(../img_common/header_turtle.gif) no-repeat 55% 0;
position:absolute;
top:146px;
width:100%;
height:35px;
}
*/

/* ぱんくずリスト */
#topicpath{
	width:930px;
	margin:10px auto;
	padding:3px;
}

#topicpath ol li{
	padding:0px 3px;
	float:left;
	font-size:1em;
	list-style:none;
}

#topicpath ul li{
background:url(../img_common/pagelink.gif) no-repeat left;
text-indent:8px;
padding:0 5px;
margin:0px 3px;
float:right;
font-size:10px;
list-style:none;
}
#topicpath ul li a{
color:#000000;
}
#topicpath ul li a:hover{
color:#FF9900;
}

/* コンテナ */
#container {
width:930px;
margin:5px auto 10px;
clear:both;
}
#container #eventTitle{
background:url(../img_common/event_titlebg.gif) repeat-x;
width:930px;
}
#container #eventTitle dt{
padding:16px 0px 5px;
}
#container #eventTitle dt h2{
display:block;
margin-bottom:3px;
}
#container #eventTitle dd{
display:inline;
float:left;
padding:0px 10px 0px;
font-size:20px;
/*font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";*/
font-weight:bold;
vertical-align:bottom;
}

#container #eventTitle dd .week{
font-size:12px;
}
#container #eventTitle dd .sun{
color:#FF0000;
}
#container #eventTitle dd .sat{
color:#0000FF;
}
#container #eventTitle dd .time{
font-size:14px;
}
#container #eventTitle dd .aside{
font-size:12px;
font-weight:normal;
}
#container #eventTitle dd.normalText{
font-size:14px;
font-weight:normal;
}
#container #eventTitle dd .normalL{
font-size:16px;
}


/* フッター */
#footer{
margin:0 auto;
clear:both;
}

#footer #grass{
background:url(../img_common/header_grass.png) repeat-x;
width:930px;
padding-top:50px;
margin:0 auto;

}

a.pagetop{
background-image:url(../img_common/pagetop.gif);
background-repeat:no-repeat;
display:block;
float:right;
font-size:10px;
height:15px;
line-height:90%;
text-indent:16px;
width:70px;
margin:10px 0px;
}

#footer .eventList{
width:930px;
height:166px;
border-left:#999999 solid 1px;
border-bottom:#999999 solid 1px;
border-top:#999999 solid 1px;
clear:both;
margin:0 auto;
}

#footer .eventList dl{
overflow:hidden;
background:url(../img_common/footer_eventbg_on.jpg) no-repeat left top;
display:block;
float:left;
/*width:155px;*/
width:186px;
height:166px;
}
#footer .eventList dl a{
background:url(../img_common/footer_eventbg.jpg) no-repeat left top;
display:block;
/*width:154px;*/
height:166px;
text-decoration:none;
color:#333333;
border-right:#999999 solid 1px;
}
#footer .eventList dl a:hover{
background:none;
text-decoration:none;
color:#003366;
}

#footer .eventList dl dd{
font-size:10px;
padding:0px 15px;
}

#footer .entryGrant{
background:url(../img_common/footer_grantbg.jpg) no-repeat right bottom;
width:930px;
height:132px;
border:#999999 solid 1px;
margin:10px auto 0;
}

#footer .entryGrant dl{
	width:320px;
	height:102px;
	display:block;
	float:left;
	margin:10px 5px 10px 20px;
	padding:5px 5px 5px 20px;
	border-left:#999999 solid 1px;
	font-size:10px;
}

#footer .entryGrant dt{
color:#CC0000;
font-weight:bold;
font-size:1.3em;
text-align:center;
}
#footer .entryGrant dl dd {
	font-size:1em;
}
#footer .entryGrant dl.textIndent dd {
	text-indent:-1em;
	padding-left:1em;
	}



address{
	width:930px;
	margin:0 auto;
	padding:10px 0px 20px;
	font-size:10px;
	font-style:normal;
	color:#009900;
	text-align:center;
	border-bottom:1px solid #009900;
}

#footerAddress{
	margin-top:10px;
	background-color:#F5EFC9;
	width:100%;
	}
#footerAddress aside {
	display:table;
	margin:0 auto;
}
#footerAddress aside h6,
#footerAddress aside p {
	display:inline-block;
	margin:0 auto;
	padding-top:10px;
	color:#666;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------
2012NEW
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6, p, dt, dd, td, th, li {
	font-size:1.1em;
}
/* div#header
-----------------------------------------*/
div#header {
	width:930px;
	/*height:120px;*/
	height:140px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

div#header h1 {
	background:url(../../common/img/logo.gif) no-repeat top left;
	width:493px;
	height:124px;
	position:relative;
	float:left;
}
div#header h1 a{
	width:360px;
	height:50px;
	text-indent:-9999px;
	overflow:hidden;
	top:67px;
	left:10px;
	position:absolute;
}
div#header a#home {
	position:absolute;
	display:block;
	/*top:50px;*/
	top:60px;
	left:372px;
}

div#header div {
	float:left;
	width:428px;
}

div#header #people {
	width:auto;
	height:23px;
	margin:0 0 9px auto;
	padding-top:7px;
	position: absolute;
	top: 0;
	left: 180px;
}
div#header #people li {
	float:left;
	line-height:1.2em;
	padding:0 0.5em;
	border-left:1px solid #FFF;
	list-style:none;
}
div#header #people li.last {
	border-right:1px solid #FFF;
}
div#header #people li a{
	color:#FFF;
	text-decoration:none;
}
div#header #people li a:hover {
	color:#FC3;
}

div#header #searchform{
	display:block;
	width: 270px;
	height: 20px;
	background: url(../../common/img/search.gif) no-repeat left top;
	margin: 0;
	position: absolute;
	top: 5px;
	right: 0;
}
div#header #searchform .isearch{
	display:inline;
    border: 0px;
    margin: 3px 0 0 10px;
	padding:0;
    float:left;
    width:165px;
	font-size:12px;
	line-height:1.2;
}
div#header #searchform .ibutton {
	background:url(../../common/img/btn_search.gif) no-repeat left; 
	border:none; 
	width:75px; 
	height:20px; 
	cursor:pointer;
	float:right;
}
div#header #searchform .ibutton_on {
	background:url(../../common/img/btn_search.gif) no-repeat right;
	border:none;
	width:75px;
	height:20px;
	cursor:pointer;
	float:right;
}

div#header #gnav {
	clear:both;
	width:387px;
	height:80px;
	margin:0;
	position: absolute;
	top: 38px;
	right: 23px;
}
div#header #gnav dt {
	text-align:right;
	margin-bottom:10px;
}
div#header #gnav dd {
	float:right;
	margin-left:23px;
}
div#header #gnav a:hover img {
		opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=75); /* IE lt 8 */
		-ms-filter: "alpha(opacity=75)"; /* IE 8 */
		-khtml-opacity: .75; /* Safari 1.x */
		-moz-opacity: .75; /* FF lt 1.5, Netscape */
	}

#Contents {
	width:930px;
	margin:0 auto;
}
#Contents a:hover img {
		opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=75); /* IE lt 8 */
		-ms-filter: "alpha(opacity=75)"; /* IE 8 */
		-khtml-opacity: .75; /* Safari 1.x */
		-moz-opacity: .75; /* FF lt 1.5, Netscape */
	}
	
/* gnavi
-----------------------------------------*/
#eventGnavi {
	background:url(../img_common/bg_gnavi.png) center top no-repeat;
	padding-top:8px;
}
#eventGnavi ul {
	width:933px;
	margin:0 auto;
	background:url(../img_common/bgNavi.png) left top no-repeat;
}
#eventGnavi li {
		float:left;
		list-style:none;
		height:59px;
		line-height:1;
	}
#eventGnavi li#eIndex {
	width:153px;
	}
	body#home #eventGnavi li#eIndex img {
		display:none;
		}
#eventGnavi li#eSP {
	width:155px;
	}
	body#special #eventGnavi li#eSP img {
		display:none;
	}
#eventGnavi li#eBus {
	width:155px;
	}
	body#bus #eventGnavi li#eBus img {
		display:none;
		}
#eventGnavi li#eEP {
	width:155px;
	}
	body#explanation #eventGnavi li#eEP img {
		display:none;
		}
#eventGnavi li#Eparents {
	width:155px;
	}
	body#parents #eventGnavi li#Eparents img {
		display:none;
		}
#eventGnavi li#Eparents {
	width:155px;
	}
	body#parents #eventGnavi li#Eparents img {
		display:none;
		}

#eventGnavi li#eMyschool {
	width:155px;
	}
	body#myschool #eventGnavi li#eMyschool img {
		display:none;
		}
/*#eventGnavi li.lastChild {
	margin-right:-3px;
	}
*/
/* categoryNav
-----------------------------------------*/
.categoryNav {
	border-bottom:1px solid #dfdfdf;
	margin-bottom:30px;
	width:930px;
	margin:0 auto;
	padding-bottom:5px;
}
	.categoryNav dt,
	.categoryNav dd {
		float:left;
		margin-right:22px;
		line-height:24px;
		}
	.categoryNav dd {
		padding-top:3px;
	}
	.categoryNav dd a {
		background:url(../img_common/ico_yaji.png) left center no-repeat;
		padding-left:20px;
	}

/*
-----------------------------------------*/
#PageTopFixed {
	position:fixed;
	bottom:150px;
	right:30px;
}
.CalenderBox {
	width:621px;
	float:left;
}
	.CalenderBox dl {
		margin-bottom:20px;
	}
	.CalenderBox dt {
		float:left;
		margin-right:26px;
		padding-top:3px;
	}
	.CalenderBox dd {
		width:305px;
		float:left;
		font-size:1em;
	}
	.CalenderBox li {
		list-style:none;
		}
.goSelect {
	width:291px;
	height:129px;
	float:right;
	position:relative;
	margin-top:-110px;
	}
	#special .goSelect {
		margin-top:0;
		float:none;
	}
	.goSelect dt {
		position:absolute;
		top:-30px;
		right:0;
		z-index:2;
	}
	.goSelect dd#jyokenBtn {
		position:absolute;
		bottom:0;
		left:17px;
		z-index:1;
	}
	.goSelect dd#kaede {
		position:absolute;
		bottom:-5px;
		right:0;
		z-index:3;
		}
	.goSelect a:hover img {
			opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
			filter: alpha(opacity=75); /* IE lt 8 */
			-ms-filter: "alpha(opacity=75)"; /* IE 8 */
			-khtml-opacity: .75; /* Safari 1.x */
			-moz-opacity: .75; /* FF lt 1.5, Netscape */
		}
.goSelectFooter {
	width:291px;
	height:140px;
	position:relative;
	margin:20px auto 0 auto;
	}
	.goSelectFooter dt {
		position:absolute;
		top:-30px;
		right:0;
		z-index:2;
	}
	.goSelectFooter dd#jyokenBtnFooter {
		position:absolute;
		bottom:0;
		left:17px;
		z-index:1;
	}
	.goSelectFooter dd#kaedeFooter {
		position:absolute;
		bottom:-5px;
		right:-30px;
		z-index:3;
		}
	.goSelectFooter a:hover img {
			opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
			filter: alpha(opacity=75); /* IE lt 8 */
			-ms-filter: "alpha(opacity=75)"; /* IE 8 */
			-khtml-opacity: .75; /* Safari 1.x */
			-moz-opacity: .75; /* FF lt 1.5, Netscape */
		}
#trialMenuSmall {
	margin-left:60px;
	margin-top:20px;
	}
#trialMenuSmall li a,
#trialMenuSmall ul{
display:block;
margin:0px;
padding:0px;
height:97px;
}
#trialMenuSmall li{
display:block;
margin:0px 2px 0px 0px;
padding:0px;
height:97px;
float:left;
width:130px;
}
#trialMenuSmall li a{
overflow:hidden;
text-indent:-9999px;
}
#trialMenuSmall li#selectMenulist{
background:url(../trial/img/select_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#selectMenulist a{
background:url(../trial/img/select_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#dogMenulist{
background:url(../trial/img/dog_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#dogMenulist a{
background:url(../trial/img/dog_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#animalMenulist{
background:url(../trial/img/animal_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#animalMenulist a{
background:url(../trial/img/animal_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#marineMenulist{
background:url(../trial/img/marine_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#marineMenulist a{
background:url(../trial/img/marine_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#natureMenulist{
background:url(../trial/img/nature_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#natureMenulist a{
background:url(../trial/img/nature_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#flowerMenulist{
background:url(../trial/img/flower_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#flowerMenulist a{
background:url(../trial/img/flower_menu_small.jpg) no-repeat;
}
#trialMenuSmall li#agricultureMenulist{
background:url(../trial/img/agriculture_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#agricultureMenulist a{
background:url(../trial/img/agriculture_menu_small.jpg) no-repeat;
}

#trialMenuSmall li#openMenulist{
background:url(../trial/img/open_menu_small_on.jpg) no-repeat;
}
#trialMenuSmall li#openMenulist a{
background:url(../trial/img/open_menu_small.jpg) no-repeat;
}


#trialMenuSmall li#selectMenulist a:hover,
#trialMenuSmall li#dogMenulist a:hover,
#trialMenuSmall li#animalMenulist a:hover,
#trialMenuSmall li#marineMenulist a:hover,
#trialMenuSmall li#natureMenulist a:hover,
#trialMenuSmall li#flowerMenulist a:hover,
#trialMenuSmall li#agricultureMenulist a:hover,
#trialMenuSmall li#dogMenulist .current,
#trialMenuSmall li#selectMenulist .current,
#trialMenuSmall li#animalMenulist .current,
#trialMenuSmall li#marineMenulist .current,
#trialMenuSmall li#natureMenulist .current,
#trialMenuSmall li#flowerMenulist .current,
#trialMenuSmall li#agricultureMenulist .current,
#trialMenuSmall li#openMenulist .current{
background:none;
}

#ForSP {
	background:#FFF;
	margin:0 auto;
	padding:10px;
	width:970px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	display:none;
	
	}

#ForSP .btns {
	background: -moz-linear-gradient(top,#BFD9E5, #3D95B7 50%,#0080B3 50%,#0099CC);
	background: -webkit-gradient(linear, left top, left bottom, from(#BFD9E5), color-stop(0.5,#3D95B7), color-stop(0.5,#0080B3), to(#0099CC));
	color: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #0099CC;
	-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	padding: 30px 0;
	margin:0 auto;
	
	font-size:30px;
	font-weight:bold;
	
	display:block;
	text-align:center;
	
	width:900px;
	text-decoration:none;
	}


/*持ち物・服装について*/
.taikenSupple {
	border:3px solid #F60;
	border-radius:4px;
	}
	.taikenSupple dt {
		color:#FFF;
		background:#F60;
		font-size:16px;
		padding:5px;
		}
	.taikenSupple dd {
		padding:8px;
		}
	.taikenSupple dd:before {
		content:"★";
		color:#F60;
		}

/* Box Height
------------------------- */
div#sessionBox ul li a:after,
#eventGnavi ul:after,
#topicpath:after,
.CalenderBox dl:after,
.categoryNav:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html div#sessionBox ul li a,
* html #eventGnavi ul,
* html #topicpath,
* html .CalenderBox dl,
* html .categoryNav {
	zoom: 1;
} /* IE6 */
*:first-child+html div#sessionBox ul li a,
*:first-child+html #eventGnavi ul,
*:first-child+html #topicpath,
*:first-child+html .CalenderBox dl,
*:first-child+html .categoryNav {
	zoom: 1;
} /* IE7 */



/* General Classes
------------------------- */
.clearfix:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */
