@charset "utf-8";
/* CSS Document */

/*　リセットCSS（全パターン共通で読み込み）　*/
@import url("http://www.osaka-eco.ac.jp/common/css/reset.css");

/* ベース　（サイト全体の設定）
-----------------------------------------*/
a {
	color:#333;
	text-decoration:none;
}

a:hover {
	color:#F60;
}

body {
	color:#333;
	font-size:10px;
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",;
	font-family:Verdana, Geneva, sans-serif;
	line-height:1.5;
}

ul,li{
	margin:0px;
	padding:0px;
}

li{
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #8dcc3d;
}

#content{
	margin:0px;
	padding:0px;
}