/* CSS Document 

*{
	margin:0px 0px 0px 0px;
	padding:0px;
}

body{
	font-size: 13px;
	}
	
img{
	border: none;
	margin:0xp;
	padding:0px;
	}

#hedder {
	background-image: url(img/hedder-bg-right.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#hedder h1{
	background-image: url(img/hedder-bg-left.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 80px;
}

#hedder .bt img{padding-left:8px;}

address {
	background-image: url(img/footer-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
	padding-bottom: 60px;
	margin-top:90px;
	font-style: normal;
	clear: both;
}
*/
#container{
	margin-top50px: 
}

#main{
	width:781px;
	background-image: url(img/center-bg.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 20px auto 20px;
}

#main-inner{
	text-align: center;
	height:auto;
	width:676px;
	margin: 20px auto 30px;
}

#main-inner .no-page{
	background-color: #FFFFCC;
	width: 676px;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	margin: 0px auto 30px;
	padding: 15px 0px;
}
#main-inner .no-page1{
	width: 676px;
	font-size: 12px;
	color:#333333;
	line-height:150%;
	margin: 0px auto 5px;
	padding: 5px 0px;
	text-align:left;
}
#main-inner .no-page2{
	background-color: #CCCCCC;
	width: 646px;
	font-size: 12px;
	color: #333333;
	margin: 30px auto 20px;
	padding: 15px;
	text-align:left;
	line-height: 150%;
}

#main-inner .text{
	margin-bottom: 30px;
}

#main-inner .check{
	text-align: left;
	line-height: 150%;
	padding-left: 150px;
}

#link-box {
	margin: 0px auto 30px;
	width: 660px;
	font-size: 10px;
	line-height: 130%;

}

#link-box li{
	list-style-type: none;
}

#link-box div{
	float: left;
	display: inline;
	margin-bottom: 10px;
}

#link-box div.b{width: 330px;}
#link-box div.g{width: 330px;}
#link-box div.r{
	width: auto;
	float: left;
	text-align: center;
	margin: 0px 45px;
}

a{text-decoration: none;}
#link-box div.r a{color: #CC0000;}
#link-box div.g a{color: #006600;}
#link-box div.b a{color: #0066CC;}





/*çÇÇ≥í≤êﬂ*/
#link-box:after {
    content: " ";
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}

/*\*/
* html #link-box {
    height: 0em;
}

#link-box {
    display: block;
}
/**/
