@charset "utf-8";

/*トップページ専用*/

/*------------------------------*/

/*#special #container #spMenu ul{
display:block;
width:933px;
margin:10px 0 0 -3px;
}
#special #container #spMenu li{
display:block;
float:left;
list-style:none;
margin:0px 0px 0 5px;
text-align:center;
color:#0066FF;
}
#special #container #spMenu li img{
vertical-align:top;
}*/

#special #container #spMenu {
	background:#F00;
	background:url(../img/bgspMenu.gif) left top repeat-y;
	font-size:0;
	margin-top:15px;
}
#special #container #spMenuInner {
	background:url(../img/bgspMenu_top.gif) left top no-repeat;	
}
#special #container #spMenu ul{
	/*display:block;*/
	background:url(../img/bgspMenu_bottom.gif) left bottom no-repeat;
	padding:7px;
}
	/* 
	------------------------- */
	#special #container #spMenu ul:after {
		display: block;
		visibility: hidden;
		content: ".";
		clear: both;
		height: 0;
		font-size: 0;
		line-height: 0;
	}
	* html #special #container #spMenu ul {
		zoom: 1;
	} /* IE6 */
	*:first-child+html #special #container #spMenu ul {
		zoom: 1;
	} /* IE7 */
	
#special #container #spMenu li{
	float:left;
	list-style:none;
	/*width:228px;*/
	font-size:12px;
	margin-right:5px;
}

	/* 
	------------------------- */
	#special #container #spMenu li a:after {
		display: block;
		visibility: hidden;
		content: ".";
		clear: both;
		height: 0;
		font-size: 0;
		line-height: 0;
	}
	* html #special #container #spMenu li a {
		zoom: 1;
	} /* IE6 */
	*:first-child+html #special #container #spMenu li a {
		zoom: 1;
	} /* IE7 */

#special #container #spMenu li em {
	float:left;
	width:80px;
	margin-right:8px;
	vertical-align:top;
	display:block;
	text-align:center;
	padding:1px 0;
}
#special #container #spMenu li a img {
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
	
	border:1px solid #FFF;
}
#special #container #spMenu li a:hover img {
	opacity: 1; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=100); /* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-khtml-opacity: 1; /* Safari 1.x */
	-moz-opacity: 1; /* FF lt 1.5, Netscape */

	border:1px solid #F00;
}

#special #container #spMenu li span {
	display:block;
	font-size:12px;
	color:#333;
	float:left;
	width:130px;
}
	#special #container #spMenu li a {
		color:#333;
		text-decoration: none;
		display:block;
	}
	#special #container #spMenu li a:hover span {
		text-decoration:underline;
	}
#special #container li.form,
#special #container li.form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:170px;
height:40px;
}
#special #container li.form{
background:url(../../img_entryform/entry_question.gif) no-repeat;
}
#special #container li.form a{
background:url(../../img_entryform/entry_question.gif) no-repeat;
}
#special #container li.form a:hover{
background:none;
}

/* ペットファッション */
.petfashion{
margin:10px 0 0 0;
}
.petfashion table,
.petfashion th,
.petfashion td{
border-collapse:separate;
border:none;
border-spacing:2px;
}
.petfashion table{
width:60%;
margin:20px 10px 10px 20px;
border:1px solid #333300;
}
.petfashion th{
vertical-align:top;
padding:15px;
font-size:14px;
color:#FFFFFF;
background-color:#006600;
border-color:#003333;
border-style:solid;
border-width:1px; 
}
.petfashion table td{
vertical-align:top;
padding:15px;
font-size:14px;
background-color:#E0FFC1;
}
.petfashion ul{
margin:20px 10px 10px 20px;
float:right;
width:30%;
}
.petfashion li{
color:#333333;
font-size:14px;
margin:10px 0 0 0;
text-align:left;
}
.petfashion li a.outsideLink{
color:#333333;
}
.petfashion li a.outsideLink:hover{
color:#FF0000;
}
.petfashion ul.download{
display:block;
width:320px;
float:right;
margin:20px auto;
padding:0;
}
.petfashion ul.download li.double{
width:280px;
float:left;
margin:0;
padding:0;
list-style:none;
color:#FF0000;
font-weight:bold;
text-align:center;
}
.petfashion ul.download li{
width:140px;
float:left;
margin:0 auto;
padding:0;
list-style:none;
}
.petfashion .naiyou{
margin:0 auto;
width:610px;
position:relative;
}
.petfashion .naiyou .downloadS{
	position:absolute;
	top:360px;
	left:494px;
}
.petfashion .form,
.petfashion .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
.petfashion .form{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
.petfashion .form a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
.petfashion .form a:hover{
background:none;
}
.petfashion ul.method{
width:820px;
margin:0 auto;
}
.petfashion ul.method li{
float:left;
width:220px;
list-style:none;
}

/* アニマルフェスタ */
#animalfesta table caption{
margin: 5px 0px 0px;
background:url(img_animalfesta/main_title.jpg) no-repeat;
padding: 0px;
border: none;
height:120px;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
text-indent:-9999px;
}

#animalfesta td{
background:url(img_animalfesta/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0 0 10px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
width:50%;
position:relative;
}

#animalfesta table h4{
margin: 0px;
padding: 17px 5px 10px 70px;
/*background:url(img_animalfesta/table_title.gif) no-repeat left top;*/
color:#006600;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:386px;
}

#animalfesta table div.entry,
#animalfesta table div.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0 auto;
padding:0;
width:156px;
height:36px;
}
#animalfesta table div.entry{
clear:both;
}
* html #animalfesta table div.entry{
/* for ie6 */
position:absolute;
bottom:10px;
left:150px;
}
* html #animalfesta td{
/* for ie6 */
padding-bottom:50px;
}
#animalfesta table div.entry{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
#animalfesta table div.entry a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
#animalfesta table div.entry a:hover{
background:none;
}

#animalfesta table th{
background-color:#FF9900;
height:3px;
margin:0;
}
#animalfesta table dt{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar.gif) no-repeat left bottom;
position:relative;
}
#animalfesta table dt img.tag{
width:70px;
height:70px;
position:absolute;
top:-5px;
left:-5px;
}
#animalfesta table dd{
margin: 0px;
padding:5px 15px;
text-align:left;
}
#animalfesta table dd.imageRight{
float:right;
}
#animalfesta table dd.normal{
font-size:12px;
}
#animalfesta table dd.date{
font-size:18px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
margin-top:5px;
}
#animalfesta table dd.date .week{
font-size:12px;
}
#animalfesta table dd.date .sun{
color:#FF0000;
}
#animalfesta table dd.date .sat{
color:#0000FF;
}
#animalfesta table dd.date .time{
font-size:14px;
}
#animalfesta table dd.date .aside{
font-size:12px;
font-weight:normal;
}
#animalfesta table .titleMenu{
font-size:14px;
color:#006633;
font-weight:bold;
}
#animalfesta table .normal{
font-size:10px;
color:#333333;
font-weight:normal;
}
#animalfesta table dd.date .normalText{
font-size:14px;
font-weight:normal;
}
#animalfesta table dt .titleS{
font-size:12px;
}
#animalfesta table dt .titleSS{
font-size:10px;
}
/* お仕事フェスタ */
#jobfesta{
position:relative;
}
#jobfesta .entry{
position:absolute;
top:390px;
left:728px;
}
#jobfesta .form,
#jobfesta .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#jobfesta .form{
background:url(../img_entryform/entry_detail_on.gif) no-repeat;
}
#jobfesta .form a{
background:url(../img_entryform/entry_detail.gif) no-repeat;
}
#jobfesta .form a:hover{
background:none;
}

/* パーソナル体験入学 */
#personal{
margin-top:30px;
}
#personal hr{
margin:10px 0;
}
#personal .form,
#personal .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#personal .form{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#personal .form a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#personal .form a:hover{
background:none;
}
/* みさき公園 */
#misaki{
margin-top:30px;
}
#misaki hr{
margin:10px 0;
}
#misaki .form,
#misaki .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#misaki .form{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
#misaki .form a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
#misaki .form a:hover{
background:none;
}
/* ECOクルーズ */
#cruise{
margin-top:30px;
}
#cruise hr{
margin:10px 0;
}
#cruise .form,
#cruise .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#cruise .form{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
#cruise .form a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
#cruise .form a:hover{
background:none;
}
/* 農業＆料理 */
#cooking{
margin-top:30px;
}
#cooking hr{
margin:10px 0;
}
#cooking .form,
#cooking .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#cooking .form{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
#cooking .form a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
#cooking .form a:hover{
background:none;
}
/* 春の大収穫祭 */
#harvest{
margin-top:30px;
}
#harvest hr{
margin:10px 0;
}
#harvest .form,
#harvest .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#harvest .form{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
#harvest .form a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
#harvest .form a:hover{
background:none;
}
/* ECOフェスタ */
#ecofesta{
}
#ecofesta hr{
margin:10px 0;
}
#ecofesta img{
margin:5px 0;
}
#ecofesta .form,
#ecofesta .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#ecofesta .form{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#ecofesta .form a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#ecofesta .form a:hover{
background:none;
}
/* プレミア体験 */
#premium table caption{
margin: 5px 0px 0px;
background:url(img_premium/main_title.jpg) no-repeat;
padding: 0 0 10px;
border: none;
height:155px;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
text-indent:-9999px;
}

#premium td{
background:url(img_premium/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0 0 10px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
width:50%;
position:relative;
}

#premium table h4{
margin: 0px;
padding: 17px 5px 10px 70px;
/*background:url(img_premium/table_title.gif) no-repeat left top;*/
color:#006600;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:386px;
}

#premium table div.entryDog,
#premium table div.entryDog a,
#premium table div.entryAnimal,
#premium table div.entryAnimal a,
#premium table div.entryMarine,
#premium table div.entryMarine a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0 auto;
padding:0;
width:156px;
height:36px;
}
#premium table div.entryDog,
#premium table div.entryAnimal,
#premium table div.entryMarine{
clear:both;
}
* html #premium table div.entryDog,
* html #premium table div.entryAnimal,
* html #premium table div.entryMarine{
/* for ie6 */
position:absolute;
bottom:10px;
left:150px;
}
* html #premium td{
/* for ie6 */
padding-bottom:50px;
}
#premium table div.entryDog{
background:url(../img_entryform/entry_dog_on.gif) no-repeat;
}
#premium table div.entryDog a{
background:url(../img_entryform/entry_dog.gif) no-repeat;
}
#premium table div.entryAnimal{
background:url(../img_entryform/entry_animal_on.gif) no-repeat;
}
#premium table div.entryAnimal a{
background:url(../img_entryform/entry_animal.gif) no-repeat;
}
#premium table div.entryMarine{
background:url(../img_entryform/entry_marine_on.gif) no-repeat;
}
#premium table div.entryMarine a{
background:url(../img_entryform/entry_marine.gif) no-repeat;
}
#premium table div.entryDog a:hover,
#premium table div.entryAnimal a:hover,
#premium table div.entryMarine a:hover{
background:none;
}

#premium table th{
background-color:#FF9900;
height:3px;
margin:0;
}
#premium table dt{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar.gif) no-repeat left bottom;
position:relative;
}
#premium table dt img.tag{
width:70px;
height:70px;
position:absolute;
top:-5px;
left:-5px;
}
#premium table dd{
margin: 0px;
padding:5px 15px;
text-align:left;
}
#premium table dd.imageRight{
float:right;
}
#premium table dd.normal{
font-size:12px;
}
#premium table dd.date{
font-size:18px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
margin-top:5px;
}
#premium table dd.date .week{
font-size:12px;
}
#premium table dd.date .sun{
color:#FF0000;
}
#premium table dd.date .sat{
color:#0000FF;
}
#premium table dd.date .time{
font-size:14px;
}
#premium table dd.date .aside{
font-size:12px;
font-weight:normal;
}
#premium table .titleMenu{
font-size:14px;
color:#006633;
font-weight:bold;
}
#premium table .normal{
font-size:10px;
color:#333333;
font-weight:normal;
}
#premium table dd.date .normalText{
font-size:14px;
font-weight:normal;
}
#premium table dt .titleS{
font-size:12px;
}
#premium table dt .titleSS{
font-size:10px;
}



/* 熱中弾丸業界ツアー（dangantour.html） */
#dangantour table caption{
margin: 5px 0px 0px;
background:url(img_dangantour/main_title.jpg) no-repeat;
padding: 0px;
border: none;
height:120px;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
text-indent:-9999px;
}

#dangantour td{
background:url(img_animalfesta/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0 0 10px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
width:50%;
position:relative;
}

#dangantour table h4{
margin: 0px;
padding: 17px 5px 10px 70px;
/*background:url(img_animalfesta/table_title.gif) no-repeat left top;*/
color:#006600;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:386px;
}

#dangantour table div.entry,
#dangantour table div.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0 auto;
padding:0;
width:156px;
height:36px;
}
#dangantour table div.entry{
clear:both;
}
* html #dangantour table div.entry{
/* for ie6 */
position:absolute;
bottom:10px;
left:150px;
}
* html #dangantour td{
/* for ie6 */
padding-bottom:50px;
}
#dangantour table div.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#dangantour table div.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#dangantour table div.entry a:hover{
background:none;
}

#dangantour table th{
background-color:#FF9900;
height:3px;
margin:0;
}
#dangantour table dt{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar.gif) no-repeat left bottom;
position:relative;
}
#dangantour table dt img.tag{
width:70px;
height:70px;
position:absolute;
top:-5px;
left:-5px;
}
#dangantour table dd{
margin: 0px;
padding:5px 15px;
text-align:left;
}
#dangantour table dd.imageRight{
float:right;
}
#dangantour table dd.normal{
font-size:12px;
}
#dangantour table dd.date{
font-size:18px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
margin-top:5px;
}
#dangantour table dd.date .week{
font-size:12px;
}
#dangantour table dd.date .sun{
color:#FF0000;
}
#dangantour table dd.date .sat{
color:#0000FF;
}
#dangantour table dd.date .time{
font-size:14px;
}
#dangantour table dd.date .aside{
font-size:12px;
font-weight:normal;
}
#dangantour table .titleMenu{
font-size:14px;
color:#006633;
font-weight:bold;
padding-top:12px;
}
#dangantour table .titleMenu img{
margin-bottom:3px;
}

#dangantour table .normal{
font-size:10px;
color:#333333;
font-weight:normal;
}
#dangantour table dd.date .normalText{
font-size:14px;
font-weight:normal;
}
#dangantour table dt .titleS{
font-size:12px;
}
#dangantour table dt .titleSS{
font-size:10px;
}



/* プロの現場体験ツアー＆授業見学（protour.html） */
#protour table caption{
margin: 5px 0px 0px;
background:url(img_protour/main_title.jpg) no-repeat;
padding: 0px;
border: none;
height:120px;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
text-indent:-9999px;
}

#protour td{
background:url(img_animalfesta/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0 0 10px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
width:50%;
position:relative;
}

#protour table h4{
margin: 0px;
padding: 17px 5px 10px 50px;
background:url(../trial/img_agriculture/table_title.gif) no-repeat left top;
color:#006600;
font-size:16px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:386px;
}

#protour table div.entry,
#protour table div.entry a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0 auto;
padding:0;
width:156px;
height:36px;
}
#protour table div.entry{
clear:both;
}
* html #protour table div.entry{
/* for ie6 */
position:absolute;
bottom:10px;
left:150px;
}
* html #protour td{
/* for ie6 */
padding-bottom:50px;
}
#protour table div.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#protour table div.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#protour table div.entry a:hover{
background:none;
}

#protour table th{
background-color:#FF9900;
height:3px;
margin:0;
}
#protour table dt{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar.gif) no-repeat left bottom;
position:relative;
}
#protourtable dt img.tag{
width:70px;
height:70px;
position:absolute;
top:-5px;
left:-5px;
}
#protour table dd{
margin: 0px;
padding:5px 15px;
text-align:left;
}
#protour table dd.imageRight{
float:right;
}
#protour table dd.normal{
font-size:12px;
}
#protour table dd.date{
font-size:18px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
margin-top:5px;
}
#protour table dd.date .week{
font-size:12px;
}
#protour table dd.date .sun{
color:#FF0000;
}
#protour table dd.date .sat{
color:#0000FF;
}
#protour table dd.date .time{
font-size:14px;
}
#protour table dd.date .aside{
font-size:12px;
font-weight:normal;
}
#protour table .titleMenu{
font-size:14px;
color:#006633;
font-weight:bold;
padding-top:12px;
}
#protour table .titleMenu img{
margin-bottom:3px;
}

#protour table .normal{
font-size:10px;
color:#333333;
font-weight:normal;
}
#protour table dd.date .normalText{
font-size:14px;
font-weight:normal;
}
#protour table dt .titleS{
font-size:12px;
}
#protour table dt .titleSS{
font-size:10px;
}

/* ワンちゃん50匹大集合（50dog.html） */
div#dog50 {
width:833px;
margin:0 auto;
}

div#dog50 ul {
width:833px;
height:255px;
background:url(img_50dog/imagebg.jpg) no-repeat;
margin:0 0 10px 0;
padding:0;
list-style:none;
}

div#dog50 ul li {
margin:0 0 0 594px;
padding:0;
display:block;
width:239px;
height:49px;
}

div#dog50 ul li img {
margin:0;
padding:0;
vertical-align:bottom;/*画像の位置揃え。IE7,IE6,Fxで発生する余白を解消するため必須。*/
}

div#dog50 .form,
div#dog50 .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
div#dog50 .form{
background:url(../../img_entryform/entry_normal_on.gif) no-repeat;
}
div#dog50 .form a{
background:url(../../img_entryform/entry_normal.gif) no-repeat;
}
div#dog50 .form a:hover{
background:none;
}





/* optinal
-----------------------------------------*/
#optional ul {
	width:910px;
	margin:0 auto 20px auto;
	}
#optional ul li {
	list-style:none;
}
#optional ul li#map{
	background:url(img_optional/02.jpg) no-repeat center top;
	width:910px;
	margin:0 auto;
	height:483px;
	position:relative;
	}
#optional ul li#map img#culi{
	position:absolute;
	top:396px;
	left:32px;
	}
#optional ul li#map img#cre{
	position:absolute;
	top:396px;
	left:214px;
	}
#optional ul li#map img#eco{
	position:absolute;
	top:396px;
	left:396px;
	}
#optional ul li#map img#osm{
	position:absolute;
	top:396px;
	left:578px;
	}
#optional ul li#map img#dao{
	position:absolute;
	top:396px;
	left:760px;
	}
#optional .form,
#optional .form a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0px auto;
padding:0px;
width:156px;
height:36px;
}
#optional .form{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#optional .form a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#optional .form a:hover{
background:none;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------
2012NEW
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
#SPMain {
	width:615px;
	/*float:left;*/
}
#SPMain dl {
	margin-bottom:30px;
}
#SPMain dd {
	text-align:center;
	margin-top:15px;
}

/*#SPSub {
	width:278px;
	background:#f00;
	float:right;
	height:1000px;
	position:relative;
	}*/

#SPContens {
	position:relative;
}
#SPSub {
	position:absolute;
	top:0;
	right:0;

	width:278px;
	
	}
	
	#SPSub h2 {
		text-align:center;
		padding-top:20px;
		margin-bottom:20px;
	}

	#SPSub li {
		list-style:none;
		border-bottom:1px dotted #d2d2d2;
	}
		#SPSub li a {
			display:block;
			text-decoration:none;
			background:url(../../img_common/ico_yaji.png) right center no-repeat;
			padding:10px 10px 10px 0 ;
			word-break:break-all;
			word-wrap: break-word;			
		}
		#SPSub li a:hover {
			background:#DFFEB1 url(../../img_common/ico_yaji.png) right center no-repeat;
		}
		#SPSub li a p {
			text-decoration:none;
		}
		#SPSub li a p span {
			font-size:0.8em;
			color:#666;
			background:url(../img/ico_cal.png) left center no-repeat;
			padding-left:15px;
		}
	#SPSub #spBox img {
		float:left;
		margin-right:8px;
		margin-left:8px;
	}


/* Box Hegith
------------------------- */
#SPContens:after,
#SPSub li a:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html #SPContens,
* html #SPSub li a {
	zoom: 1;
} /* IE6 */
*:first-child+html #SPContens,
*:first-child+html #SPSub li a {
	zoom: 1;
} /* IE7 */
