@charset "utf-8";

/*トップページ専用*/

/*------------------------------*/
#container div.date{
font-size:20px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
vertical-align:bottom;
margin:5px 0px;
padding:0px 10px 0px;
}
#container div.boaderTop{
border-top:#CCCCCC dotted 2px;
margin-top:10px;
padding-top:10px;
}
#container div.date .week{
font-size:12px;
}
#container div.date .sun{
color:#FF0000;
}
#container div.date .sat{
color:#0000FF;
}
#container div.date .time{
font-size:14px;
}
#container div.date .aside{
font-size:12px;
font-weight:normal;
}
#container div.date .normalText{
font-size:14px;
font-weight:normal;
}

#container div.date dl{
width:550px;
margin:10px 0px;
}
#container div.date dt{
padding:10px;
border-top:#0066CC solid 1px;
color:#0066CC;
font-size:14px;
font-weight:normal;
}
#container div.date dd{
padding:0px 10px 10px;
color:#666666;
font-size:12px;
font-weight:normal;
}
#container div.date dd.last{
border-bottom:#0066CC solid 1px;
}


#container div.entry a,
#container div.detail a{
display:block;
padding:0px;
width:156px;
height:36px;
}
#container div.entry,
#container div.detail{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:10px 10px;
padding:0px;
width:156px;
height:36px;
}
#container div.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#container div.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#container div.detail{
background:url(../img_entryform/entry_detail_on.gif) no-repeat;
}
#container div.detail a{
background:url(../img_entryform/entry_detail.gif) no-repeat;
}
#container div.entry a:hover,
#container div.detail a:hover{
background:none;
}

/* テーブル使用 */

#container table caption{
margin: 5px 0px 0px;
background:url(img/main_title.jpg) no-repeat;
padding: 0px;
border: none;
height:120px;
width:930px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
text-indent:-9999px;
}

#container td{
background:url(img/table_bg.gif) repeat-x left bottom;
margin: 0px;
padding: 0 0 10px;
border: #CCCCCC solid 1px;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
vertical-align:top;
width:50%;
position:relative;
}

#container table h3{
margin: 0px;
padding: 17px 5px 10px 17px;
/*background:url(img/table_title.gif) no-repeat left top;*/
color:#006600;
font-size:18px;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-weight:bold;
text-align:left;
width:386px;
}

#container table div.entry,
#container table div.entry a,
#container table div.detail,
#container table div.detail a{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:0 auto;
padding:0;
width:156px;
height:36px;
}
#container table div.entry,
#container table div.detail{
clear:both;
}
* html #container table div.entry,
* html #container table div.detail{
/* for ie6 */
position:absolute;
bottom:10px;
left:150px;
}
* html #container td{
/* for ie6 */
padding-bottom:50px;
}
#container table div.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#container table div.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#container table div.entry a:hover{
background:none;
}

#container table th{
background-color:#FFFFFF;
height:3px;
margin:0;
}
#container table dt{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar.gif) no-repeat left bottom;
position:relative;
}
#container table dt.joinTd{
margin:0;
padding-bottom:5px;
background: url(../img_common/table_titlebar2.gif) repeat-x left bottom;
position:relative;
}
#container table dt img.tag{
width:70px;
height:70px;
position:absolute;
top:-5px;
left:-5px;
}
#container table dd{
margin: 0px;
padding:5px 15px;
text-align:left;
line-height:130%;
}
#container table dd.imageRight{
float:right;
}
#container table dd.normal{
font-size:12px;
}
#container table dd.date{
font-size:18px;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
font-weight:bold;
margin-top:5px;
}
#container table dd.date .week{
font-size:12px;
}
#container table dd.date .sun{
color:#FF0000;
}
#container table dd.date .sat{
color:#0000FF;
}
#container table dd.date .time{
font-size:14px;
}
#container table dd.date .aside{
font-size:12px;
font-weight:normal;
}
#container table .titleMenu{
font-size:14px;
color:#006633;
font-weight:bold;
}
#container table .normal{
font-size:10px;
color:#333333;
font-weight:normal;
}
#container table dd.date .normalText{
font-size:14px;
font-weight:normal;
}
#container table dt .titleS{
font-size:12px;
}
#container table dt .titleSS{
font-size:10px;
}
#container ul{
width:95%;
margin:10px auto;
}
#container li{
padding:2px 10px;
color:#0066CC;
font-size:14px;
font-weight:normal;
list-style:none;
}
#container li.blueLine{
padding:10px 10px;
border-top:#0066CC solid 1px;
}
#container li span{
padding:0px 0px 10px;
color:#666666;
font-size:12px;
font-weight:normal;
}