@charset "utf-8";
/* CSS Document */

/* サイドナビ
-----------------------------------------*/
#side div.oca100 {
	background:#FFF;
	display:block;
	padding-top:10px;
}
/* 現在ページハイライト
-----------------------------------------*/
body#media div#side ul li#nMedia a,
body#talk02 div#side ul li#nTalk02 a,
body#access div#side ul li#nAccess a,
body#event div#side ul li#nEvent a,
body#practice_class div#side ul li#nPractice a,
body#training div#side ul li#nTraining a,
body#training_education div#side ul li#nTraining a,
body#training_dog div#side ul li#nTraining a,
body#training_animal div#side ul li#nTraining a,
body#training_marine div#side ul li#nTraining a,
body#training_nature div#side ul li#nTraining a,
body#training_flower div#side ul li#nTraining a,
body#training_agriculture div#side ul li#nTraining a,
body#project div#side ul li#nProject a,
body#overseas_training div#side ul li#nOverseas a,
body#overseas_training_education div#side ul li#nOverseas a,
body#overseas_training_usa div#side ul li#nOverseas a,
body#overseas_training_australia div#side ul li#nOverseas a,
body#overseas_training_africa div#side ul li#nOverseas a,
body#overseas_training_abroad div#side ul li#nOverseas a,
body#w_curriculum div#side ul li#nWcurriculum a,
body#faq div#side ul li#nFaq a,
body#link div#side ul li#nLink a,
body#joboffer div#side ul li#nJoboffer a,
body#Social div#side ul li#nSocial a, 
body#authorize div#side ul li#nAuthorize a,
body#care div#side ul li#nCare a {
	background:#E7F5D8 url(../common/img02/ico_sub_arrow.png) no-repeat 5px 13px;
	color:#F90;
}



/* main
-----------------------------------------*/
/*div#main {
	clear:both;
	float:left;
	width:680px;
}*/

/*#main h2 {
	width:680px;
	height:52px;
	margin:0 0 12px 0;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:51px;
	text-indent:33px;
	background-image:url(img/h2_bg.gif);
}
h2 span {
	font-size:12px;
}*/

p.leadtext {
	clear:both;
	padding:5px;
}
p.leadtext strong {
	font-size:16px;
	font-weight:bold;
	color:#093;
}
p.normaltext {
	clear:both;
	padding:5px 10px;
	margin-bottom:25px;
}

#media h3,
#training h3,
#access h3,
#faq h3,
#joboffer h3,
#link h3,
#dormitory h3,
#support h3,
#practice_class h3,
#w_curriculum h3,
#authorize h3 {
	clear:both;
	width:676px;
	height:38px;
	margin:0 auto 5px;
	color:#81C928;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:18px;
	background-image:url(img/h3_bg.gif);
}

#access h4,
#faq h4,
#joboffer h4,
#link h4 {
	width:670px;
	margin:5px auto;
	padding:0.4em 0;
	text-indent:0.8em;
	background:#81C928;
	color:#FFF;
	line-height:1;
	font-size:14px;
}
	
div#textbox,
div.textbox{
	width:678px;
	margin:10px auto;
}

div#textbox strong{
	display:block;
	margin:0 0 15px 10px;
	font-size:16px;
	font-weight:bold;
	color:#009933;
	}
div.textbox01 strong,
div.textbox strong{
	display:block;
	margin:0 0 15px 10px;
	font-size:14px;
	font-weight:bold;
	color:#009933;
}

div#textbox p,
div.textbox01 p,
div.textbox p{
	margin:0 0 15px 10px;
}

.caption{
	font-size:10px;
	color:#666666;
}


/* #school
-----------------------------------------*/
#school #main h3 img{
	/*display:block;*/
	margin:20px 0 10px;
	}
#school #main div#schoolBox{
	background:url(img/bg_photo.jpg) no-repeat top center;
	/*width:670px;*/
	/*height:312px;*/
	padding:120px 0 0 10px;
	margin:0 auto 1px;
	position:relative;
	}
#school #main div#schoolBox ul {
	margin-left:-10px;
}
	#school #main div#schoolBox li {
		float:left;
		margin-left:10px;
		margin-bottom:10px;
	}
#school #main div#schoolBox p{
	margin:5px 5px;
	}
#school #main div#schoolBox p.mainTitle{
	color:#060;
	font-size:18px;
	font-weight:bold;
	margin:0;
	}
#school #main div#schoolBox p.detail{
	width:300px;
	border:3px #EEE solid;
	padding:10px;
	background:#FFF;
	font-size:10px;
	}
#school #main div#schoolBox p.name{
	padding:0 0 0 10px;
	margin:10px 10px 0;
	border-left:3px #060 solid;
	}
#school #main div#schoolBox p.name em{
	font-weight:bold;
	}
#school #main div#schoolBox p.name strong{
	font-size:16px;
	color:#060;
	}


#school #main div#schoolBox #btnTalk {
	margin:0;
	position:absolute;
	top:70px;
	right:-10px;
	}
	#school #main div#schoolBox #btnTalk a:hover img {
		margin-top:-3px;
	}

/* #faq
-----------------------------------------*/
div#faqhead {
	width:620px;
	margin:0 auto 45px auto;
	overflow:hidden;
}
div#faqhead ul {
	float:left;
	width:400px;
	margin:0;
}
div#faqhead ul li {
	display:block;
	float:left;
	width:200px;
	padding:3px 0;
}

ul.faqlist {
	width:660px;
	padding:0;
	margin:0 auto;
}
ul.faqlist li {
	margin:0;
	padding:15px 20px;
	_padding:0 20px 15px;
}

ul.faqlist li.odd {
	background:#FFC;
}
ul.faqlist dt {
	color:#F30;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #F30;
	margin-bottom:5px;
}

span.example {
	display:block;
	margin-top:10px;
}

span.attention {
	color:#F00;
}


/* joboffer.html
-----------------------------------------*/
img.rightimage {
	float:right;
	margin-left:10px;
}








/* access.html
-----------------------------------------*/
dl#location {
	width:660px;
	margin:0 auto;
	padding-bottom:30px;
}
dl#location dt {
	float:left;
}
dl#location dt img {
	margin-right:10px;
}
dl#location dd {
}

iframe {
	margin:0 11px;
	padding-bottom:10px;
}

ul#way {
	width:660px;
	margin:0 auto;
	padding-bottom:10px;
}
ul#way li {
	list-style:disc;
	margin-left:30px;
	padding:0.2em 0;
}

ol#route {
	width:660px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:20px;
}
ol#route li {
	width:220px;
	float:left;
	text-align:left;
	background:url(img_access/arrow.gif) no-repeat 198px 65px;
	font-size:10px;
	line-height:1.2;
	padding-bottom:10px;
}
ol#route li.lastChild {
	background:none;
	width:200px;
}
ol#route li.secondline {
	padding-left:240px;
	background:url(img_access/arrow.gif) no-repeat 438px 65px;
}

ul#maplink {
	clear:both;
	width:660px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:20px;
}
ul#maplink li {
	width:180px;
	float:left;
	font-size:10px;
	line-height:1.2;
	padding:0 20px;
}
ul#maplink span.MLshosai {
	font-weight:bold;
	color:#38982E;
}
ul#maplink span.MLprint {
	font-weight:bold;
	color:#E52E4F;
}
ul#maplink span.MLtrain {
	font-weight:bold;
	color:#005092;
}

div#accessguide {
	text-align:center;
}





/* link.html
-----------------------------------------*/
div#linkimage {
	width:654px;
	margin:0 auto;
	padding:5px 0 30px 0;
	text-align:center;
}


ul.linklist {
	width:660px;
	margin:0 auto;
	overflow:hidden;
	padding:5px 0 30px 0;
}
ul.linklist li {
	width:320px;
	float:left;
	padding:2px 0 2px 10px;
}
ul.linklist li span {
	font-size:10px;
}

/* practice_class
-----------------------------------------*/

#practice_class h4{
	clear:both;
	width:660px;
	margin:10px;
	font-size:14px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#80C728;
}

#practice_class #mainInner strong {
	display:block;
	margin:0 0 15px 10px;
	font-size:14px;
	font-weight:bold;
	color:#009933;
}

#practice_class .practicebox1{
	clear:both;
	width:660px;
	overflow:hidden;
	margin: 0 0 10px 10px;
}

#practice_class .practicebox1 .leftimg{
	float:left;
	margin-right:10px;
}


#practice_class .practicebox1 h5{
	height:40px;
	color:#7FC627;
}

#practice_class .practicebox1 h5.box2h5{
	height:20px;
}


#practice_class .practicebox1 p{
	height:78px;
}

#practice_class .practicebox1 p.box2p{
	height:128px;
}

#practice_class .practicebox1 p.box3p,
#practice_class .practicebox1 p.box9p{
	height:108px;
}

#practice_class .practiceboxp{
	width:660px;
	margin: -5px 0 0 10px;
}

#practice_class .practicebox2set{
	clear:both;
	width:660px;
	margin:0 0 10px 10px;
	overflow:auto;
}

#practice_class .practicebox2{
	float:left;
	width:210px;
	padding:0 10px 10px 0;
}

#practice_class .practicebox2 h5{
	background-color:#C4EA95;
	margin-bottom:5px;
	text-align:center;
}
#practice_class .practicebox2 p{
	font-size:10px;
}

#practice_class .practicebox2 img{
	float:left;
	margin-right:5px;
}




/* training
-----------------------------------------*/
#training div#box{
	margin:20px 0px 20px 3px;
	padding:0px;
}

#training div.cell20{
	margin:0px 0px 20px 0px;
	padding:0px;
}

#training div.wd519{
	width:519px;
}


#training div.left{
	float:left;
}

#training div.right{
	float:right;
}




#training #main li{
	float:left;
	margin:3px;
	display:inline;
}

#training div#textbox{
	height:470px;
	background:url("img_training/bg_training_map.gif");
}

#training div#textbox strong{
	display:block;
	width:380px;
}

#training div#textbox p{
	width:300px;
}

#training_navi li{
	display:inline;
	float:left;
	margin:0 0 10px 1px;
}

#main #page_navi{
	clear:both;
	display:block;
	width:670px;
	height:25px;
	margin:0 0 10px 5px;
}

#main #page_navi a,
#main #page_navi a:hover,
#main #page_navi a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

#training_dog #main #page_navi{
	background:#FF9933;
}

#training_dog #main #page_navi{
	background:#FF9933;
}

#training_animal #main #page_navi{
	background:#FF4618;
}

#training_marine #main #page_navi{
	background:#118CCF;
}

#training_nature #main #page_navi{
	background:#1B967B;
}

#training_flower #main #page_navi{
	background:#FF6600;
}

#training_agriculture #main #page_navi{
	background:#7FBE25;
}

#trainingblock h3{
	clear:both;
	width:680px;
	height:38px;
	margin:0 0 10px 0;
	font-size:14px;
	font-weight:bold;
	line-height:38px;
	text-indent:25px;
}

#main #page_navi li{
	display:inline;
	float:left;
	height:25px;
	color:#FFFFFF;
	font-size:12px;
	line-height:25px;
	text-indent:8px;
	margin-left:20px;
	background:url("img/pagenavi_arrow.gif") no-repeat 0 50%;
}

#training_dog h3{
	color:#FF9933;
	background-image:url(img/h3_dog.gif);
}

#training_animal h3{
	color:#FF4618;
	background-image:url(img/h3_animal.gif);
}

#training_marine h3{
	color:#118CCF;
	background-image:url(img/h3_marine.gif);
}

#training_nature h3{
	color:#1B967B;
	background-image:url(img/h3_nature.gif);
}

#training_flower h3{
	color:#FF6600;
	background-image:url(img/h3_flower.gif);
}

#training_education h3,
#training_agriculture h3{
	color:#7FBE25;
	background-image:url(img/h3_agriculture.gif);
}

#training_education .hosoku {
	clear:both;
	color:#666;
	border-top:1px dotted #666;
	margin:0 5px;
	font-size:0.8em;
	}

#training_education .hosoku span {
	width:190px;
	display:block;
	float:right;
	}
div.traininglistbox{
width:680px;
clear:both;}

div.trainingbox {
	float:left; 
	width:328px;
	margin:5px 0 10px 5px;
	border:#CCCCCC 1px solid;
}

div.trainingbox h4 {
	display:block;
	margin:0 3px;
	padding:5px;
	border-bottom:#CCCCCC 1px solid;
	font-size:14px;
	color:#FF9933;
}

#training_education h4{
	color:#7FBE25;
}

#training_dog h4{
	color:#FF9933;
}

#training_animal h4{
	color:#FF4618;
}

#training_marine h4{
	color:#118CCF;
}

#training_nature h4{
	color:#1B967B;
}

#training_flower h4{
	color:#FF6600;
}

#training_agriculture h4{
	color:#7FBE25;
}

div.trainingbox img {
	float:left;
	padding:5px;
}

div.trainingbox p{
	font-size:12px;
	padding:5px;
	display:block;
}

.blockcaption{
	font-size:10px;
}

.internshipslist table{
	clear:both;
	width:669px;
	margin:10px 0 15px 5px;
	border: 1px solid #CCCCCC;
}
	
.internshipslist table .odd {
    background-color: #DBF2BD;
}

.internshipslist table td{
	width:33%;
	padding:5px;
	font-size:10px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

#SuccessJob {
	width:300px;/*320*/
	padding:10px;
	background:#F36;
	float:right;
	margin-left:20px;
	margin-bottom:15px;
	background:#DBF2BD;
	}
#SuccessJob img {
	float:left;
	margin:0 10px 10px 0;
}
#SuccessJob h4 {
	color:#00A73B;
	font-weight:bold;
	font-size:1.1em;
	}
#SuccessJob dl {
	font-size:0.8em;
	color:#666;
	margin-bottom:10px;
}


/* #event
-----------------------------------------*/

#event #eventimg img{
	padding:0px;
	margin:0 0 0 20px;
}
		
#eventlist{
	clear:both;
}

#eventlist .fixHeightNAuto{
	clear:both;
	padding-top:10px;
}

#eventlist .eventbox{
	clear:both;
	display:inline;
	float:left;
	width:650px;
	padding:10px;
	margin:10px 0 0 3px;
	border:#CCCCCC 1px solid;
	background:url(img_event/bg_event.jpg) no-repeat top center;
	overflow:hidden;
}


#eventlist .eventboxtitle h3{
	font-size:16px;
	font-weight:bold;
	color:#009933;
	background:#CEEAF2;
	padding:10px;
}

#eventlist .eventbox strong{
	display:block;
	font-size:12px;
	margin:10px;
}

#eventlist .supportlist strong{
	display:inline;
}

#eventlist .eventboximg{
	float:left;
	margin:0 5px 5px 0;
}

#eventlist .eventbox p,
#eventlist .eventbox img{
	padding:3px;
}

#event .eventbody{
	padding:5px;
}

#eventlist .voicebox{
	float:right;
	margin:0 0 5px 0;
	width:339px;
	background-color:#CEEAF2;
}

#eventlist .voicebox strong{
	float:left;
	padding:0 0 0 5px;
	font-size:12px;
	font-weight:bold;
	margin:0px;
	color:#000000;
}

#eventlist .voicebox strong span{
	font-size:10px;
	font-weight:normal;
	color:#157AAE;
}

#eventlist .voicebox p{
	float:right;
	padding:5px;
	width:245px;
	font-size:10px;
	line-height:1.3;
}

#eventlist .voiceimg{
	float:left;
}

#eventlist .voicebox img{
	padding:3px;
}

#event .endbox {
	margin-bottom:20px;
}

/* project
-----------------------------------------*/

#project #main #project_navi li{
	float:left;
	margin:3px;
	display:inline;
}

#projectlist{
	clear:both;
}

#projectlist .fixHeightNAuto{
	clear:both;
	padding-top:10px;
}

#projectlist .projectbox{
	clear:both;
	display:inline;
	float:left;
	width:670px;
	margin:10px 0 0 3px;
	border:#CCCCCC 1px solid;
	background:url(img_project/bg_project.jpg) no-repeat top center;
	overflow:hidden;
}

#projectlist .projectboxset{
	display:inline;
	float:left;
	width:330px;
	margin-left:4px;
	border:#CCCCCC 1px solid;
	background:url(img_project/bg_projectset.jpg) no-repeat top center;
	overflow:hidden;
}

#projectlist .projectbox h3{
	margin:5px 0 0 7px;
	font-size:16px;
	line-height:15px;
	font-weight:bold;
	color:#009933;
	line-height:1.3;
}
#projectlist .projectboxset h3{
	margin:5px 0 0 7px;
	font-size:14px;
	line-height:15px;
	font-weight:bold;
	color:#009933;
	line-height:1.3;
}

#projectlist .projectbox h3 span{
	font-size:12px;
}

#projectlist .icon{
	float:left;
	margin-left:2px;
}

#projectlist .supportlist .icon{
	float:none;
}

#projectlist .projectbox strong{
	display:block;
	font-size:12px;
	color:#009933;
}
#projectlist .projectboxset strong{
	display:block;
	font-size:10px;
	color:#009933;
}

#projectlist .supportlist strong{
	display:inline;
}

#projectlist .projectboximg{
	float:left;
	margin:5px 5px 5px 0;
}

#projectlist .projectbox p,
#projectlist .projectbox img,
#projectlist .projectboxset p,
#projectlist .projectboxset img {
	padding:3px;
}

#projectlist .projectbox .projectboxtitle,
#projectlist .projectboxset .projectboxtitle{
	height:60px;
}


#projectlist .projectbox .fixHeightChild{
	width:657px;
	border-top:#82C929 1px solid;
	margin-left:6px;
}

#projectlist .projectboxset .fixHeightChild{
	border-top:#82C929 1px solid;
	width:320px;
	margin-left:5px;
}

#sunameri{
	float:right;
}

#projectlist .projecttext{
	margin-left:10px;
	font-size:12px;
	line-height:18px;
}

#projectlist .projecttext01{
	margin-left:10px;
	font-size:12px;
	line-height:16px;
}

#projectlist .voice{
	float:right;
	width:345px;
	background-color:#CEEAF2;
}

#projectlist .voice strong{
	float:right;
	width:255px;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}

#projectlist .voice strong .captionvoice{
	font-size:10px;
	font-weight:normal;
	color:#157AAE;
}

#projectlist .voice p{
	float:right;
	width:255px;
	font-size:10px;
	line-height:12px;
}

#projectlist .voiceimg{
	float:left;
}

#projectlist .voice img{
	padding:3px;
}

.table_project{
	clear:both;
	padding:20px 0 0 5px;
	width:665px;
}

.table_project table {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	padding: 2px;
	font-size:10px;
}
.table_project table caption{
	font-size:14px;
	color:#F90;
}

.table_project td {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	padding: 5px;
}

.table_project th {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	background-color:#E8FFE8;
	padding: 5px;
	text-align:center;
	font-weight:normal;
	color:#333333;
	font-size:12px;
}

.table_project .colortr {
	background-color:#ffffcc;
	text-align:center;
}

.table_project .colortd {
	background-color:#ffffcc;
}


/* overseas_training
-----------------------------------------*/
#overseas_training .textbox .overseasimg{
	float:right;
	margin-left:10px;
}
.textbox .overseasmark,
.textbox2 .overseasmark{
	float:left;
	margin: 0 10px 20px 5px;
}

#overseas_training .textbox2{
	clear:both;
}
	
#overseas_training .textbox{
	clear:both;
	width:670px;
/*	height:250px;*/
	margin:0 0 10px 0px;
}

#overseas_training_education .textbox2{
	border:5px solid #EEE;
	padding:5px;
}
#overseas_training_education .textbox2 strong{
	display:block;
	margin:3px 0;
	font-size:20px;
	font-weight:bold;
	color:#009933;
}
#overseas_training_education .textbox2 p{
	margin:0px;
	font-size:14px;
}

#overseas_training_education .textbox,
#overseas_training_usa .textbox,
#overseas_training_australia .textbox,
#overseas_training_africa .textbox{
/*height:105px;*/
}
#overseas_training #overseas_index_navi{
	margin:5px;
}

#overseas_training #overseas_index_navi li{
	display:inline;
	float:left;
	margin:0 0 10px 1px;
}

ul#overseas_navi{
	height:78px;
	margin-left:5px;
	padding-bottom:10px;
}

#overseas_navi li{
	display:inline;
	float:left;
}

#overseas_training_education .educationbox{
	clear:both;
	width:670px;
	height:170px;
	padding:10px 5px 10px 5px;
	background:url(img_overseas_training/img_overseas_bg.gif) repeat-x left;
}

#overseas_training_education .educationbox .leftimg,
#overseas_training_education .staffbox .leftimg{
	float:left;
	padding:0 5px;
}

#overseas_training_education .educationbox .centerbox{
	float:right;
	display:block;
	width:240px;
	height:170px;
	margin-right:5px;
}
#overseas_training_education .educationbox .leftbox{
	float:left;
	width:480px;
	height:170px;
}
#overseas_training_education .educationbox .rightbox{
	float:right;
	width:175px;
	padding:3px;
	background-color:#FFFFFF;
}

#overseas_training_education .educationbox .smalltext{
	clear:both;
	font-size:10px;
	padding:3px 0 0 5px;
	width:170px;
}

#overseas_training_education .staffbox{
	clear:both;
	height:70px;
	padding:15px 5px 25px 5px;
}
#overseas_training_education .staffbox .smalltext{
	padding:5px 10px 0 0;
	font-size:10px;
}

#overseas_training_education .staffbox .leftbox{
	float:left;
	width:260px;
	height:70px;
	border-right:1px solid #82C929;
}

#overseas_training_education .usabox .leftbox{
	width:210px;
}

#overseas_training_education .staffbox .rightbox{
	float:right;
	width:400px;
	height:70px;
}

#overseas_training_education .usabox .rightbox{
	width:450px;
}

#overseas_trainingbox{
	clear:both;
	overflow:auto;
	width:670px;
	height:auto;
	margin-left:5px;
	padding-bottom:20px;
}

#overseas_trainingbox .leftbox{
float:left;
}
#overseas_trainingbox .rightbox{
	display:inline;
	float:right;
	width:323px;
	height:auto;
	border-top:7px solid #82C929;
	background:url(img_overseas_training/img_overseas_bg.gif) repeat-y left;
}
#overseas_trainingbox .rightbox .rightboxtext{
	width:310px;
	padding:5px 5px;
}

#overseas_trainingbox #voicebox{
	overflow:none;
	margin:-5px 0 10px 8px;
	padding:0;
	width:305px;
	height:140px;
	background-color:#FFFFFF;
}
#overseas_training_australia #overseas_trainingbox #voicebox{
	margin-top:5px;
	border-top:5px solid #82C929;
}
#overseas_trainingbox .rightbox #voicebox p{
	float:left;
	width:210px;
	padding:0px;
	
	text-align:justify;
	background-color:#FFFFFF;
	margin-bottom:5px;
}

#overseas_trainingbox .rightbox .voice{
	float:left;
	padding:3px;
}
#overseas_trainingbox h4{
	font-size:12px;
	font-weight:bold;
	color:#82C929;
	margin:2px;
}

#overseas_trainingbox .captionvoice{
	font-size:12px;
	font-weight:normal;
	color:#009900;
}

#overseas_trainingbox .rightbox img{
	padding: 0 0 5px 8px;
}

#overseas_trainingbox .rightbox .smalltext{
	width:300px;
	font-size:10px;
}

#overseas_schedule img{
	clear:both;
}




#overseas_training_abroad .abroadboxset{
	clear:both;
	marin-top:20px;
	width:670px;

}
#overseas_training_abroad .abroadboxsetleft{
	float:left;
	width:80px;
}
#overseas_training_abroad .abroadboxsetright{
	float:right;
	width:580px;
}


#overseas_training_abroad  #abroadbox01 .leftbox{
	float:left;
	width:160px;
}

#overseas_training_abroad  #abroadbox01 .rightbox{
	float:right;
	width:380px;
}

#overseas_training_abroad #abroadbox01{
	padding:10px;
	margin:20px 0;
	border: #CCCCCC solid 1px;
}
	
	
#overseas_training_abroad #abroadbox01 h4 {
	clear:both;
	width:100%;
	margin:15px 0 5px 0;
	font-size:14px;
	text-align:center;
	text-indent:10px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#CCCCCC;
}


#overseas_training_abroad #abroadbox01 tr {
	font-size:10px;
	line-height: 180%;
}
#overseas_training_abroad #abroadbox01 td {
	border-bottom: #aaaaaa dotted 1px;
}

#overseas_training_abroad #abroadbox02{
	clear:both;
	width:570px;
}

#overseas_training_abroad #abroadbox02 img {
	float:left;
	width:auto;
	padding:0 10px 0 8px;
}

#overseas_training_abroad #abroadbox02 p {
	display:block;
	float:right;
	width:150px;
	text-align:justify;
	overflow:hidden;
}

#overseas_training_abroad #abroadbox03{
	clear:both;
}

#overseas_training_abroad #abroadbox03 .voicebox{
	float:left;
	width:278px;
	padding:3px 5px 0 5px;
	font-size:10px;
	text-align:justify;
}

#overseas_training_abroad #abroadbox03 .voicebox h4{
	width:100%;
	margin:5px 0 5px 0;
	font-size:12px;
	text-align:center;
	text-indent:10px;
	letter-spacing:1em;
	color:#FFFFFF;
	background-color:#0066cc;
}

#overseas_training_abroad #abroadbox03 .voicebox .leftbox{
	float:left;
	width:90px;
}

#overseas_training_abroad #abroadbox03 .voicebox strong{
	font-size:12px;
	padding-bottom:8px;
}

#overseas_training_abroad .abroadbold{
	display:block;
	padding:20px 0 0 5px;
	font-size:14px;
	font-weight:bold;
	color:#009933;
}

#overseas_training_abroad #abroadbox04{
	width:570px;
	clear:both;
	border:#CCCCCC 1px solid;
	margin:10px 0;
	overflow:auto;
}

#overseas_training_abroad .abrodinternshipbox {
	float:left; 
	width:270px;
	margin:5px 5px 10px 5px;
	font-size:10px;
}

#overseas_training_abroad .abrodinternshipset{
	clear:both;
}

#overseas_training_abroad .abrodinternshipbox h4 {
	display:block;
	margin:0 3px;
	padding:5px;
	border-bottom:#CCCCCC 1px solid;
	font-size:12px;
	color:#009933;
}

#overseas_training_abroad .abrodinternshipbox img {
	float:left;
	padding:5px;
}

#overseas_training_abroad .abrodinternshipbox p {
	padding:3px;
}

h3.overseas_training {
	background:#82C929;
	padding:5px;
	color:#FFF;
	}
h3.overseas_training span {
	font-size:0.9em;
	}
.weeklySchedule {
	width:100%;
}
.weeklySchedule th,
.weeklySchedule td {
	padding:3px;
}
.weeklySchedule th {
	white-space:nowrap;
	background:url(img_overseas_training/img_overseas_bg.gif);
	}
.weeklySchedule td {
	vertical-align:top;
	font-size:0.8em;
	background:#F4FBEC;
	border:1px solid #fff;
}






/* w_curriculum
-----------------------------------------*/

#w_curriculum h3{
}


#w_curriculum .caption{
	margin: 0 0 10px 20px;
	color:#000;
}

#w_curriculum h4{
	box-sizing: border-box;
	padding:5px;
	clear:both;
	/*width:660px;*/
	margin:10px;
	font-size:14px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#80C728;
	border-radius:4px;
}

#w_curriculum .studentboxtitle{
	width:670px;
	padding:10px 10px 0;
}

#w_curriculum .studentboxtitle div{
	display:inline;
	float:left;
}


#w_curriculum .studentboxtitle h4{
	display:inline;
	float:left;
	width:189px;
	margin:0 36px 20px 0;
	_margin:0 26px 10px 0;
	padding:3px 0;
	font-size:14px;
	text-indent:10px;
	color:#FFFFFF;
	background-color:#80C728;
	}


#w_curriculum .studentboxtitle .righth4{
	display:inline;
	float:left;
	width:209px;
	margin-right:0px;
}

.studentboxset{
	clear:both;
	overflow:hidden;
	height:255spx;
	margin:0 0 20px 10px;
}

#w_curriculum .studentbox1,
#w_curriculum .studentbox2,
#w_curriculum .studentbox3{
	_display:inline;
	float:left;
	width:185px;
	border: 2px solid #CCCCCC;
	height:auto;
	overflow:none;
	padding:1px;
}

#w_curriculum .studentbox1 strong,
#w_curriculum .studentbox1 p,
#w_curriculum .studentbox3 strong,
#w_curriculum .studentbox3 p{
	display:block;
	padding:5px 5px 0px 5px;
}


#w_curriculum .studentbox1 p{
	height:49px;
}


#w_curriculum .studentbox3{
	width:205px;
}

#w_curriculum .studentbox3 strong{
	font-weight:normal;
	line-height:13px;
	}
#w_curriculum .studentbox3 p{
	border-top: 1px solid #FF6666;
	font-size:10px;
	line-height:11px;
	padding:5px 0 0 0;
	margin:3px;
}

#w_curriculum .leftimg{
	float:left;
	margin-top:120px;
}

#w_curriculum .imgover{
	overflow:hidden;
}

#w_curriculum #main h5{
	height:23px;
	color:#FFFFFF;
	background-color:#FF6666;
	font-size:13px;
	text-indent:5px;
}


#w_curriculum #main .marineh5{
	background-color:#0094df;
}

#w_curriculum #main .natureh5{
	background-color:#00bc3d;
}

#w_curriculum #main .zooh5{
	background-color:#c17532;
}


.curriculumboxlist{
	clear:both;
}

#w_curriculum .curriculumbox{
	_display:inline;
	float:left;
	width:195px;
	margin:0 0 10px 10px;
	border: 1px solid #CCCCCC;
	height:auto;
	overflow:none;
	padding:8px;
}

#w_curriculum .curriculumbox strong{
	color:#FF6600;
}
#w_curriculum .curriculumbox strong span{
	font-size:10px;
}
#w_curriculum .curriculumbox p {
	border-top:#FF6600 1px solid;
	margin-top:5px;
	padding-top:5px;
}
	#w_curriculum .OneInterview {
		width:315px;
	}

	#w_curriculum .OneInterview img:first-child {
		float:left;
		margin-right:10px;
		margin-bottom:10px;
		}
	#w_curriculum .OneInterview dt {
		font-size:0.8em;
		color:#666;
		margin-bottom:10px;
	}
	#w_curriculum .OneInterview dd {
		font-weight:bold;
		color:#80C728;
		font-size:1.1em;
	}
	#w_curriculum .OneInterview p {
		clear:both;
	}
.Wpoint {
	margin-top:-80px;
}
.Wpoint li {
	font-size:1.4em;
	color:#F60;
	font-weight:bold;
	}
	.Wpoint li:before {
		content: "●"	
	}
.kaikoKouza {
	margin:10px;
}	
.kaikoKouza li {
	width:33.3%;
	float:left;
	margin-bottom:5px;
	}
	.kaikoKouza li:before {
		content: "●";
		color:#80c728;
	}

/* talk02
-----------------------------------------*/
#talk02 h3 {
	margin:0 0 20px 0;
	padding:0;
	background:none;
	font-weight:normal;
	position:relative;
}
#talk02 h3 p {
	width:420px;
	position:absolute;
	right:20px;
	top:20px;	
	}
#talk02 h4 {
	background:#82C929;
	color:#FFF;
	font-size:1.4em;
	padding:0 10px;
	margin-bottom:35px;
	line-height:26px;
	}
#talk02 #main dt {
	font-weight:bold;
}
#talk02 .person01,
#talk02 .person02,
#talk02 .person03 {
	margin-bottom:20px;	
	}
#talk02 .person01 dt {
	color:#7FC926;
	}
#talk02 .person02 dt {
	color:#267DCB;
	}
#talk02 .person03 dt {
	color:#CC2550;
	}


#talk02 .person01 dt,
#talk02 .person01 dd,
#talk02 .person02 dt,
#talk02 .person02 dd,
#talk02 .person03 dt,
#talk02 .person03 dd {
	display:inline;
	}
#talk02 .prof dl {
	margin-top:5px;
}
#talk02 .prof dt {
	color:#7FC926;
}
#talk02 .prof dd {
	font-size:0.8em;
}

/* 国際部へのリンク
-----------------------------------*/
div#international {
	margin-top:5px;
	float:right;
}
/* media と　authorize
-----------------------------------*/
body#media .OneSet,
body#media .OneSet {
	padding:0 10px;
}
body#media .OneSet dd,
body#authorize .OneSet dd {
	margin-top:10px;
}
body#media .OneSet img {
	float:left;
	margin:0 15px 15px 0 ;
	padding:1px;
	border:1px solid #DFDFDF;
	}
	body#media .OneSet a img:hover {
		opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=75); /* IE lt 8 */
		-ms-filter: "alpha(opacity=75)"; /* IE 8 */
		-khtml-opacity: .75; /* Safari 1.x */
		-moz-opacity: .75; /* FF lt 1.5, Netscape */
	}
body#media .largeText {
	text-align:right;
	margin-bottom:10px;
	color:#F90;
	font-weight:bold;
}
body#media .largeText span {
	background:url(img_media/ico_large.png) left center no-repeat;
	padding-left:20px;
	line-height:18px;
	display:inline-block;
	}
body#media .inquiry {
	background:#EEE;
	padding:10px;
	}
body#media .inquiry dt {
	border-bottom:1px dotted #999;
	font-weight:bold;
	margin-bottom:5px;
	}

/* 
-----------------------------------*/
.FollowBox {
	padding:10px 0;
	border-bottom:1px dotted #DFDFDF;
	}
.FollowBox > a {
	width:100px;
	display:block;
	float:left;
	}
.AcName {
	width:300px;
	float:left;
	font-family:UDTypos512;
	}
	.AcName strong {
		font-size:1.8em;
		}
	.AcName a {
		text-decoration:none;
		color:#292929;
	}
.info_txt {
	width:390px;
	float:left;
	}

.FollowBox:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
* html .FollowBox {
	zoom: 1;
} /* IE6 */
*:first-child+html .FollowBox {
	zoom: 1;
} /* IE7 */

.FollowBox > a:hover img {
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}

