@charset "utf-8";

/*トップページ専用*/

/*------------------------------*/

#dormitory #container h3 {
display:block;
color:#330066;
font-size:16px;
font-weight:bold;
margin:20px 10px -15px 10px;
}

#dormitory #container p {
width:605px;
margin:10px 30px 10px 10px;
font-family:"ＭＳ ゴシック", "Osaka－等幅";
font-size:12px;
color:#333333;
}

#dormitory #container p.point {
background-color:#330066;
color:#FFFFFF;
padding:5px;
font-weight:bold;
margin-top:20px;
}

#dormitory #container p.freedial {
	width:612px;
	border:#330066 1px solid;
	padding:8px;
	font-size:10px;
	margin:20px 10px;
}
