@charset "utf-8";

/*トップページ専用*/

/*------------------------------*/
#container div.boaderTop{
border-top:#CCCCCC dotted 2px;
margin-top:10px;
padding-top:10px;
}

#container div.boaderTop .banner{
/*	width:489px;*/
	margin:10px auto 20px;
}

#international #container p.application {
width:240px;
background-color:#00CC99;
margin:5px;
padding:5px;
float:left;
font-size:12px;
}

#international #container p.interview {
width:240px;
background-color:#3399FF;
margin:5px;
padding:5px;
float:left;
font-size:12px;
}

#international #container p.examination {
width:240px;
background-color:#FF9933;
margin:5px;
padding:5px;
float:left;
font-size:12px;
}

#international #container p.expense {
width:240px;
background-color:#FF99CC;
margin:5px;
padding:5px;
float:left;
font-size:12px;
}
#international #container p.explanationtext {
font-size:16px;
color:#FF3300;
font-weight:bold;
}


#international #container #explanationMenu {
width:530px;
margin:10px auto;
padding:10px;
border:#999999 solid 1px;
}

#trialMenu{
width:932px;
margin:15px 0px 15px;
}
#trialMenu p.menuText{
padding:3px 10px;
color:#FF3300;
font-size:16px;
font-weight:bold;
}
#trialMenu ul{
display:block;
margin:0px;
padding:0px;
}
#trialMenu li a{
display:block;
margin:0px;
padding:0px;
height:231px;
}
#trialMenu li{
display:block;
margin:2px;
padding:0px;
height:231px;
}
#trialMenu li{
float:left;
width:306px;
}
#trialMenu li a{
overflow:hidden;
text-indent:-9999px;
}
#trialMenu li#dogMenu{
background:url(img/dog_menu_on.jpg) no-repeat;
}
#trialMenu li#dogMenu a{
background:url(img/dog_menu.jpg) no-repeat;
}
#trialMenu li#animalMenu{
background:url(img/animal_menu_on.jpg) no-repeat;
}
#trialMenu li#animalMenu a{
background:url(img/animal_menu.jpg) no-repeat;
}
#trialMenu li#marineMenu{
background:url(img/marine_menu_on.jpg) no-repeat;
}
#trialMenu li#marineMenu a{
background:url(img/marine_menu.jpg) no-repeat;
}
#trialMenu li#natureMenu{
background:url(img/nature_menu_on.jpg) no-repeat;
}
#trialMenu li#natureMenu a{
background:url(img/nature_menu.jpg) no-repeat;
}
#trialMenu li#flowerMenu{
background:url(img/flower_menu_on.jpg) no-repeat;
}
#trialMenu li#flowerMenu a{
background:url(img/flower_menu.jpg) no-repeat;
}
#trialMenu li#agricultureMenu{
background:url(img/agriculture_menu_on.jpg) no-repeat;
}
#trialMenu li#agricultureMenu a{
background:url(img/agriculture_menu.jpg) no-repeat;
}
#trialMenu li#dogMenu a:hover,
#trialMenu li#animalMenu a:hover,
#trialMenu li#marineMenu a:hover,
#trialMenu li#natureMenu a:hover,
#trialMenu li#flowerMenu a:hover,
#trialMenu li#agricultureMenu a:hover{
background:none;
}

#container p.entry a{
display:block;
padding:0px;
width:156px;
height:36px;
}
#container p.entry{
overflow:hidden;
text-indent:-9999px;
display:block;
margin:10px auto;
padding:0px;
width:156px;
height:36px;
}
#container p.entry{
background:url(../img_entryform/entry_normal_on.gif) no-repeat;
}
#container p.entry a{
background:url(../img_entryform/entry_normal.gif) no-repeat;
}
#container p.entry a:hover{
background:none;
}